backup_24_04_25_21_02/Backup-C6XbnWzgZu93Ycid.json
{"createdAt":"2025-04-23T12:56:07.278Z","updatedAt":"2025-04-24T18:02:45.209Z","id":"C6XbnWzgZu93Ycid","name":"Backup","active":false,"nodes":[{"parameters":{},"id":"6c53385a-2af8-46a9-aca9-8fcf7b5fa27c","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-7700,1060]},{"parameters":{"options":{}},"id":"5028f426-111c-43f1-bf47-096f49c1f9f7","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-7500,1060]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"f7d4e8db-199b-4106-ada0-ad6bf3f2370b","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-7300,1060]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"1c7a683c-e1f7-4474-a458-3992daecd7f8","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-7100,1060]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/NikaLightman/n8n_backup","mode":"url"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/NikaLightman/n8n_backup"},"filePath":"="},"id":"de48025b-bac1-4d3c-8517-2cda96dc2d6d","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-6900,1060],"alwaysOutputData":true,"webhookId":"46e44e38-c3ba-470c-a86f-15e26dfb194e","credentials":{"githubOAuth2Api":{"id":"YODjm3wxMnqIdmT7","name":"VM_GitHub_account_oauth"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"9bd8541e-e974-4ce0-993c-7c021b149a53","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-6700,1060]},{"parameters":{"filters":{},"requestOptions":{}},"id":"f2c7c7c2-3a92-40e0-b081-8bac8759de0e","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-6500,1060],"credentials":{"n8nApi":{"id":"5WXMYTFkIPYhyzHE","name":"VM_n8n_account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-') }}-{{ $json.id }}.json"}},"id":"c41fb3e0-f834-436b-92fc-e22efcaf7c67","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-6300,1060]},{"parameters":{"batchSize":1,"options":{}},"id":"b3278c22-0897-4b2c-9e7e-405a361b52f5","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-6060,1060]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"eadc4b81-d770-4e48-ae0f-a4f82baeca50","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-5820,980]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/NikaLightman/n8n_backup","mode":"url"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/NikaLightman/n8n_backup"},"filePath":"={{ $node[\"Check if file exists in repository\"].binary.data.fileName }}","fileContent":"={{ $json.data }}","commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"5dc15cf1-4e00-4a3d-8aa3-812b21c10e04","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-5500,600],"webhookId":"7882a3e1-d22e-4136-acf7-13f3d10562a8","credentials":{"githubOAuth2Api":{"id":"YODjm3wxMnqIdmT7","name":"VM_GitHub_account_oauth"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/NikaLightman/n8n_backup","mode":"url"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/NikaLightman/n8n_backup"},"filePath":"={{ $node[\"Check if file exists in repository\"].binary.data.fileName }}","fileContent":"={{ $json.data }}","commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"677a5c5b-4808-44dc-9fd0-2026f1e3dfe9","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-5520,1240],"webhookId":"5aa15180-24d2-464d-b347-b5a2e2d4f2de","credentials":{"githubOAuth2Api":{"id":"YODjm3wxMnqIdmT7","name":"VM_GitHub_account_oauth"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-5660,1100],"id":"e7e5f73d-9b05-48e3-ad63-6f15fd1bf062","name":"Extract from File"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-5660,800],"id":"c5cb046b-2285-4904-8db7-2d11524b8d3d","name":"Extract from File1"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Extract from File1","type":"main","index":0}],[{"node":"Extract from File","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d8c9cb11-1fa0-419c-b670-e77cd746d248","triggerCount":0,"tags":[]}