backup_24_04_25_21_02/MAIN-2nIvZrCQHcWM6RJf.json
{"createdAt":"2025-03-30T21:27:41.686Z","updatedAt":"2025-04-20T09:25:22.348Z","id":"2nIvZrCQHcWM6RJf","name":"MAIN","active":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"6ec1a355-4c79-443c-97b6-57ac042cbeef","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[240,800],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63","credentials":{"telegramApi":{"id":"O20CJnLKaQJtKEFR","name":"Telegram account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"8f698f38-effe-487a-bb13-2855430edf41","name":"Set 'Text'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[920,800]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"5c9505af-9820-4c5b-bb1f-5b0dc89f3bac","name":"Response","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1720,640],"webhookId":"5dced4b9-5066-4036-a4d4-14fc07edd53c","credentials":{"telegramApi":{"id":"O20CJnLKaQJtKEFR","name":"Telegram account 2"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"id":"56c0dd67-0aad-4003-88c5-a94cf8840495","name":"Download File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[900,540],"webhookId":"83bb7385-33f6-4105-8294-1a91c0ebbee5","credentials":{"telegramApi":{"id":"O20CJnLKaQJtKEFR","name":"Telegram account 2"}}},{"parameters":{"options":{}},"id":"76e8f3f0-71b3-49c6-863e-f1239a9cdbdf","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[960,1040],"credentials":{"openAiApi":{"id":"yukpWzV8CJpMvnOI","name":"OpenAi account 3"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ Math.floor(Date.now() / 1000 / 120) }}"},"id":"80e8c47e-7c4b-46c7-8198-293bee62d16f","name":"Window Buffer Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1080,1040]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"d2cd0d62-547c-48be-993f-7f2950f9d11b","name":"Transcribe","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1060,540],"credentials":{"openAiApi":{"id":"yukpWzV8CJpMvnOI","name":"OpenAi account 3"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"914e3a17-a977-478c-8361-841b76f2a721","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[680,780]},{"parameters":{"name":"CalendarAgent","workflowId":{"__rl":true,"value":"SYiPReG5ymGPv6et","mode":"list","cachedResultName":"CALENDER"}},"id":"0758bda8-990f-4980-a4d5-72fc8aa5dc28","name":"Calendar agent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1800,1040]},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1220,1040],"id":"7fed1e39-7b94-4005-9ce4-c1e3994fe3b8","name":"Calculator"},{"parameters":{"name":"Email","workflowId":{"__rl":true,"value":"CFIvpZ7SV0PiUxUD","mode":"list","cachedResultName":"EMAIL"}},"id":"91f23948-55bc-46ca-ada6-fb0ac0dc0266","name":"Email agent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1500,1040]},{"parameters":{"name":"Contact","workflowId":{"__rl":true,"value":"bsH6UvjUMxl7YLOo","mode":"list","cachedResultName":"CONTACT"}},"id":"ba92b609-5de4-46ab-9274-3bc97e5842d3","name":"Contact agent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1640,1040]},{"parameters":{"name":"TASK","workflowId":{"__rl":true,"value":"592mt8mmmKbafeNE","mode":"list","cachedResultName":"TASK"},"responsePropertyName":"=response"},"id":"ffd6054a-d568-4d04-bb64-6d45e8947dfb","name":"Task agent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1360,1040]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9fdf4ee6-01fd-4a95-ae81-614b137a4ddd","leftValue":"={{ $json.message.chat.username }}","rightValue":"=NikaLightman","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f890729d-bef1-4320-9e9d-26c9e28699e8","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,800]},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Overview\nYou are the ultimate personal assistant. Your job is to send the user's query to the correct tool. You should never be writing emails, or creating even summaries, you just need to call the correct tool. \n\n## Tools\n- emailAgent: Use this tool to take action in email\n- calendarAgent: Use this tool to take action in calendar\n- contactAgent: Use this tool to get, search, update, or add contacts\n- taskAgent: Use this tool to get, create, update tasks\n\n## Rules\n- For work with contact: the user will write natural language requests like “найди контакт Ирина Любимка” or “обнови контакт John Doe и добавь email john@example.com”. You need to pass this request to the agent in its pure form, as it came.\n\n- Some actions require you to look up contact information first. For the following actions, you must get contact information and send that to the agent who needs it:\n  - sending emails\n  - drafting emails\n  - creating calendar event with attendee. If you don't find a contact, then continue the action in the calendar event format without attendees, but for the event title/subject use the information provided by the user in the request (i.e. just the name of who to book an appointment with) - in this case, email related actions are ignored (since the email is not specified, there is no need to specify it or perform any actions with it).\n  - when **creating a task** that includes an assignee:\n    1. Use contactAgent to resolve the assignee’s contact (by name). If the specified contact is not found, do not continue - this is an error.\n    2. Call taskAgent to create the task.\n  - when **updating a task**:\n    1. Use taskAgent to retrieve the task by its number or description.\n    2. If the task has an assignee, use contactAgent to resolve their contact (by name).\n    3. Call taskAgent to update the task.\n\n\n## Examples\n1) \n- Input: send an email to tom crocodile asking him what time he wants to leave\n  - Action: Use contactAgent to get tom crocodile's email\n  - Action: Use emailAgent to send the email. You will pass the tool a query like \"send tom crocodile an email to ask what time he wants to leave. here is his email: [email address]\n- Output: The email has been sent to Tom Crocodile. Anything else I can help you with?\n2) \n- Input: make an appointment with tom in calendar.\n  - Action: Use contactAgent to get tom's info (name and emai). If contact not found - continue without email.\n  - Action: Use calendarAgent to to set up a meeting. If the email is specified, then use create a meeting with the participant, if not - just a meeting, specifying the name in the subject.\n- Output: The meeting was scheduled. Anything else I can help you with?\n3)\n- Input: create a task for prepare slides for John.\n  - Action: Use contactAgent to get John’s contact\n  - Action: Use taskAgent to create a task for prepare slides, John’s contact name as assignee\n  - Output: The task with number 1 has been added for John. Anything else I can help you with?\n4)\n- Input: find contact - John.\n  - Action: Use contactAgent to get John’s contact. Send - find John's contact.\n  - Output: John's contact. Anything else I can help you with?\n5)\n- Input: add contact - John with phone number 89534567895 and email - john@email.com.\n  - Action: Use contactAgent to add John’s contact. Send - add new contact John with phone number 89534567895 and email - john@email.com.\n  - Output: John's contact added. Anything else I can help you with?\n\n## Final Reminders\n- Here is the current date/time: {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1240,640],"id":"ecc926d6-7c71-4946-937e-705a674a4e78","name":"БИЗНЕС АССИСТЕНТ"}],"connections":{"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Set 'Text'":{"main":[[{"node":"БИЗНЕС АССИСТЕНТ","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Transcribe","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"БИЗНЕС АССИСТЕНТ","type":"ai_languageModel","index":0}]]},"Transcribe":{"main":[[{"node":"БИЗНЕС АССИСТЕНТ","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download File","type":"main","index":0}],[{"node":"Set 'Text'","type":"main","index":0}]]},"Calendar agent":{"ai_tool":[[{"node":"БИЗНЕС АССИСТЕНТ","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"БИЗНЕС АССИСТЕНТ","type":"ai_tool","index":0}]]},"Contact agent":{"ai_tool":[[{"node":"БИЗНЕС АССИСТЕНТ","type":"ai_tool","index":0}]]},"Task agent":{"ai_tool":[[{"node":"БИЗНЕС АССИСТЕНТ","type":"ai_tool","index":0}]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Email agent":{"ai_tool":[[{"node":"БИЗНЕС АССИСТЕНТ","type":"ai_tool","index":0}]]},"БИЗНЕС АССИСТЕНТ":{"main":[[{"node":"Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9e90511b-7b57-4bce-ab87-5ded01944476","triggerCount":1,"tags":[{"createdAt":"2025-04-12T12:12:55.573Z","updatedAt":"2025-04-12T12:12:55.573Z","id":"rCRXB7laI8mn0yad","name":"vm"}]}