backup_24_04_25_21_02/TASK-592mt8mmmKbafeNE.json
{"createdAt":"2025-04-13T14:27:26.436Z","updatedAt":"2025-04-19T07:04:45.261Z","id":"592mt8mmmKbafeNE","name":"TASK","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,240],"id":"8c519678-3b12-42e3-8cc1-4cd063d7e048","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,400],"id":"ccd40499-9aa2-4538-a8f4-28fe8e05ffcd","name":"Try Again"},{"parameters":{"options":{}},"id":"c45eb9e0-6700-4898-b787-a02dfe76bfed","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[320,580],"credentials":{"openAiApi":{"id":"yukpWzV8CJpMvnOI","name":"OpenAi account 3"}}},{"parameters":{},"id":"fea74783-d1ad-4a9e-bc7b-9396f19aba9a","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[160,300]},{"parameters":{"documentId":{"__rl":true,"value":"1mt1VXFMTm3QDJ6IFTIq6Bs8YL8xHq0c5S_EGg85SQpE","mode":"list","cachedResultName":"WorkNeuro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mt1VXFMTm3QDJ6IFTIq6Bs8YL8xHq0c5S_EGg85SQpE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":911730578,"mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mt1VXFMTm3QDJ6IFTIq6Bs8YL8xHq0c5S_EGg85SQpE/edit#gid=911730578"},"options":{}},"id":"29240844-ab58-4072-bda7-8b146cf33309","name":"Get Task","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[560,580],"credentials":{"googleSheetsOAuth2Api":{"id":"2dFIbf4U2T8vJ1Sr","name":"Google Sheets account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1mt1VXFMTm3QDJ6IFTIq6Bs8YL8xHq0c5S_EGg85SQpE","mode":"list","cachedResultName":"WorkNeuro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mt1VXFMTm3QDJ6IFTIq6Bs8YL8xHq0c5S_EGg85SQpE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":911730578,"mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mt1VXFMTm3QDJ6IFTIq6Bs8YL8xHq0c5S_EGg85SQpE/edit#gid=911730578"},"columns":{"mappingMode":"defineBelow","value":{"Описание":"={{ $fromAI(\"description\") }}","Статус":"={{ $fromAI(\"status\") }}","Ответственный":"={{ $fromAI(\"responsible\") }}","Дата дедлайна":"={{ $fromAI(\"deadlineDate\") }}","Комментарии к задаче":"={{ $fromAI(\"comments\") }}","Дата последнего изменения статуса":"={{ $fromAI(\"dateOfLastUpdateStatus\") }}","Ссылка на связанную задачу":"={{ $fromAI(\"linkToRelatedTask\") }}","Номер":"={{ $fromAI(\"number\") }}"},"matchingColumns":["Номер"],"schema":[{"id":"Номер","displayName":"Номер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Описание","displayName":"Описание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ответственный","displayName":"Ответственный","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Дата последнего изменения статуса","displayName":"Дата последнего изменения статуса","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Дата дедлайна","displayName":"Дата дедлайна","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Комментарии к задаче","displayName":"Комментарии к задаче","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ссылка на связанную задачу","displayName":"Ссылка на связанную задачу","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"ac2a0ecb-c268-420a-9c4a-099397b2d0fb","name":"Add or Update Task","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[740,580],"credentials":{"googleSheetsOAuth2Api":{"id":"2dFIbf4U2T8vJ1Sr","name":"Google Sheets account 2"}}},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a task management assistant. Your responsibilities include getting tasks, adding new tasks, or updating existing ones.\n\n**Task Management**  \n   - Use \"Get Tasks\" to get information about tasks.  \n   - Use \"Add or Update Task\" to store new tasks or update existing ones.\n\n## Rules\n- If a new task is inserted, then you must first get all tasks through the node \"Get Tasks\", select the maximum number and assign the new row a number - the maximum + 1. If the list of received tasks is empty - then new number is 0.\n- Every task must include task description and task number. These fields are mandatory and must always be provided.\n- Task number is unique. It is the primary identifier used to find a task.\n- Task description is unique. It is the primary identifier used to find or update a task.\n- When a status is filled in for the first time or updated, the last status update date field is filled in with the value - {{ $now.format('dd.MM.yyyy') }}\n- The status can only take values ​​from the list: `\"Поступила\"`, `\"Назначена\"`, `\"Принята в работу\"`, `\"Выполнена\"`, `\"Завершена\"`\n\n- Default values:\n  - If task status is not provided, default as follows:\n    - If the task has no assignee, set status to `\"Поступила\"`\n    - If the task has an assignee, set status to `\"Назначена\"`\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[420,300],"id":"45f91e82-95b1-4b09-8606-f98cc5d82bc0","name":"Task agent","onError":"continueErrorOutput"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Task agent","type":"ai_languageModel","index":0}]]},"Get Task":{"ai_tool":[[{"node":"Task agent","type":"ai_tool","index":0}]]},"Add or Update Task":{"ai_tool":[[{"node":"Task agent","type":"ai_tool","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Task agent","type":"main","index":0}]]},"Task agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"85b5ec92-386b-4b53-803c-3f7699b82269","triggerCount":0,"tags":[{"createdAt":"2025-04-12T12:12:55.573Z","updatedAt":"2025-04-12T12:12:55.573Z","id":"rCRXB7laI8mn0yad","name":"vm"}]}