backup_24_04_25_21_02/vvAgentAssistentContact-eIHDXo58P0pn8JYy.json
{"createdAt":"2025-04-08T12:55:30.015Z","updatedAt":"2025-04-19T15:40:18.139Z","id":"eIHDXo58P0pn8JYy","name":"vvAgentAssistentContact","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[920,300],"id":"df674c2d-a761-41de-bbac-0785ead586a7","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[920,480],"id":"647290b6-4a2e-43d0-baaf-2fa4cb29e9d5","name":"Try Again"},{"parameters":{"options":{}},"id":"84873d10-769d-466a-8cc6-053801d15e93","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[260,600],"credentials":{"openAiApi":{"id":"PeTtyI7eZUxZ6b8n","name":"vvAgentAssistant"}}},{"parameters":{},"id":"ab7102dd-9f2d-4b58-be59-f13ee9627c21","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[120,340]},{"parameters":{"url":"https://people.googleapis.com/v1/people/me/connections","authentication":"predefinedCredentialType","nodeCredentialType":"googleContactsOAuth2Api","sendQuery":true,"parametersQuery":{"values":[{"name":"personFields","valueProvider":"fieldValue","value":"names,emailAddresses,phoneNumbers,birthdays,organizations"}]}},"id":"7f20d04b-2ca9-4ccc-89c7-52dcc5267a38","name":"Get All Contacts","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[660,600],"credentials":{"googleContactsOAuth2Api":{"id":"qwX42KZrcLQRchQ6","name":"VV_Assistent_Contacts account"},"oAuth2Api":{"id":"vKsOxuIlH1HjZQr8","name":"Google Contacts"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"{{ Math.floor(Date.now() / 1000 / 120) }}"},"id":"d2fff363-1f3c-4c22-affd-5cec2265a6c6","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[480,600]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a contact management assistant. Your responsibilities include finding contacts, adding new contacts, or updating contact information.\n\n**Manage Contacts**\n- Use \"Get All Contacts\" to get a complete list of all saved contacts.\n- Use \"Find Contact\" to find a contact by a specific name. Returns matching contacts and their resourceName and etag. Use \"Find All Contacts\" first and then find all matching contacts by their full name.\n- Use \"Add Contact\" to save a new contact. You can include names, emails, phone numbers, birthdays, organizations, and other optional fields.\n- Use \"Update Contact\" to update an existing contact with resourceName (ID). Only the fields provided will be updated - the rest will remain unchanged. Before updating, you must first find the specified contact using \"Find Contact\" to get the resourceName and etag from it."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[440,340],"id":"986c1500-2e19-45ad-bbc7-87dc422f7d9f","name":"Contact agent","onError":"continueErrorOutput"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Contact agent","type":"ai_languageModel","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Contact agent","type":"main","index":0}]]},"Get All Contacts":{"ai_tool":[[{"node":"Contact agent","type":"ai_tool","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Contact agent","type":"ai_memory","index":0}]]},"Contact agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bc7845be-f7c0-42a0-bb4f-88b1bee7821f","triggerCount":0,"tags":[{"createdAt":"2025-04-08T08:03:46.944Z","updatedAt":"2025-04-08T08:03:46.944Z","id":"9GK9TGGZgfmsCFnI","name":"vv"}]}