backup_24_04_25_21_02/vvAgentAssistentCalender-edFOmvERlob2ITh5.json
{"createdAt":"2025-04-08T12:56:40.532Z","updatedAt":"2025-04-09T19:44:03.828Z","id":"edFOmvERlob2ITh5","name":"vvAgentAssistentCalender","active":false,"nodes":[{"parameters":{"options":{}},"id":"16f841a3-7707-4522-9b44-78896ccc9e94","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-40,980],"credentials":{"openAiApi":{"id":"yukpWzV8CJpMvnOI","name":"OpenAi account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"db363357-a14f-4aa8-b037-3d46f0ade8e1","name":"Try Again","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,820]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"={{$json.output}}","type":"string"}]},"options":{}},"id":"99a8e53e-507a-4d13-9559-ae6dcef47b2f","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,640]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"vladimir.chernikin.kz@gmail.com","mode":"list","cachedResultName":"vladimir.chernikin.kz@gmail.com"},"options":{"timeMin":"={{ $fromAI(\"dayBefore\", \"the day before the date the user requested\") }}","timeMax":"={{ $fromAI(\"dayAfter\", \"the day after the date the user requested\") }}"}},"id":"478c7e69-78fd-42a9-b0e6-5d28bf2d511a","name":"Get Events","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[80,1160],"credentials":{"googleCalendarOAuth2Api":{"id":"DrL8HVcESaJuLpat","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"vladimir.chernikin.kz@gmail.com","mode":"list","cachedResultName":"vladimir.chernikin.kz@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"summary":"={{ $fromAI(\"eventTitle\") }}"}},"id":"e0fec8d1-46a3-4087-97a2-1e91564b6859","name":"Create Event","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[240,1160],"credentials":{"googleCalendarOAuth2Api":{"id":"DrL8HVcESaJuLpat","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"vladimir.chernikin.kz@gmail.com","mode":"list","cachedResultName":"vladimir.chernikin.kz@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":["={{ $fromAI(\"eventAttendeeEmail\") }}"],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"id":"53002bca-b18a-4b29-9191-440b6d043a72","name":"Create Event with Attendee","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[400,1160],"credentials":{"googleCalendarOAuth2Api":{"id":"DrL8HVcESaJuLpat","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"vladimir.chernikin.kz@gmail.com","mode":"list","cachedResultName":"vladimir.chernikin.kz@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","updateFields":{"end":"={{ $fromAI(\"endTime\") }}","start":"={{ $fromAI(\"startTime\") }}"}},"id":"df46cf6b-b9d3-4747-b7e7-2064f783cec1","name":"Update Event","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[580,1160],"credentials":{"googleCalendarOAuth2Api":{"id":"DrL8HVcESaJuLpat","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"vladimir.chernikin.kz@gmail.com","mode":"list","cachedResultName":"vladimir.chernikin.kz@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","options":{}},"id":"3a38e520-f073-466d-a16f-69bd4f03b362","name":"Delete Event","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[740,1160],"credentials":{"googleCalendarOAuth2Api":{"id":"DrL8HVcESaJuLpat","name":"Google Calendar account"}}},{"parameters":{},"id":"81d724ff-6858-4895-94e8-90b6c5620b85","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-100,740]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\n**Calendar Management Tools**\n   - Use \"Create Event\" for solo events. \n   - Use \"Create Event with Attendee\" when an event includes a participant. If email is not specified, then use \"Create Event\".\n   - Use \"Get Events\" to fetch calendar schedules when requested.\n   - Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n   - Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn't specified, assume it will be one hour."}},"id":"f121f622-1b29-4a9e-83c9-f56d5536e264","name":"Calendar agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[120,740],"onError":"continueErrorOutput"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Calendar agent","type":"ai_languageModel","index":0}]]},"Get Events":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Create Event":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Create Event with Attendee":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Update Event":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Delete Event":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Calendar agent","type":"main","index":0}]]},"Calendar agent":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fea810ea-8932-4e3a-b5b5-d89cd3d29b34","triggerCount":0,"tags":[{"createdAt":"2025-04-08T08:03:46.944Z","updatedAt":"2025-04-08T08:03:46.944Z","id":"9GK9TGGZgfmsCFnI","name":"vv"}]}