backup_24_04_25_21_02/Генерация-фото-в-тг-qWssdqo1l85bnidT.json
{"createdAt":"2025-02-20T18:43:49.536Z","updatedAt":"2025-04-18T06:42:05.197Z","id":"qWssdqo1l85bnidT","name":"Генерация фото в тг","active":false,"nodes":[{"parameters":{"operation":"sendPhoto","chatId":"1908115440","file":"={{ $('Generate image').item.json.data[0].url }}","additionalFields":{"caption":"={{ $json.choices[0].message.content }}"}},"id":"801bda88-c72f-4b6a-af0b-97c771aafefb","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[700,360],"credentials":{"telegramApi":{"id":"Oh102Z2XUHLo8NIY","name":"Telegram шутки"}}},{"parameters":{"rule":{"interval":[{"field":"hours","triggerAtMinute":1}]}},"id":"57291113-36f0-4548-bc9d-b028e6dd1041","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-200,360]},{"parameters":{"method":"POST","url":"https://api.gogpt.ru/v1/images/generations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer Yk-QWaYDtvVdeFVJPLBBcCK9XPJnrcSZAM9sSC3x2mwg9uTtdX"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"dall-e-3\",\n  \"prompt\": \"Generate a gondolier\",\n   \"n\": 1,\n   \"size\": \"1024x1024\"\n}","options":{}},"id":"ab049e89-e015-40f6-ad2d-1fbdd272cf97","name":"Generate image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,360]},{"parameters":{"method":"POST","url":"https://api.gogpt.ru/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer Yk-QWaYDtvVdeFVJPLBBcCK9XPJnrcSZAM9sSC3x2mwg9uTtdX"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n        \"role\": \"user\",\n        \"content\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"Придумай смешное описание к этой фотографии\"\n          },\n          {\n            \"type\": \"image_url\", \n            \"image_url\": \n            {\n              \"url\": \"{{ $json.data[0].url }}\"         \n            }\n          }\n        ]\n    }\n  ]\n}","options":{}},"id":"f8abb06c-3429-4ae7-9093-08a95845e2ac","name":"Describe image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,360]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Generate image","type":"main","index":0}]]},"Generate image":{"main":[[{"node":"Describe image","type":"main","index":0}]]},"Describe image":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e6792bad-b377-4280-ae4e-b6424adc9fa2","triggerCount":0,"tags":[]}