backup_24_04_25_21_02/Задача-с-рецептами-KfHm4IpA2IWO57jS.json
{"createdAt":"2025-02-11T16:30:40.141Z","updatedAt":"2025-04-18T06:38:39.395Z","id":"KfHm4IpA2IWO57jS","name":"Задача с рецептами","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":5}]}},"id":"66d7a668-7a63-4fb9-ab6e-24fc74470ef1","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[660,260]},{"parameters":{"url":"https://api.spoonacular.com/recipes/random","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"number","value":"1"},{"name":"include-tags","value":"dessert"}]},"options":{}},"id":"307d2c02-728d-4739-852b-c174da6c9a0d","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,260],"credentials":{"httpQueryAuth":{"id":"I07Xzt0wDzkDhaYi","name":"Food Query Auth"}}},{"parameters":{"operation":"sendPhoto","chatId":"1908115440","file":"={{ $json.recipes[0].analyzedInstructions[0].steps[1].equipment[2].image }}","replyMarkup":"=None","forceReply":{},"replyKeyboardOptions":{},"replyKeyboardRemove":{},"additionalFields":{"caption":"={{ $json.recipes[0].analyzedInstructions[0].steps[1].equipment[2].name }}\n{{ $json.recipes[0].spoonacularSourceUrl }}"}},"id":"2172aaee-b3b9-4236-82c0-96dbc546306f","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,260],"credentials":{"telegramApi":{"id":"Oh102Z2XUHLo8NIY","name":"Telegram шутки"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"32cd5c31-511e-46bc-b0a3-bdac3c4d0ed3","triggerCount":1,"tags":[]}