CALENDER-SYiPReG5ymGPv6et.json
{"createdAt":"2025-04-04T18:14:24.068Z","updatedAt":"2025-04-09T19:43:48.412Z","id":"SYiPReG5ymGPv6et","name":"CALENDER","active":false,"nodes":[{"parameters":{"options":{}},"id":"d7c13d22-4f02-4bb7-bba5-df383d77dad5","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-40,980],"credentials":{"openAiApi":{"id":"yukpWzV8CJpMvnOI","name":"OpenAi account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"2ae04b61-1215-4509-9d8c-0fb412ae1387","name":"Try Again","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,820]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"={{$json.output}}","type":"string"}]},"options":{}},"id":"3793a799-fecf-40c4-9400-6ef279f5aae9","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,640]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"barkalovamaksimovna@gmail.com","mode":"list","cachedResultName":"barkalovamaksimovna@gmail.com"},"options":{"timeMin":"={{ $fromAI(\"dayBefore\", \"the day before the date the user requested\") }}","timeMax":"={{ $fromAI(\"dayAfter\", \"the day after the date the user requested\") }}"}},"id":"9bd7dbe2-c808-425f-85d0-2d4d38dd4b5a","name":"Get Events","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[80,1160],"credentials":{"googleCalendarOAuth2Api":{"id":"clptrfSG7lInB1bI","name":"Google Calendar account 2"}}},{"parameters":{"calendar":{"__rl":true,"value":"barkalovamaksimovna@gmail.com","mode":"list","cachedResultName":"barkalovamaksimovna@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"summary":"={{ $fromAI(\"eventTitle\") }}"}},"id":"61b372a2-b917-460e-8469-b67dfe455515","name":"Create Event","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[240,1160],"credentials":{"googleCalendarOAuth2Api":{"id":"clptrfSG7lInB1bI","name":"Google Calendar account 2"}}},{"parameters":{"calendar":{"__rl":true,"value":"barkalovamaksimovna@gmail.com","mode":"list","cachedResultName":"barkalovamaksimovna@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":["={{ $fromAI(\"eventAttendeeEmail\") }}"],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"id":"d897e3a2-11de-42ce-b3ab-32a8f045e1ae","name":"Create Event with Attendee","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[400,1160],"credentials":{"googleCalendarOAuth2Api":{"id":"clptrfSG7lInB1bI","name":"Google Calendar account 2"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"barkalovamaksimovna@gmail.com","mode":"list","cachedResultName":"barkalovamaksimovna@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","updateFields":{"end":"={{ $fromAI(\"endTime\") }}","start":"={{ $fromAI(\"startTime\") }}"}},"id":"2d7e743b-f33f-49db-800d-8b622605c8c8","name":"Update Event","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[580,1160],"credentials":{"googleCalendarOAuth2Api":{"id":"clptrfSG7lInB1bI","name":"Google Calendar account 2"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"barkalovamaksimovna@gmail.com","mode":"list","cachedResultName":"barkalovamaksimovna@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","options":{}},"id":"bcd1d665-eac5-450b-aa25-fbe62d7569dc","name":"Delete Event","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[740,1160],"credentials":{"googleCalendarOAuth2Api":{"id":"clptrfSG7lInB1bI","name":"Google Calendar account 2"}}},{"parameters":{},"id":"03a1ed57-60d4-4955-897c-b6d4129f7c1d","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-100,740]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\n**Calendar Management Tools**\n   - Use \"Create Event\" for solo events. \n   - Use \"Create Event with Attendee\" when an event includes a participant. If email is not specified, then use \"Create Event\".\n   - Use \"Get Events\" to fetch calendar schedules when requested.\n   - Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n   - Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn't specified, assume it will be one hour."}},"id":"2b2bf72a-cfa4-436a-aa72-d9366d3d7178","name":"Calendar agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[120,740],"onError":"continueErrorOutput"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Calendar agent","type":"ai_languageModel","index":0}]]},"Get Events":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Create Event":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Create Event with Attendee":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Update Event":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Delete Event":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Calendar agent","type":"main","index":0}]]},"Calendar agent":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a6fdc73f-b0b4-4753-82d4-9542137c17e9","triggerCount":0,"tags":[]}