CONTACT-bsH6UvjUMxl7YLOo.json
{"createdAt":"2025-04-06T14:00:48.039Z","updatedAt":"2025-04-20T09:20:55.567Z","id":"bsH6UvjUMxl7YLOo","name":"CONTACT","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,140],"id":"02149bba-9376-4651-9412-bc79dbd0cc1a","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1060,340],"id":"da625f24-f9b5-4d42-8786-5bd27c3b2ec7","name":"Try Again"},{"parameters":{"options":{}},"id":"3ce65e4c-6f06-47f6-bd37-dcb937cd01e5","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[240,440],"credentials":{"openAiApi":{"id":"yukpWzV8CJpMvnOI","name":"OpenAi account 3"}}},{"parameters":{},"id":"09b215d1-3222-431c-a6e1-43e657ff0c70","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[100,220]},{"parameters":{"url":"https://people.googleapis.com/v1/people/me/connections","authentication":"predefinedCredentialType","nodeCredentialType":"googleContactsOAuth2Api","sendQuery":true,"parametersQuery":{"values":[{"name":"personFields","valueProvider":"fieldValue","value":"names,emailAddresses,phoneNumbers"}]}},"id":"086f62e9-2c25-454f-8384-521f08b60a17","name":"Get All Contacts","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[580,440],"credentials":{"googleContactsOAuth2Api":{"id":"TPLz63NBjfQMkqQD","name":"VM_Contact_Cred"},"oAuth2Api":{"id":"vKsOxuIlH1HjZQr8","name":"Google Contacts"}}},{"parameters":{"method":"POST","url":"https://people.googleapis.com/v1/people:createContact","authentication":"predefinedCredentialType","nodeCredentialType":"googleContactsOAuth2Api","sendQuery":true,"parametersQuery":{"values":[{}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"names\": [\n    {\n      \"givenName\": \"{firstName}\",\n      \"familyName\": \"{lastName}\",\n    }\n  ],\n  \"emailAddresses\": [\n    {\n      \"value\": \"{email}\",\n      \"type\": \"work\"\n    }\n  ],\n  \"phoneNumbers\": [\n    {\n      \"value\": \"{phone}\",\n      \"type\": \"mobile\"\n    }\n  ]\n}","placeholderDefinitions":{"values":[{"name":"firstName","description":"Contact's first name"},{"name":"email","description":"Contact's email address"},{"name":"phone","description":"Contact's phone number"}]}},"id":"970ab228-afe3-4e36-babc-97155d448091","name":"Add Contact","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[700,440],"credentials":{"googleContactsOAuth2Api":{"id":"TPLz63NBjfQMkqQD","name":"VM_Contact_Cred"},"oAuth2Api":{"id":"vKsOxuIlH1HjZQr8","name":"Google Contacts"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"{{ Math.floor(Date.now() / 1000 / 120) }}"},"id":"deaa3e07-b6b1-46f1-a034-5b99aa5b924b","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[400,440]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a contact management assistant. Your responsibilities include finding contacts, adding new contacts, or updating contact information.\n\n## Rules\n- If you need to use \"Add Contact\":\n  1. Extract contact data from start query: `firstName`, `email`, `phone`.\n  2. Call the \"Add Contact\" tool.\n  3. Fill each placeholder in the tool.\n\n**Manage Contacts**\n- Use \"Get All Contacts\" to get a complete list of all saved contacts.\n- Use \"Find Contact\" to find a contact by a specific name. Returns matching contacts and their resourceName and etag. Use \"Find All Contacts\" first and then find all matching contacts by their full name.\n- Use \"Add Contact\" to add new contact. You can include firstName, email, phone.\n- Use \"Update Contact\" to update an existing contact with resourceName (ID). Only the fields provided will be updated - the rest will remain unchanged. Before updating, you must first find the specified contact using \"Find Contact\" to get the resourceName and etag from it.\n "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[420,220],"id":"039325d1-44ae-40d3-afae-5f8b3ff15026","name":"Contact agent","onError":"continueErrorOutput"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Contact agent","type":"ai_languageModel","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Contact agent","type":"main","index":0}]]},"Get All Contacts":{"ai_tool":[[{"node":"Contact agent","type":"ai_tool","index":0}]]},"Add Contact":{"ai_tool":[[{"node":"Contact agent","type":"ai_tool","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Contact agent","type":"ai_memory","index":0}]]},"Contact agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"af0cdcd6-c933-46cc-afd5-0545935dbb01","triggerCount":0,"tags":[{"createdAt":"2025-04-12T12:12:55.573Z","updatedAt":"2025-04-12T12:12:55.573Z","id":"rCRXB7laI8mn0yad","name":"vm"}]}