m_ch_backup-JwwPv8TwzheAZjxk.json
{"createdAt":"2025-06-08T01:02:48.307Z","updatedAt":"2025-06-08T01:37:00.000Z","id":"JwwPv8TwzheAZjxk","name":"m_ch_backup","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"37f82383-9416-4e99-8537-2b45dcd89ba2","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2200,220]},{"parameters":{"options":{}},"id":"4c4e68b0-6030-4ada-b17f-e4b3d7ad404e","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2000,220]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"cbfb3a7c-976b-45db-a458-3a16045a0f9e","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1800,220]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"a6d39f00-52f9-45be-bd5d-060ba96f75d8","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1600,220]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/MarkChernikin94/test_n8j","mode":"url"},"repository":{"__rl":true,"value":"test_n8j","mode":"list","cachedResultName":"test_n8j","cachedResultUrl":"https://github.com/MarkChernikin94/test_n8j"},"filePath":"="},"id":"65d2acb1-3504-4e7f-9bc4-33a61d2d8ded","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1400,220],"alwaysOutputData":true,"webhookId":"4450d58e-aa0b-447a-97ab-1b3b6a5a00d0","credentials":{"githubOAuth2Api":{"id":"LxPbsf4AoMh7YTsm","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"ff26e0ca-20b8-4f1e-90ac-7d0a1a4d14d1","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1200,220]},{"parameters":{"filters":{},"requestOptions":{}},"id":"45f31e88-0db8-4322-81cf-3e52ad9916c6","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1000,220],"alwaysOutputData":true,"credentials":{"n8nApi":{"id":"Z2ElhYaWtZrSUrpb","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"2fb5159c-d42d-4703-b7d3-7f7d0598d5a5","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-800,220]},{"parameters":{"batchSize":1,"options":{}},"id":"a53bc9c7-c684-41e1-be80-3f4e010fa3c1","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-560,220]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"91181940-f500-4b85-b1f3-fa5cccaa4b22","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-320,140]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/MarkChernikin94/test_n8j","mode":"url"},"repository":{"__rl":true,"value":"test_n8j","mode":"list","cachedResultName":"test_n8j","cachedResultUrl":"https://github.com/MarkChernikin94/test_n8j"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"99fe9ad9-661e-4af2-87c3-30988492bea2","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-100,-60],"webhookId":"85ebfb7c-fb07-4d70-9b32-ec08cbdf4f32","credentials":{"githubOAuth2Api":{"id":"LxPbsf4AoMh7YTsm","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/MarkChernikin94/test_n8j","mode":"url"},"repository":{"__rl":true,"value":"test_n8j","mode":"list","cachedResultName":"test_n8j","cachedResultUrl":"https://github.com/MarkChernikin94/test_n8j"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"624cc27d-1d1d-484f-ada7-957be73cae99","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-100,340],"webhookId":"f6e3ecd1-3946-4704-82ca-81c434d72f9a","credentials":{"githubOAuth2Api":{"id":"LxPbsf4AoMh7YTsm","name":"GitHub account"}}},{"parameters":{"content":"## @igorzuevich \n**Автор** на [YouTube](https://www.youtube.com/@igorzuevich)","height":240,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-7300,1500],"typeVersion":1,"id":"7e86d452-f807-4543-bcdf-2699944248ab","name":"Sticky Note2"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9a2c17a3-efb8-4f8a-9c59-3081cce85eaf","triggerCount":0,"tags":[]}