mch_test_back_tracing-eKKPafm0wrUz2eC7.json
{"createdAt":"2025-07-09T01:01:13.989Z","updatedAt":"2025-07-18T08:56:35.000Z","id":"eKKPafm0wrUz2eC7","name":"mch_test_back_tracing","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"22ad5765-32e9-8022-9055-cad1f60cd0c8","mode":"list","cachedResultName":"Входящие задачи","cachedResultUrl":"https://www.notion.so/22ad576532e980229055cad1f60cd0c8"},"title":"=","propertiesUi":{"propertyValues":[{"key":"Название|rich_text","textContent":"={{ $json.output.title }}"},{"key":"Описание|rich_text","textContent":"={{ $json.output.description }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[680,140],"id":"2def781d-af8f-47b5-9c21-b3130f53a26b","name":"Notion","credentials":{"notionApi":{"id":"08ZTqlctTu1mR6Gh","name":"MCH_Notion acc"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}{{ $json.message.text }}","hasOutputParser":true,"options":{"systemMessage":"=You are a Notion data structuring assistant.\n\nBased on the provided task description, generate a JSON object with two fields:\n\ntitle: a concise, clear, and informative name in Russian that reflects the essence of the task\n\ndescription: a brief explanation of the task in Russian, based on the description provided\n\nThe output must be a valid JSON object in the following format:\n\njson\n{\n  \"title\": \"сгенерированное название на русском\",\n  \"description\": \"сгенерированное описание на русском\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[300,140],"id":"b4af53aa-d77f-44bd-8957-7e1fed81a154","name":"AI Agent","alwaysOutputData":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Execute workflow trigger').item.json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"d9b1ba45-3d68-4c88-abd1-111f74ce3127"}],"combinator":"and"},"renameOutput":true,"outputKey":"Аудио"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"879abd21-abc2-4499-abce-767cfa565fc8","leftValue":"={{ $('Execute workflow trigger').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Текст"}]},"options":{}},"id":"ad797705-3539-4a76-9613-276975595cdc","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-500,140]},{"parameters":{"resource":"file","fileId":"={{ $('Execute workflow trigger').item.json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-320,-80],"id":"78cef47c-122c-47b1-a884-36e7bb792d73","name":"Telegram","webhookId":"6e0cede2-a694-4fa7-96d0-86a2b727d9e9","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-120,-80],"id":"a2ff88d9-c010-4acf-be58-715dcb73417a","name":"OpenAI","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"jsonSchemaExample":"{\n  \"title\": \"сгенерированное название на русском\",\n  \"description\": \"сгенерированное описание на русском\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[540,360],"id":"3bac11d7-873b-460f-b042-79e0a54d37ce","name":"Structured Output Parser"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[80,140],"id":"579171c2-8547-4ade-ab52-61bb0eb491b4","name":"Merge"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[260,360],"id":"34af3faa-6c10-42c4-ba6e-9a2eb2f54b1b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"QdCtqZa1wiyphkXS","name":"OpenAI_Finance"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-880,140],"id":"3599042d-a873-4e98-bff8-3903b4ba3d52","name":"Execute workflow trigger"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[940,120],"id":"83c3aea1-cfd4-497f-931c-c7398a53f842","name":"Merge for notification"},{"parameters":{"chatId":"={{ $('Set chat id for notification').item.json.tg_chat_id_for_notification }}","text":"=Задача успешно создана!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1180,120],"id":"10714174-ee02-4ec2-9c4a-73272c2cdd26","name":"Finish of creation task notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","executeOnce":true,"credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"assignments":{"assignments":[{"id":"3c7c6617-0a6f-4f1e-bea6-a1c2d933ce96","name":"tg_chat_id_for_notification","value":"={{ $('Execute workflow trigger').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-620],"id":"7f4bcc56-c265-4a10-9005-42a033f51531","name":"Set chat id for notification"}],"connections":{"AI Agent":{"main":[[{"node":"Notion","type":"main","index":0}]]},"Notion":{"main":[[{"node":"Merge for notification","type":"main","index":1}]]},"Switch":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}],[]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Execute workflow trigger":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"Set chat id for notification","type":"main","index":0}]]},"Merge for notification":{"main":[[{"node":"Finish of creation task notification","type":"main","index":0}]]},"Set chat id for notification":{"main":[[{"node":"Merge for notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"062804e4-82e9-4114-93a9-a6720112755f","triggerCount":0,"tags":[]}