mch_mcp_for_youtube-qwJcfTb94aeK22AR.json
{"createdAt":"2025-07-07T15:34:10.713Z","updatedAt":"2025-07-08T20:28:08.000Z","id":"qwJcfTb94aeK22AR","name":"mch_mcp_for_youtube","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"c5e5795e-b646-451a-b1c3-1d3c4e9d87e0","name":"When chat message received","webhookId":"5f353d47-5f5b-4150-8d4d-5502a31161ca"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[220,0],"id":"72ef8908-88e5-461d-a325-d56889fbed80","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[140,200],"id":"ef0ee44b-5bc0-45a1-aa88-0e0b04517f80","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"4Kzj4qd0jj7PJXLU","name":"MCH_OpenRouter_acc"}}},{"parameters":{},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[340,220],"id":"3d72486c-2615-4b6b-971f-5bfef0944ac5","name":"MCP Client","credentials":{"mcpClientApi":{"id":"NUvQ5NXH8GJGzh31","name":"MCH_MCP_account firecrawl"}}},{"parameters":{"operation":"executeTool"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[480,220],"id":"4c350d46-5456-4266-af0d-811eaf641e8a","name":"MCP Client1","credentials":{"mcpClientApi":{"id":"NUvQ5NXH8GJGzh31","name":"MCH_MCP_account firecrawl"}}},{"parameters":{"command":"=python3 /path/to/script.py \"{{ $json.url }}\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-160,300],"id":"d56e9355-b443-4c90-b25e-3a57bba28310","name":"Execute Command"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MCP Client1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fefd07a5-59de-41cc-800d-5061f17b3bcb","triggerCount":1,"tags":[]}