MCH_project_new-NaB08BDf9QxenMY2.json
{"createdAt":"2025-07-06T01:02:48.329Z","updatedAt":"2025-07-06T20:25:25.000Z","id":"NaB08BDf9QxenMY2","name":"MCH_project_new","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,0],"id":"ce584516-6145-407e-9a1c-13f20eade2a4","name":"Telegram Trigger","webhookId":"6b2c315f-b718-4ca0-b754-86dabc7b510b","credentials":{"telegramApi":{"id":"aWK6N9U74Dqgx4u2","name":"MCH_bot"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=You are an AI assistant that helps users by finding and analyzing information using an MCP server.\n\nWhen a user asks a question:\n\n1. **Keep the user's question unchanged and in context.**\n\n2. First, call the \"MCP Get list\" operation **only to retrieve the list of available tools**.\n\n3. **Do not output or return the list itself to the user.** Instead, use this list internally to select the most appropriate tool for the user's question.\n\n4. After selecting the best tool, call the \"MCP tool\" node with the **original user question as input** to that tool.\n\n5. Receive the tool's response and analyze it carefully.\n\n6. Generate a clear, concise, and relevant answer **based solely on the tool's response**.\n\n7. If the tool's response is insufficient, inform the user and suggest next steps.\n\n**Important:**  \n- The list of tools is for internal decision-making only and should never be shown to the user.  \n- The final answer must be based on the output of the selected tool, not on the tool list.  \n- Always keep the user's original question intact and pass it to the selected tool.\n\nYour goal is to provide helpful, accurate, and focused answers by leveraging MCP tools, without confusing the user with technical details about tool availability.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[220,0],"id":"7025ce62-f43c-41a9-b790-b450f365572e","name":"AI Agent"},{"parameters":{"model":"openai/gpt-4.1-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-40,200],"id":"bb3f7604-4ac6-4de5-b478-7c92227c4b60","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"4Kzj4qd0jj7PJXLU","name":"MCH_OpenRouter_acc"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[580,0],"id":"3ec49e24-d82e-48f4-b7d1-6a398af872ac","name":"Telegram","webhookId":"baba5549-1674-4671-9d51-cdf009c413f4","retryOnFail":true,"credentials":{"telegramApi":{"id":"aWK6N9U74Dqgx4u2","name":"MCH_bot"}}},{"parameters":{},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[340,220],"id":"d37159b3-55df-4a8f-80f0-cb00ec45aaf6","name":"MCP Get list","credentials":{"mcpClientApi":{"id":"NUvQ5NXH8GJGzh31","name":"MCH_MCP_account firecrawl"}}},{"parameters":{"operation":"executeTool","toolName":"={{ $fromAI(\"tool\",\"firecrowl tool\") }}","toolParameters":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[480,220],"id":"80a1389a-8edf-427b-b768-1686e65d1ef2","name":"MCP tool","credentials":{"mcpClientApi":{"id":"NUvQ5NXH8GJGzh31","name":"MCH_MCP_account firecrawl"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[140,240],"id":"99590fc5-da38-410c-9235-04771bfc7553","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[]]},"MCP Get list":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MCP tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"98a4cb3f-0207-4e83-be87-3c77a3e8da34","triggerCount":1,"tags":[]}