MCH_CRM_project-25Mu2tRbgSBtrme0.json
{"createdAt":"2025-07-16T16:48:18.351Z","updatedAt":"2025-07-21T12:17:42.000Z","id":"25Mu2tRbgSBtrme0","name":"MCH_CRM_project","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"c98214ed-0f56-4f79-906e-8748801c8d1b","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[-440,100],"webhookId":"e65a4a12-894f-4dca-b960-1606fc09cb51","credentials":{"telegramApi":{"id":"aWK6N9U74Dqgx4u2","name":"MCH_bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition_start","leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"57b4121a-8399-4901-80c8-770ea5a726a6","name":"Проверка команды","type":"n8n-nodes-base.if","typeVersion":2,"position":[-220,100]},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Добро пожаловать! 👋\n\nЯ помогу вам записаться на консультацию.\n\nОтправьте мне ваши данные в следующем формате:\n\n📝 **Формат заявки:**\nИмя: Ваше имя\nТелефон: +7 (999) 123-45-67\nEmail: your@email.com\nInstagram: @your_username (необязательно)\nВК: vk.com/your_id (необязательно)\nВопрос: Краткое описание вашего вопроса\n\n✅ После отправки я создам заявку в системе!","additionalFields":{}},"id":"ec95373a-4be2-43e1-9569-ee58167aa966","name":"Приветствие","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[0,0],"webhookId":"e1de8a0e-a9da-4231-95aa-c9c5bee27f7e","credentials":{"telegramApi":{"id":"aWK6N9U74Dqgx4u2","name":"MCH_bot"}}},{"parameters":{"jsCode":"// Парсим сообщение от пользователя для извлечения данных\nconst message = $input.first().json.message.text;\nconst chatId = $input.first().json.message.chat.id;\nconst username = $input.first().json.message.from.username || '';\nconst firstName = $input.first().json.message.from.first_name || '';\nconst lastName = $input.first().json.message.from.last_name || '';\n\n// Простой парсинг текста для извлечения данных\nconst parseField = (text, fieldName) => {\n  const regex = new RegExp(`${fieldName}:\\\\s*([^\\\\n]+)`, 'i');\n  const match = text.match(regex);\n  return match ? match[1].trim() : '';\n};\n\n// Извлекаем данные\nconst name = parseField(message, 'Имя') || `${firstName} ${lastName}`.trim();\nconst phone = parseField(message, 'Телефон');\nconst email = parseField(message, 'Email');\nconst instagram = parseField(message, 'Instagram');\nconst vk = parseField(message, 'ВК');\nconst question = parseField(message, 'Вопрос');\n\n// Проверяем обязательные поля\nif (!name || !phone) {\n  return {\n    json: {\n      error: true,\n      message: 'Не хватает обязательных данных. Укажите как минимум имя и телефон.',\n      chatId: chatId\n    }\n  };\n}\n\nreturn {\n  json: {\n    name: name,\n    phone: phone,\n    email: email,\n    instagram: instagram,\n    vk: vk,\n    telegram: `@${username}`,\n    notes: question || 'Заявка через Telegram бота',\n    chatId: chatId,\n    error: false\n  }\n};"},"id":"4aa3b301-e3ce-4216-98a8-c26f06a5d52b","name":"Парсинг данных","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition_error","leftValue":"={{ $json.error }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"5d4cf960-3d0e-4669-a44b-f2b3a6900ac9","name":"Проверка данных","type":"n8n-nodes-base.if","typeVersion":2,"position":[220,200]},{"parameters":{"resource":"databasePage","databaseId":"PLACEHOLDER_DATABASE_ID","title":"={{ $json.name }}","propertiesUi":{"propertyValues":[{"key":"Телефон","phoneValue":"={{ $json.phone }}"},{"key":"Email","emailValue":"={{ $json.email }}"},{"key":"Instagram"},{"key":"VK"},{"key":"Telegram"},{"key":"Источник","selectValue":"Telegram бот"},{"key":"Дата заявки"},{"key":"Статус","selectValue":"Новая"},{"key":"Примечания"}]},"options":{}},"id":"7eb53f19-1e47-4d1e-963f-e533baff1fdb","name":"Создать запись в Notion","type":"n8n-nodes-base.notion","typeVersion":2,"position":[440,100],"credentials":{"notionApi":{"id":"08ZTqlctTu1mR6Gh","name":"MCH_Notion acc"}}},{"parameters":{"chatId":"={{ $json.chatId }}","text":"✅ **Заявка создана!**\n\nВаши данные успешно переданы в систему.\nМы свяжемся с вами в ближайшее время.\n\n📋 **Данные заявки:**\n• Имя: {{ $('Парсинг данных').item.json.name }}\n• Телефон: {{ $('Парсинг данных').item.json.phone }}\n• Email: {{ $('Парсинг данных').item.json.email }}\n\n🔄 **Статус:** Новая заявка\n\nСпасибо за обращение! 🙏","additionalFields":{}},"id":"355b17ad-6923-4ebc-8d95-9bd99af1d128","name":"Успешный ответ","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[660,100],"webhookId":"11a24b24-133b-4eef-a479-6ed866796500","credentials":{"telegramApi":{"id":"aWK6N9U74Dqgx4u2","name":"MCH_bot"}}},{"parameters":{"chatId":"={{ $json.chatId }}","text":"❌ **Ошибка в данных**\n\n{{ $json.message }}\n\n📝 **Правильный формат:**\nИмя: Ваше имя\nТелефон: +7 (999) 123-45-67\nEmail: your@email.com\nInstagram: @your_username (необязательно)\nВК: vk.com/your_id (необязательно)\nВопрос: Краткое описание вашего вопроса\n\nПожалуйста, попробуйте еще раз! 🔄","additionalFields":{}},"id":"464709e5-1bf9-4870-8bc9-f4af5c0384d3","name":"Ошибка в данных","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[440,300],"webhookId":"ed78b1bb-ff31-4999-8d2e-8e5663651b6a","credentials":{"telegramApi":{"id":"aWK6N9U74Dqgx4u2","name":"MCH_bot"}}},{"parameters":{"httpMethod":"POST","path":"consultation-booking","responseMode":"responseNode","options":{}},"id":"490f2f98-4d6b-4174-9f7c-6058c92e0265","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-320,-200],"webhookId":"8ca1aa92-0dfa-4031-a75a-a31c4ecf50bd"},{"parameters":{"resource":"databasePage","databaseId":"PLACEHOLDER_DATABASE_ID","title":"={{ $json.name }}","propertiesUi":{"propertyValues":[{"key":"Телефон","phoneValue":"={{ $json.phone }}"},{"key":"Email","emailValue":"={{ $json.email }}"},{"key":"Instagram"},{"key":"VK"},{"key":"Telegram"},{"key":"Источник","selectValue":"Сайт"},{"key":"Дата заявки"},{"key":"Статус","selectValue":"Новая"},{"key":"Примечания"}]},"options":{}},"id":"05fb4c0a-282c-4a9b-8993-5aedd6723fe2","name":"Notion","type":"n8n-nodes-base.notion","typeVersion":2,"position":[-100,-200],"credentials":{"notionApi":{"id":"08ZTqlctTu1mR6Gh","name":"MCH_Notion acc"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({\"success\": true, \"message\": \"Заявка успешно отправлена!\", \"id\": $json.id}) }}","options":{}},"id":"e12bfc3a-0620-49d8-8215-ddefc3583ab3","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[120,-200]}],"connections":{"Telegram Trigger":{"main":[[{"node":"Проверка команды","type":"main","index":0}]]},"Проверка команды":{"main":[[{"node":"Приветствие","type":"main","index":0}],[{"node":"Парсинг данных","type":"main","index":0}]]},"Парсинг данных":{"main":[[{"node":"Проверка данных","type":"main","index":0}]]},"Проверка данных":{"main":[[{"node":"Создать запись в Notion","type":"main","index":0}],[{"node":"Ошибка в данных","type":"main","index":0}]]},"Создать запись в Notion":{"main":[[{"node":"Успешный ответ","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Notion","type":"main","index":0}]]},"Notion":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"79f41be0-1cae-4831-8caa-fdb393d02355","triggerCount":0,"tags":[]}