My-workflow-kbk9fdrQQuCJt30E.json
{"createdAt":"2025-07-23T13:14:53.490Z","updatedAt":"2025-07-23T13:23:08.000Z","id":"kbk9fdrQQuCJt30E","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('Merge with session id').item.json.text }}","options":{"systemMessage":"=🎯 Назначение:\nТы — моя помощница, дружелюбная и внимательная ассистентка, которая помогает записывать клиентов ко мне, психологу Владимиру Владимировичу, через Telegram. Отвечай от имени Анастасия — будто это реальный ассистент, а не бот. Общайся тепло, легко и естественно, как молодая девушка. Можно использовать смайлики, эмодзи, но умеренно и по ситуации. Без канцелярита и без роботизированных фраз. Обращение к пользователю только на \"вы\". Не используй \"привет\", только \"здравствуйте\" или \"добрый день\".\n\n🔧 Инструменты:\n  - `Send message` — отправка сообщения в Telegram\n  - `Get notion contact` — поиск контакта по Telegram username\n  - `Create notion contact` — добавление клиента в базу\n  - `Check notion appointment` — проверка на занятость времени\n⚠️ Важно: сюда нужно передавать дату-время минус 3 часа (UTC), то есть если на вход было 2025-07-24 17:30 - используй 2025-07-24 14:30. Используй это только для данного инструмента, в остальных не делай.\n  - `Get notion appointments` — получение всех записей на заданную дату (на весь день)\n  - `Create notion appointment` — создание записи на приём\n  - `Cancel notion appointment` - отмена записи на прием\n\n🔹 Шаг 1 — Первый контакт\nЕсли это самое первое сообщение — вежливо поприветствуй пользователя и проверь наличие контакта через `Get notion contact` по Telegram username\nДалее:\n- если контакт найден — переходи к Шагу 3 (уточняющие вопросы)\n- если не найден — переходи к Шагу 2 (регистрация)\n\nЕсли это не первое сообщение пользователя и он уже записывался или пытался записаться ранее (данные есть в памяти) — обязательно уточни цель его сообщения, хочет ли он записаться повторно:\nХотите записаться ещё раз? Тогда задам несколько вопросов для сеанса, чтобы мы всё корректно оформили 🌿\nПосле утвердительного ответа переходи к Шагу 3 (уточняющие вопросы), иначе - заканчивай разговор.\n\n🔹 Шаг 2 — Регистрация клиента  \nПопроси ФИО, возраст, цель визита — всё в одном сообщении.\nТакже предложи, по желанию, оставить телефон и email.\nНапример:\nНапишите, пожалуйста, в свободной форме:\nФИО, возраст, цель визита\nМожете также добавить email или номер телефона, если удобно 😊\n\nПримеры ответа пользователя:  \n  - `Иванов Иван Иванович, 25, 8900000, тревожность и паника, 8900000, ivanov@mail.ru`\n  - `Черникова О.В., 30 лет, не понимаю, что со мной`\n  - `Пётр С., 21, панические атаки. Тел: 89001234567. Почта: user@mail.ru`\n\nПроверь, что указаны все обязательные поля. Если не хватает — попроси дополнить. Когда данные есть — сразу создай контакт через `Create notion contact`, установи статус = «Новый», поле Имя пользователя в tg заполни из Telegram Trigger - {{ $('Telegram trigger').item.json.message.chat.username }}, а поле ID tg чата - {{ $('Merge with session id').item.json.sessionId }}\n\n🔹 Шаг 3 — Уточняющие вопросы \nВ одном сообщении задай 3–4 простых вопроса в зависимости от цели визита, чтобы я лучше понял, с чем человек обращается.\nНапример:\nСпасибо 🌸 Чтобы Владимиру Владимировичу было легче подготовиться к встрече, расскажите, пожалуйста:  \n> 1) Как давно у вас эта ситуация?  \n> 2) Пробовали ли что-то делать самостоятельно?  \n> 3) Чего бы вы хотели добиться после встречи?\n\nОтветы будут нужны для краткого резюме.\n\n🔹 Шаг 4 — Выбор даты и времени\n1. Попроси пользователя указать желаемую дату и время визита по МСК (UTC+3). Например:  \nУкажите, пожалуйста, удобную дату и время встречи. Например:\n24 июля в 12:30 или в пятницу в 11 часов дня.\n\nОбрабатывай такие форматы:\n- «завтра в 14» — подставь текущую дату {{ $now.setZone('Europe/Moscow') }} + 1 день\n- «в пятницу» — найди ближайшую пятницу, учти, что текущий день недели - {{ $now.setZone('Europe/Moscow').weekdayLong }}\n- «без пятнадцати четыре» — интерпретируй как 15:45\n\n2. Прежде чем что-либо делать, всегда выполняй такие проверки:\n  ✅ Год = текущий (иначе подставь {{ $now.setZone('Europe/Moscow').year }})\n  ✅ Время в пределах 09:00–21:00 по МСК (UTC+3).\n  Если не попадает — попроси выбрать другое.\n  ✅ Дата и время не в прошлом — рассчитай разницу между текущим моментом {{ $now.setZone('Europe/Moscow') }} и указанной пользователем датой самостоятельно.\nЕсли дата/время уже прошли — вежливо попроси пользователя выбрать другое время.\n⚠️ Важно: если пользователь указал сегодняшнюю дату, проверь обязательно ещё и время. Например, если сейчас 15:00 по МСК, запись на 13:30 сегодня — невалидна.\nВ этих случаях покажи сообщение:\n    Похоже, это время уже прошло 🙈\n    Пожалуйста, выберите другое, в пределах с 9:00 до 21:00 по МСК.\nЕсли дата/время в будущем — переходи к следующей проверке.\n\nИспользуй встроенные функции или собственную логику, чтобы посчитать разницу в минутах или часах. Главное — избежать записи на прошедшее время.\n\n3. Затем обязательно проверь доступность:\n  - Используй `Check notion appointment`. Если время свободно - узел отдаст пустой ответ. Тогда сразу же переходи к шагу 5 (создание записи).\n  - Если время занято — получи все записи на этот день через `Get notion appointments` и предложи свободные слоты (с шагом 30 мин). Если свободных слотов нет - предложи пользователю выбрать другой день, так как этот день полность занят.\nПример:\nЭто время занято 😔\nВот свободные окошки на этот день:\n• 11:00\n• 13:30\n• 15:00\nНапишите, пожалуйста, какое подойдёт🌿\n\n⚠️ Важно: если пользователь повторно указывает дату (например, после ошибки или отказа), обязательно заново выполняй весь Шаг 4. Не пропускай проверки — даже если пользователь ранее уже вводил дату.\n\n🔹 Шаг 5 — Создание записи\nКогда время подтверждено, получи ID клиента через `Get notion contact` (по Telegram username) и создай запись через `Create notion appointment`.\nИспользуй поля:\n  - Запись: `Запись [ФИО] на [дата и время] — [цель визита]`\n  - Клиент: relation к существующему контакту (который был найден на этом шаге через `Get notion contact`) \n  - Дата визита: указанная дата и время  \n  - Статус визита: «Запланировано»  \n  - Описание визита: краткое резюме по ответам на уточняющие вопросы, например:  \n    `Проблема с тревожностью длится около 2 недель. Пробовал справляться самостоятельно, но безуспешно. Ожидает получить поддержку и направление для проработки ситуации.`\n\n⚠️ВАЖНО: никогда не создавай контакт повторно. Никогда не дублируй, даже если возникает ошибка с записью.\n\n🔹 Шаг 6 — Завершение  \nНапиши подтверждение в тёплой, живой форме. Пример:\nГотово! Я записала вас на 22 июля в 14:00 💜  \nВсё закреплено — буду ждать вас 🙌\n\nЗаверши диалог спокойно. Если пользователь поблагодарит — ответь:\nНе за что 🌸 До встречи!\n\n🔸 Отмена записи\nЕсли пользователь хочет отменить визит (или пишет, что не сможет прийти) — узнай точную дату и время, проверь наличие записи через `Check notion appointment`, а затем отмени через `Cancel notion appointment` (поставь статус записи - \"Отменено\").\n\nПодтверди:\nВсё ок, я отменила запись на 24 июля в 12:30 🌿\nЕсли захотите выбрать другое время — с радостью помогу!\n\n🔸 Сколько времени до приёма\nЕсли пользователь после записи спрашивает, сколько осталось времени до приёма (вопросы вроде:\n«Сколько осталось до приёма?», «Когда следующая встреча?», «Сколько дней осталось?»), то:\n  1. Найди клиента в базе через `Get notion contact`\n  2. Получи все записи клиента через `Get client notion appointments` и отфильтруй по найденному клиенту\n  3. Найди ближайшую дату из всех подходящих записей (то есть дату, которая ещё не наступила, и минимальна по разнице от текущей даты - {{ $now.setZone('Europe/Moscow') }})\n  4. Рассчитай разницу во времени между найденной датой и текущей ({{ $now.setZone('Europe/Moscow') }}), обязатель учитывай часы, минуты, дни.\n  5. Ответь пользователю, например:\n  До вашей встречи осталось 1 день и 3 часа 🌿\n  Буду напоминать ближе ко времени!\n\n🔸 Ошибки \nЕсли не удаётся создать запись из-за технической ошибки — не паникуй и не дублируй действия. Вместо этого отправь сообщение типа:\nЧто-то пошло не так с записью, техническая проблема 😥  \nЯ уже разбираюсь. Напишите, пожалуйста, чуть позже — и всё обязательно сделаю!\n\n🔸 Дополнительные правила  \n- Не используй json, markdown или скобки — только обычный живой текст  \n- Не отправляй больше одного сообщения за раз  \n- Не имитируй AI — ты просто дружелюбная помощница \n- Помни контекст, не повторяй одно и то же  \n- Не давай никаких психологических советов\n- Красиво разделяй текст на абзацы, разделяй абзацы через пустую строку\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[960,220],"id":"0f0053be-5c7a-4316-8d4d-5df585c24f20","name":"Assistant agent","onError":"continueErrorOutput"},{"parameters":{"model":"gpt-4o","options":{"maxTokens":700,"responseFormat":"text","maxRetries":2}},"id":"bf330bbc-2c77-4e9e-98bd-6e1dc9a57ea2","name":"OpenAI chat model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[540,560],"credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"contextWindowLength":100},"id":"ae828e77-1679-4cce-bd03-f9dc2fb58f14","name":"Assistant memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[680,560]},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"23657ae1-e71a-801c-ac77-c720b936b9af","mode":"list","cachedResultName":"Контакты","cachedResultUrl":"https://www.notion.so/23657ae1e71a801cac77c720b936b9af"},"title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","simple":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}","propertiesUi":{"propertyValues":[{"key":"ФИО|title","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues0_Title', ``, 'string') }}"},{"key":"Телефон|phone_number","phoneValue":"={{ $fromAI('propertyValues1_Phone_Number', ``, 'string') ? $fromAI('propertyValues1_Phone_Number', ``, 'string') : null }}"},{"key":"Электронная почта|email","emailValue":"={{ $fromAI('propertyValues2_Email', ``, 'string') ? $fromAI('propertyValues2_Email', ``, 'string') : null }}"},{"key":"Статус клиента|status","statusValue":"=Новый"},{"key":"Цель визитов|rich_text","textContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues4_Text', ``, 'string') }}"},{"key":"Возраст|number","numberValue":"={{ $fromAI('propertyValues5_Number', ``, 'number') }}"},{"key":"Имя пользователя в tg|rich_text","textContent":"={{ $('Telegram trigger').item.json.message.chat.username }}"},{"key":"ID tg чата|rich_text","textContent":"={{ $('Merge with session id').item.json.sessionId }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[880,740],"id":"46972889-9d08-445d-a1cf-003031fd683b","name":"Create notion contact","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"23657ae1-e71a-8091-8925-c2337b9b7232","mode":"list","cachedResultName":"Запись клиентов","cachedResultUrl":"https://www.notion.so/23657ae1e71a80918925c2337b9b7232"},"title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","simple":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}","propertiesUi":{"propertyValues":[{"key":"Запись|title","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues0_Title', ``, 'string') }}"},{"key":"Дата визита|date","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues1_Date', ``, 'string') }}","timezone":"Europe/Moscow"},{"key":"Описание визита|rich_text","textContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues2_Text', ``, 'string') }}"},{"key":"Статус визита|status","statusValue":"=Запланировано"},{"key":"Клиент|relation","relationValue":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues4_relationValue0_Relation_IDs', ``, 'string') }}"]}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[1020,740],"id":"835070cd-27a7-4e8a-ae85-8f6a5398c31f","name":"Create notion appointment","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Ай! Кажется, что-то немного глючит с записью 😓\nДавайте сделаем так: напишите мне немного позже — я всё обязательно починю и запишу вас в первую очередь 💜","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2920,240],"id":"488a7d7d-9ffc-472e-85e1-2a8e0d4c5bd7","name":"Send error message","webhookId":"b204ac97-3720-43d0-84be-1f157f02bab3","credentials":{"telegramApi":{"id":"QvLj73P2usDhUSBY","name":"VM_Постинг_ТГ_Ассистент"}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"={{ $('Assistant agent').item.json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2340,0],"id":"a828af94-abcc-42d8-81e7-d04711ac896d","name":"Send message","webhookId":"b204ac97-3720-43d0-84be-1f157f02bab3","credentials":{"telegramApi":{"id":"QvLj73P2usDhUSBY","name":"VM_Постинг_ТГ_Ассистент"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"23657ae1-e71a-8091-8925-c2337b9b7232","mode":"list","cachedResultName":"Запись клиентов","cachedResultUrl":"https://www.notion.so/23657ae1e71a80918925c2337b9b7232"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","simple":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}","filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Дата визита|date","condition":"on_or_after","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Date', ``, 'string') }}"},{"key":"Дата визита|date","condition":"before","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions2_Date', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[1360,740],"id":"fa961e55-7040-4b43-a990-c3f37102d889","name":"Get notion appointments","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"23657ae1-e71a-801c-ac77-c720b936b9af","mode":"list","cachedResultName":"Контакты","cachedResultUrl":"https://www.notion.so/23657ae1e71a801cac77c720b936b9af"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","simple":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}","filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Имя пользователя в tg|rich_text","condition":"equals","richTextValue":"={{ $('Telegram trigger').item.json.message.chat.username }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[740,740],"id":"c219647a-2685-4671-bfe3-992061a88644","name":"Get notion contact","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"assignments":{"assignments":[{"id":"aaaaa079-bc27-4e6a-be5c-c0eb1935cc06","name":"sessionId","value":"={{ $('Telegram trigger').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,520],"id":"5af014b3-e88f-492d-a6a4-d867e159a847","name":"Set session id"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"23657ae1-e71a-8091-8925-c2337b9b7232","mode":"list","cachedResultName":"Запись клиентов","cachedResultUrl":"https://www.notion.so/23657ae1e71a80918925c2337b9b7232"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","simple":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}","filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Дата визита|date","condition":"equals","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Date', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[1180,740],"id":"a8e4a495-cf03-4a8f-958e-8c8fff1efdb1","name":"Gheck notion appointment","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2080,0],"id":"26b12702-7442-4720-b2dd-2455d19c30c5","name":"Wait for response","webhookId":"de3e4587-c94a-40ea-8c8c-f85bea423374"},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-420,660],"id":"e6ed9545-e72c-41db-8570-087be77427c3","name":"Chat memory cleaner"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=1908115440","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-500,840],"id":"c8b5e031-5019-4f5d-b5fe-5f175e2df377","name":"Assistant memory (clear)"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-640,660],"id":"3ccd3209-df48-4891-9a0a-27b44a8f079e","name":"When clicking ‘Execute workflow’"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-640,200],"id":"3ee0387b-7f5a-4df4-a2cb-6b9064ef1fae","name":"Telegram trigger","webhookId":"b58e35ec-07f4-41d0-92f6-eab386038e54","credentials":{"telegramApi":{"id":"QvLj73P2usDhUSBY","name":"VM_Постинг_ТГ_Ассистент"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Telegram trigger').item.json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"9b24beeb-491e-4995-992c-1d4139313e9c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $('Telegram trigger').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"54df866a-01a1-4118-bf9d-4e4f0701ce5a","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-420,200]},{"parameters":{"resource":"file","fileId":"={{ $('Telegram trigger').item.json.message.voice.file_id }}"},"id":"4e7d8630-1bc5-43f9-b237-6dd9b85a9d4f","name":"Download voice","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-140,0],"webhookId":"d62534f5-2dbe-49a4-ad6b-1544f5918d9c","credentials":{"telegramApi":{"id":"QvLj73P2usDhUSBY","name":"VM_Постинг_ТГ_Ассистент"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"aac22710-6e17-4e8f-a048-e750657226ee","name":"Transcribe voice","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[60,0],"credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('Transcribe voice').item.json.text }}","type":"string"}]},"options":{}},"id":"f0244d1a-5cab-4c21-88ea-bb76eaaa5921","name":"Set voice text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0]},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[460,200],"id":"dd88d7cd-490a-4362-94f5-a79e2addd1f3","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('Telegram trigger').item.json.message.text }}","type":"string"}]},"options":{}},"id":"1580506d-195e-4b42-a294-0ad3cd950698","name":"Set text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,220]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[720,220],"id":"cd5c6664-295f-4659-9d02-4dc732da19e5","name":"Merge with session id"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Database_Page', ``, 'string') }}","mode":"id"},"simple":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}","propertiesUi":{"propertyValues":[{"key":"Статус визита|status","statusValue":"Отменено"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[1700,740],"id":"c7dfaa2c-be1f-4215-bceb-3c6d07fb24d0","name":"Cancel notion appointment","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"23657ae1-e71a-8091-8925-c2337b9b7232","mode":"list","cachedResultName":"Запись клиентов","cachedResultUrl":"https://www.notion.so/23657ae1e71a80918925c2337b9b7232"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","simple":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}","filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Статус визита|status","condition":"equals","statusValue":"Запланировано"},{"key":"Клиент|relation","condition":"contains","relationValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Relation_ID', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[1540,740],"id":"f0464d45-a4f5-4ca9-8b07-9cdeae92ad5b","name":"Get client notion appointments","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"promptType":"define","text":"={{ $('Merge with session id').item.json.text }}","options":{"systemMessage":"=🎯 Назначение:\nТы — моя помощница, дружелюбная и внимательная ассистентка, которая помогает записывать клиентов ко мне, психологу Владимиру Владимировичу, через Telegram. Отвечай от имени Анастасия — будто это реальный ассистент, а не бот. Общайся тепло, легко и естественно, как молодая девушка. Можно использовать смайлики, эмодзи, но умеренно и по ситуации. Без канцелярита и без роботизированных фраз. Обращение к пользователю только на \"вы\". Не используй \"привет\", только \"здравствуйте\" или \"добрый день\".\n\n🔧 Инструменты:\n  - `Send message` — отправка сообщения в Telegram\n  - `Get notion contact` — поиск контакта по Telegram username\n  - `Create notion contact` — добавление клиента в базу\n  - `Check notion appointment` — проверка на занятость времени\n⚠️ Важно: сюда нужно передавать дату-время минус 3 часа (UTC), то есть если на вход было 2025-07-24 17:30 - используй 2025-07-24 14:30. Используй это только для данного инструмента, в остальных не делай.\n  - `Get notion appointments` — получение всех записей на заданную дату (на весь день)\n  - `Create notion appointment` — создание записи на приём\n  - `Cancel notion appointment` - отмена записи на прием\n\n🔹 Шаг 1 — Первый контакт\nЕсли это самое первое сообщение — вежливо поприветствуй пользователя и проверь наличие контакта через `Get notion contact` по Telegram username\nДалее:\n- если контакт найден — переходи к Шагу 3 (уточняющие вопросы)\n- если не найден — переходи к Шагу 2 (регистрация)\n\nЕсли это не первое сообщение пользователя и он уже записывался или пытался записаться ранее (данные есть в памяти) — обязательно уточни цель его сообщения, хочет ли он записаться повторно:\nХотите записаться ещё раз? Тогда задам несколько вопросов для сеанса, чтобы мы всё корректно оформили 🌿\nПосле утвердительного ответа переходи к Шагу 3 (уточняющие вопросы), иначе - заканчивай разговор.\n\n🔹 Шаг 2 — Регистрация клиента  \nПопроси ФИО, возраст, цель визита — всё в одном сообщении.\nТакже предложи, по желанию, оставить телефон и email.\nНапример:\nНапишите, пожалуйста, в свободной форме:\nФИО, возраст, цель визита\nМожете также добавить email или номер телефона, если удобно 😊\n\nПримеры ответа пользователя:  \n  - `Иванов Иван Иванович, 25, 8900000, тревожность и паника, 8900000, ivanov@mail.ru`\n  - `Черникова О.В., 30 лет, не понимаю, что со мной`\n  - `Пётр С., 21, панические атаки. Тел: 89001234567. Почта: user@mail.ru`\n\nПроверь, что указаны все обязательные поля. Если не хватает — попроси дополнить. Когда данные есть — сразу создай контакт через `Create notion contact`, установи статус = «Новый», поле Имя пользователя в tg заполни из Telegram Trigger - {{ $('Telegram trigger').item.json.message.chat.username }}, а поле ID tg чата - {{ $('Merge with session id').item.json.sessionId }}\n\n🔹 Шаг 3 — Уточняющие вопросы \nВ одном сообщении задай 3–4 простых вопроса в зависимости от цели визита, чтобы я лучше понял, с чем человек обращается.\nНапример:\nСпасибо 🌸 Чтобы Владимиру Владимировичу было легче подготовиться к встрече, расскажите, пожалуйста:  \n> 1) Как давно у вас эта ситуация?  \n> 2) Пробовали ли что-то делать самостоятельно?  \n> 3) Чего бы вы хотели добиться после встречи?\n\nОтветы будут нужны для краткого резюме.\n\n🔹 Шаг 4 — Выбор даты и времени\n1. Попроси пользователя указать желаемую дату и время визита по МСК (UTC+3). Например:  \nУкажите, пожалуйста, удобную дату и время встречи. Например:\n24 июля в 12:30 или в пятницу в 11 часов дня.\n\nОбрабатывай такие форматы:\n- «завтра в 14» — подставь текущую дату {{ $now.setZone('Europe/Moscow') }} + 1 день\n- «в пятницу» — найди ближайшую пятницу, учти, что текущий день недели - {{ $now.setZone('Europe/Moscow').weekdayLong }}\n- «без пятнадцати четыре» — интерпретируй как 15:45\n\n2. Прежде чем что-либо делать, всегда выполняй такие проверки:\n  ✅ Год = текущий (иначе подставь {{ $now.setZone('Europe/Moscow').year }})\n  ✅ Время в пределах 09:00–21:00 по МСК (UTC+3).\n  Если не попадает — попроси выбрать другое.\n  ✅ Дата и время не в прошлом — рассчитай разницу между текущим моментом {{ $now.setZone('Europe/Moscow') }} и указанной пользователем датой самостоятельно.\nЕсли дата/время уже прошли — вежливо попроси пользователя выбрать другое время.\n⚠️ Важно: если пользователь указал сегодняшнюю дату, проверь обязательно ещё и время. Например, если сейчас 15:00 по МСК, запись на 13:30 сегодня — невалидна.\nВ этих случаях покажи сообщение:\n    Похоже, это время уже прошло 🙈\n    Пожалуйста, выберите другое, в пределах с 9:00 до 21:00 по МСК.\nЕсли дата/время в будущем — переходи к следующей проверке.\n\nИспользуй встроенные функции или собственную логику, чтобы посчитать разницу в минутах или часах. Главное — избежать записи на прошедшее время.\n\n3. Затем обязательно проверь доступность:\n  - Используй `Check notion appointment`. Если время свободно - узел отдаст пустой ответ. Тогда сразу же переходи к шагу 5 (создание записи).\n  - Если время занято — получи все записи на этот день через `Get notion appointments` и предложи свободные слоты (с шагом 30 мин). Если свободных слотов нет - предложи пользователю выбрать другой день, так как этот день полность занят.\nПример:\nЭто время занято 😔\nВот свободные окошки на этот день:\n• 11:00\n• 13:30\n• 15:00\nНапишите, пожалуйста, какое подойдёт🌿\n\n⚠️ Важно: если пользователь повторно указывает дату (например, после ошибки или отказа), обязательно заново выполняй весь Шаг 4. Не пропускай проверки — даже если пользователь ранее уже вводил дату.\n\n🔹 Шаг 5 — Создание записи\nКогда время подтверждено, получи ID клиента через `Get notion contact` (по Telegram username) и создай запись через `Create notion appointment`.\nИспользуй поля:\n  - Запись: `Запись [ФИО] на [дата и время] — [цель визита]`\n  - Клиент: relation к существующему контакту (который был найден на этом шаге через `Get notion contact`) \n  - Дата визита: указанная дата и время  \n  - Статус визита: «Запланировано»  \n  - Описание визита: краткое резюме по ответам на уточняющие вопросы, например:  \n    `Проблема с тревожностью длится около 2 недель. Пробовал справляться самостоятельно, но безуспешно. Ожидает получить поддержку и направление для проработки ситуации.`\n\n⚠️ВАЖНО: никогда не создавай контакт повторно. Никогда не дублируй, даже если возникает ошибка с записью.\n\n🔹 Шаг 6 — Завершение  \nНапиши подтверждение в тёплой, живой форме. Пример:\nГотово! Я записала вас на 22 июля в 14:00 💜  \nВсё закреплено — буду ждать вас 🙌\n\nЗаверши диалог спокойно. Если пользователь поблагодарит — ответь:\nНе за что 🌸 До встречи!\n\n🔸 Отмена записи\nЕсли пользователь хочет отменить визит (или пишет, что не сможет прийти) — узнай точную дату и время, проверь наличие записи через `Check notion appointment`, а затем отмени через `Cancel notion appointment` (поставь статус записи - \"Отменено\").\n\nПодтверди:\nВсё ок, я отменила запись на 24 июля в 12:30 🌿\nЕсли захотите выбрать другое время — с радостью помогу!\n\n🔸 Сколько времени до приёма\nЕсли пользователь после записи спрашивает, сколько осталось времени до приёма (вопросы вроде:\n«Сколько осталось до приёма?», «Когда следующая встреча?», «Сколько дней осталось?»), то:\n  1. Найди клиента в базе через `Get notion contact`\n  2. Получи все записи клиента через `Get client notion appointments` и отфильтруй по найденному клиенту\n  3. Найди ближайшую дату из всех подходящих записей (то есть дату, которая ещё не наступила, и минимальна по разнице от текущей даты - {{ $now.setZone('Europe/Moscow') }})\n  4. Рассчитай разницу во времени между найденной датой и текущей ({{ $now.setZone('Europe/Moscow') }}), обязатель учитывай часы, минуты, дни.\n  5. Ответь пользователю, например:\n  До вашей встречи осталось 1 день и 3 часа 🌿\n  Буду напоминать ближе ко времени!\n\n🔸 Ошибки \nЕсли не удаётся создать запись из-за технической ошибки — не паникуй и не дублируй действия. Вместо этого отправь сообщение типа:\nЧто-то пошло не так с записью, техническая проблема 😥  \nЯ уже разбираюсь. Напишите, пожалуйста, чуть позже — и всё обязательно сделаю!\n\n🔸 Дополнительные правила  \n- Не используй json, markdown или скобки — только обычный живой текст  \n- Не отправляй больше одного сообщения за раз  \n- Не имитируй AI — ты просто дружелюбная помощница \n- Помни контекст, не повторяй одно и то же  \n- Не давай никаких психологических советов\n- Красиво разделяй текст на абзацы, разделяй абзацы через пустую строку\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1560,20],"id":"73f3a02c-8e3f-4c7b-832e-3cbc68dfaf96","name":"Assistant agent1","onError":"continueErrorOutput"},{"parameters":{"model":"gpt-4o","options":{"maxTokens":700,"responseFormat":"text","maxRetries":2}},"id":"ee8b249f-52d3-41f6-9e0d-7c78d3e30b97","name":"OpenAI chat model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1440,380],"credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"contextWindowLength":100},"id":"f21c08ee-671c-4b4d-bc44-9da3d5d1b831","name":"Assistant memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1580,380]}],"connections":{"Assistant agent":{"main":[[{"node":"Assistant agent1","type":"main","index":0}],[]]},"OpenAI chat model":{"ai_languageModel":[[{"node":"Assistant agent","type":"ai_languageModel","index":0}]]},"Assistant memory":{"ai_memory":[[{"node":"Assistant agent","type":"ai_memory","index":0}]]},"Create notion contact":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Create notion appointment":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Get notion appointments":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Get notion contact":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Set session id":{"main":[[{"node":"Merge with session id","type":"main","index":1}]]},"Gheck notion appointment":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Wait for response":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Assistant memory (clear)":{"ai_memory":[[{"node":"Chat memory cleaner","type":"ai_memory","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Chat memory cleaner","type":"main","index":0}]]},"Telegram trigger":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"Set session id","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download voice","type":"main","index":0}],[{"node":"Set text","type":"main","index":0}]]},"Download voice":{"main":[[{"node":"Transcribe voice","type":"main","index":0}]]},"Transcribe voice":{"main":[[{"node":"Set voice text","type":"main","index":0}]]},"Set voice text":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Merge with session id","type":"main","index":0}]]},"Set text":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge with session id":{"main":[[{"node":"Assistant agent","type":"main","index":0}]]},"Cancel notion appointment":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Get client notion appointments":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Assistant agent1":{"main":[[{"node":"Wait for response","type":"main","index":0}]]},"OpenAI chat model1":{"ai_languageModel":[[{"node":"Assistant agent1","type":"ai_languageModel","index":0}]]},"Assistant memory1":{"ai_memory":[[{"node":"Assistant agent1","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5da09962-062a-4f7d-87f2-cb1fec020c6a","triggerCount":0,"tags":[]}