techError-K7YiTDHJO09F7UsA.json
{"createdAt":"2025-04-09T21:09:20.364Z","updatedAt":"2025-04-19T16:43:19.357Z","id":"K7YiTDHJO09F7UsA","name":"techError","active":false,"nodes":[{"parameters":{},"id":"394cdc31-9fa3-4989-bd9f-4839785beadf","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[680,380]},{"parameters":{"additionalFields":{}},"id":"18a87eb8-36c0-494e-ad20-09d52ebba156","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[900,380],"credentials":{"telegramApi":{"id":"nh94clB91AM5F9q0","name":"vvAgentAssistantBot"}}},{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[980,240],"typeVersion":1,"id":"2b92bad5-1fd0-4517-9d57-cbc21d3974ff"},{"parameters":{"familyName":"n8n","givenName":"n8n","additionalFields":{}},"name":"Google Contacts","type":"n8n-nodes-base.googleContacts","position":[1180,240],"typeVersion":1,"id":"1a511289-cbb4-49a7-9fe6-b617a9fc4ce2","credentials":{"googleContactsOAuth2Api":{"id":null,"name":"google-contact"}}},{"parameters":{"operation":"update","contactId":"={{$node[\"Google Contacts\"].json[\"contactId\"]}}","updateFields":{"companyUi":{"companyValues":[{"current":true,"domain":"n8n.io","name":"n8n","title":"n8n"}]}}},"name":"Google Contacts1","type":"n8n-nodes-base.googleContacts","position":[1380,240],"typeVersion":1,"id":"8c8594d2-e629-4cb0-ae5c-1215f6acf529","credentials":{"googleContactsOAuth2Api":{"id":null,"name":"google-contact"}}},{"parameters":{"operation":"get","contactId":"={{$node[\"Google Contacts\"].json[\"contactId\"]}}","fields":["organizations"]},"name":"Google Contacts2","type":"n8n-nodes-base.googleContacts","position":[1580,240],"typeVersion":1,"id":"036cb9d0-db37-4020-9715-8c6dac43cd1b","credentials":{"googleContactsOAuth2Api":{"id":null,"name":"google-contact"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.myNewField = 1\nreturn _input.all()"},"id":"7535268b-f9c5-4634-901a-43711be452a9","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,380]}],"connections":{"Error Trigger":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Google Contacts":{"main":[[{"node":"Google Contacts1","type":"main","index":0}]]},"Google Contacts1":{"main":[[{"node":"Google Contacts2","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Google Contacts","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7c1c4cf0-7f1a-40c0-a305-0a40782d899c","triggerCount":0,"tags":[]}