test-notion-iDw8LUiRa6MdPU2c.json
{"createdAt":"2025-06-26T20:07:18.312Z","updatedAt":"2025-06-26T20:07:35.000Z","id":"iDw8LUiRa6MdPU2c","name":"test notion","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message"},{"name":"sessionId"}]}},"id":"671fb1b9-d05d-49c7-b5b0-8c51f8db55ef","typeVersion":1.1,"name":"Workflow Input Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Workflow Input Trigger').item.json.sessionId }}-{{ $workflow.id }}","contextWindowLength":40},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[300,260],"id":"72629a5e-36cf-4033-848b-44aaca7290da","name":"Window Buffer Memory"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=# Role\n\nYou are a Notion Agent\n\n# Responsibility\n\nYour role is to manage Notion data by retrieving and updating meal plans, habits, and other database entries.\n\n# Your Available Agents Tools\n\n- Get My Weekly Meal Planner  \n- Get My Meals  \n- Get Habits  \n- Create Meal  \n\n# Standard Operating Procedures (Example Tasks)\n\nNo matter the call, you **MUST first call the Get Databases tool** to understand what is available in Notion.  \nThen, determine the appropriate action based on the retrieved information.\n\n# Specifics\n- Current Date and Time: {{ $now }}\n- Be Detailed in your output\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[220,0],"id":"6b86527f-66a9-48ef-99ef-d7a1e1289d6d","name":"Notion Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[100,260],"id":"7c5e262f-60e1-43e9-90e2-53aebdcb5bdb","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"resource":"database","operation":"getAll","returnAll":true,"simple":false},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[480,260],"id":"ccc2bfdd-2bce-4faa-93e3-f6961919cb80","name":"Get My Weekly Meal Planner","credentials":{"notionApi":{"id":"ShniCeESefRXiGVr","name":"VV_account_Notion "}}},{"parameters":{"resource":"database","operation":"getAll","returnAll":true,"simple":false},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[660,240],"id":"85b3f52b-0edf-4183-8313-4fd88290e732","name":"Get My Meals","credentials":{"notionApi":{"id":"ShniCeESefRXiGVr","name":"VV_account_Notion "}}},{"parameters":{"resource":"database","operation":"getAll","returnAll":true,"simple":false},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[820,240],"id":"aca3d4f2-f735-4c5e-bd44-da0431e22fab","name":"Get Habits","credentials":{"notionApi":{"id":"ShniCeESefRXiGVr","name":"VV_account_Notion "}}},{"parameters":{"resource":"database","databaseId":{"__rl":true,"value":"19a922ba-8404-8103-831a-f3f4a13f7d59","mode":"list","cachedResultName":"Meals","cachedResultUrl":"https://www.notion.so/19a922ba84048103831af3f4a13f7d59"}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[960,240],"id":"ffb60d73-f89c-445f-a99d-9456d9c35297","name":"Create Meal","credentials":{"notionApi":{"id":"ShniCeESefRXiGVr","name":"VV_account_Notion "}}},{"parameters":{"content":"### ↑ To Do\nChoose Database","height":80,"width":270,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,440],"id":"9150abb8-1999-4e2f-a469-546b47f1df89","name":"Sticky Note"}],"connections":{"Workflow Input Trigger":{"main":[[{"node":"Notion Agent","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Notion Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Notion Agent","type":"ai_languageModel","index":0}]]},"Get My Weekly Meal Planner":{"ai_tool":[[{"node":"Notion Agent","type":"ai_tool","index":0}]]},"Get My Meals":{"ai_tool":[[{"node":"Notion Agent","type":"ai_tool","index":0}]]},"Get Habits":{"ai_tool":[[{"node":"Notion Agent","type":"ai_tool","index":0}]]},"Create Meal":{"ai_tool":[[{"node":"Notion Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"da87f8ad-a319-4b22-b23f-0db701150477","triggerCount":0,"tags":[]}