VM_backup-hMoMvHgwzerAo7EW.json
{"createdAt":"2025-06-23T18:37:21.048Z","updatedAt":"2025-07-25T09:04:25.000Z","id":"hMoMvHgwzerAo7EW","name":"VM_backup","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"b37387eb-89fe-4a2f-b03d-f6fde9d11bd0","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2200,460]},{"parameters":{"options":{}},"id":"c5b9c404-972c-43c1-bedd-42d913ec5d12","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2000,460]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"c5ac7338-480e-49d3-9e65-86d8c961f67a","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1800,460]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"2e4123bc-714d-4762-a7db-0887eaf7e36a","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1600,460]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/NikaLightman/n8n_backup","mode":"url"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/NikaLightman/n8n_backup"},"filePath":"="},"id":"cb5bfc61-3c7b-4b5e-a1f3-5f4f3c7305fb","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1400,460],"alwaysOutputData":true,"webhookId":"46e44e38-c3ba-470c-a86f-15e26dfb194e","credentials":{"githubOAuth2Api":{"id":"LxPbsf4AoMh7YTsm","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"353ad245-0d79-4ae6-8b34-0a57362aff74","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1200,460]},{"parameters":{"filters":{},"requestOptions":{}},"id":"7e69bb1a-731b-479f-a0f5-36ed2962f303","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1000,460],"credentials":{"n8nApi":{"id":"Z2ElhYaWtZrSUrpb","name":"n8n account for backup"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-') }}-{{ $json.id }}.json"}},"id":"0388c2c0-3b90-4e8b-9305-9f79433eeaf2","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-800,460]},{"parameters":{"batchSize":1,"options":{}},"id":"15988221-7da0-45b5-abb3-528dbe9980cc","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-560,460]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"bef826b0-5835-4c3c-90d5-6453155a66b2","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-320,380]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/NikaLightman/n8n_backup","mode":"url"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/NikaLightman/n8n_backup"},"filePath":"={{ $node[\"Check if file exists in repository\"].binary.data.fileName }}","fileContent":"={{ $json.data }}","commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"993d4513-0904-42e0-9f91-282f338fda5e","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,0],"webhookId":"7882a3e1-d22e-4136-acf7-13f3d10562a8","credentials":{"githubOAuth2Api":{"id":"LxPbsf4AoMh7YTsm","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/NikaLightman/n8n_backup","mode":"url"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/NikaLightman/n8n_backup"},"filePath":"={{ $node[\"Check if file exists in repository\"].binary.data.fileName }}","fileContent":"={{ $json.data }}","commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"8864a9a7-ae8a-4f4b-b1dc-ff8102db7435","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-20,640],"webhookId":"5aa15180-24d2-464d-b347-b5a2e2d4f2de","credentials":{"githubOAuth2Api":{"id":"LxPbsf4AoMh7YTsm","name":"GitHub account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-160,500],"id":"280f4130-9a6a-4155-84be-12d668bf681d","name":"Extract from File"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-160,200],"id":"c92bf57b-9a86-48ea-9324-4ca7431eb472","name":"Extract from File1"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Extract from File1","type":"main","index":0}],[{"node":"Extract from File","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"96bb7b6e-427c-4d43-8eb5-73da1326d2bc","triggerCount":0,"tags":[]}