VM_calender-jtGM4yxNQnb0oSk3.json
{"createdAt":"2025-06-23T18:38:45.360Z","updatedAt":"2025-06-23T18:38:45.360Z","id":"jtGM4yxNQnb0oSk3","name":"VM_calender","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"0bee3047-eb4c-4175-87b0-4b0456cd1e8a","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-760,340]},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"67c82a60-7d0a-4df3-abb9-bf4889abcb5c","name":"Try Again","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,180]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"={{$json.output}}","type":"string"}]},"options":{}},"id":"0ef656d5-ac8c-4fbc-8a74-60e7601a0539","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"barkalovamaksimovna@gmail.com","mode":"list","cachedResultName":"barkalovamaksimovna@gmail.com"},"options":{"timeMin":"={{ $fromAI(\"dayBefore\", \"the day before the date the user requested\") }}","timeMax":"={{ $fromAI(\"dayAfter\", \"the day after the date the user requested\") }}"}},"id":"3b7ee6df-56c9-4959-baab-e2cc709b5a20","name":"Get Events","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[-640,520]},{"parameters":{"calendar":{"__rl":true,"value":"barkalovamaksimovna@gmail.com","mode":"list","cachedResultName":"barkalovamaksimovna@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"summary":"={{ $fromAI(\"eventTitle\") }}"}},"id":"ebec5dde-3689-490e-8ad2-0fed5a37ee9e","name":"Create Event","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[-480,520]},{"parameters":{"calendar":{"__rl":true,"value":"barkalovamaksimovna@gmail.com","mode":"list","cachedResultName":"barkalovamaksimovna@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":["={{ $fromAI(\"eventAttendeeEmail\") }}"],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"id":"28cbcb3d-0ebd-4333-a147-d31ba1e377ec","name":"Create Event with Attendee","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[-320,520]},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"barkalovamaksimovna@gmail.com","mode":"list","cachedResultName":"barkalovamaksimovna@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","updateFields":{"end":"={{ $fromAI(\"endTime\") }}","start":"={{ $fromAI(\"startTime\") }}"}},"id":"64abb084-8c3a-44a9-b73c-bb298b3a433f","name":"Update Event","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[-140,520]},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"barkalovamaksimovna@gmail.com","mode":"list","cachedResultName":"barkalovamaksimovna@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","options":{}},"id":"c2334de4-62be-4508-bf99-9ef931e8b4da","name":"Delete Event","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[20,520]},{"parameters":{},"id":"40396247-511d-46cf-ada4-8a56669fa42c","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-820,100]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\n**Calendar Management Tools**\n   - Use \"Create Event\" for solo events. \n   - Use \"Create Event with Attendee\" when an event includes a participant. If email is not specified, then use \"Create Event\".\n   - Use \"Get Events\" to fetch calendar schedules when requested.\n   - Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n   - Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn't specified, assume it will be one hour."}},"id":"0de37e8b-01b8-4612-aa4e-5aec0230361d","name":"Calendar agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-600,100],"onError":"continueErrorOutput"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Calendar agent","type":"ai_languageModel","index":0}]]},"Get Events":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Create Event":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Create Event with Attendee":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Update Event":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Delete Event":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Calendar agent","type":"main","index":0}]]},"Calendar agent":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b4fb724f-7c11-4da2-8878-7e012a95d09f","triggerCount":0,"tags":[]}