VM_contact-qECZOHDi9qUknGxo.json
{"createdAt":"2025-06-23T18:39:24.601Z","updatedAt":"2025-06-23T18:39:24.601Z","id":"qECZOHDi9qUknGxo","name":"VM_contact","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"16216a3e-79a6-4f23-ba93-b4767558062b","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[20,200],"id":"a8e263b5-e5d8-4d0a-b26b-276106ca2acd","name":"Try Again"},{"parameters":{"options":{}},"id":"a164d7d1-c297-41a9-a16f-a19493ef3c36","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-800,300]},{"parameters":{},"id":"11ff91af-7040-41ca-9e9b-f07af6bdc4db","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-940,80]},{"parameters":{"url":"https://people.googleapis.com/v1/people/me/connections","authentication":"predefinedCredentialType","nodeCredentialType":"googleContactsOAuth2Api","sendQuery":true,"parametersQuery":{"values":[{"name":"personFields","valueProvider":"fieldValue","value":"names,emailAddresses,phoneNumbers"}]}},"id":"41705309-8f8d-4f3f-aa0d-b101efb1bde7","name":"Get All Contacts","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-460,300]},{"parameters":{"method":"POST","url":"https://people.googleapis.com/v1/people:createContact","authentication":"predefinedCredentialType","nodeCredentialType":"googleContactsOAuth2Api","sendQuery":true,"parametersQuery":{"values":[{}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"names\": [\n    {\n      \"givenName\": \"{firstName}\",\n      \"familyName\": \"{lastName}\",\n    }\n  ],\n  \"emailAddresses\": [\n    {\n      \"value\": \"{email}\",\n      \"type\": \"work\"\n    }\n  ],\n  \"phoneNumbers\": [\n    {\n      \"value\": \"{phone}\",\n      \"type\": \"mobile\"\n    }\n  ]\n}","placeholderDefinitions":{"values":[{"name":"firstName","description":"Contact's first name"},{"name":"email","description":"Contact's email address"},{"name":"phone","description":"Contact's phone number"}]}},"id":"18f7ceca-287b-47e0-8721-730845c48016","name":"Add Contact","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-340,300]},{"parameters":{"sessionIdType":"customKey","sessionKey":"{{ Math.floor(Date.now() / 1000 / 120) }}"},"id":"6dac989e-eb53-4e1e-a51b-b11b03b80d87","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[-640,300]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a contact management assistant. Your responsibilities include finding contacts, adding new contacts, or updating contact information.\n\n## Rules\n- If you need to use \"Add Contact\":\n  1. Extract contact data from start query: `firstName`, `email`, `phone`.\n  2. Call the \"Add Contact\" tool.\n  3. Fill each placeholder in the tool.\n\n**Manage Contacts**\n- Use \"Get All Contacts\" to get a complete list of all saved contacts.\n- Use \"Find Contact\" to find a contact by a specific name. Returns matching contacts and their resourceName and etag. Use \"Find All Contacts\" first and then find all matching contacts by their full name.\n- Use \"Add Contact\" to add new contact. You can include firstName, email, phone.\n- Use \"Update Contact\" to update an existing contact with resourceName (ID). Only the fields provided will be updated - the rest will remain unchanged. Before updating, you must first find the specified contact using \"Find Contact\" to get the resourceName and etag from it.\n "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-620,80],"id":"59e08abd-a515-4111-9e12-c6c6d38d537d","name":"Contact agent","onError":"continueErrorOutput"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Contact agent","type":"ai_languageModel","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Contact agent","type":"main","index":0}]]},"Get All Contacts":{"ai_tool":[[{"node":"Contact agent","type":"ai_tool","index":0}]]},"Add Contact":{"ai_tool":[[{"node":"Contact agent","type":"ai_tool","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Contact agent","type":"ai_memory","index":0}]]},"Contact agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9c3ff5dc-8ea0-4ea0-aead-b276f7adbdc3","triggerCount":0,"tags":[{"createdAt":"2025-06-23T18:39:10.485Z","updatedAt":"2025-06-23T18:39:10.485Z","id":"ozVmfaPTnAtqSVrm","name":"vm"}]}