VM_task-TD1t9iTNXce2x0vs.json
{"createdAt":"2025-06-23T18:45:28.794Z","updatedAt":"2025-06-23T18:45:28.794Z","id":"TD1t9iTNXce2x0vs","name":"VM_task","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"40a13d8f-e450-4a12-8bf3-3705ebf0ce2e","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,160],"id":"8fac3af6-b6f0-4f03-b30a-dc3ce4b8d3a0","name":"Try Again"},{"parameters":{"options":{}},"id":"4c0ac243-ac34-4a18-baec-42d7d0d1efde","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-720,340]},{"parameters":{},"id":"1141ff12-06d8-436b-9b97-e9257b285613","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-880,60]},{"parameters":{"documentId":{"__rl":true,"value":"1mt1VXFMTm3QDJ6IFTIq6Bs8YL8xHq0c5S_EGg85SQpE","mode":"list","cachedResultName":"WorkNeuro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mt1VXFMTm3QDJ6IFTIq6Bs8YL8xHq0c5S_EGg85SQpE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":911730578,"mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mt1VXFMTm3QDJ6IFTIq6Bs8YL8xHq0c5S_EGg85SQpE/edit#gid=911730578"},"options":{}},"id":"ef7b684f-c2f8-445c-82c5-676ddd1a313a","name":"Get Task","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-480,340]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1mt1VXFMTm3QDJ6IFTIq6Bs8YL8xHq0c5S_EGg85SQpE","mode":"list","cachedResultName":"WorkNeuro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mt1VXFMTm3QDJ6IFTIq6Bs8YL8xHq0c5S_EGg85SQpE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":911730578,"mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mt1VXFMTm3QDJ6IFTIq6Bs8YL8xHq0c5S_EGg85SQpE/edit#gid=911730578"},"columns":{"mappingMode":"defineBelow","value":{"Описание":"={{ $fromAI(\"description\") }}","Статус":"={{ $fromAI(\"status\") }}","Ответственный":"={{ $fromAI(\"responsible\") }}","Дата дедлайна":"={{ $fromAI(\"deadlineDate\") }}","Комментарии к задаче":"={{ $fromAI(\"comments\") }}","Дата последнего изменения статуса":"={{ $fromAI(\"dateOfLastUpdateStatus\") }}","Ссылка на связанную задачу":"={{ $fromAI(\"linkToRelatedTask\") }}","Номер":"={{ $fromAI(\"number\") }}"},"matchingColumns":["Номер"],"schema":[{"id":"Номер","displayName":"Номер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Описание","displayName":"Описание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ответственный","displayName":"Ответственный","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Дата последнего изменения статуса","displayName":"Дата последнего изменения статуса","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Дата дедлайна","displayName":"Дата дедлайна","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Комментарии к задаче","displayName":"Комментарии к задаче","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ссылка на связанную задачу","displayName":"Ссылка на связанную задачу","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"2f07768f-8489-4152-8e0a-3989bb8e1106","name":"Add or Update Task","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-300,340]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a task management assistant. Your responsibilities include getting tasks, adding new tasks, or updating existing ones.\n\n**Task Management**  \n   - Use \"Get Tasks\" to get information about tasks.  \n   - Use \"Add or Update Task\" to store new tasks or update existing ones.\n\n## Rules\n- If a new task is inserted, then you must first get all tasks through the node \"Get Tasks\", select the maximum number and assign the new row a number - the maximum + 1. If the list of received tasks is empty - then new number is 0.\n- Every task must include task description and task number. These fields are mandatory and must always be provided.\n- Task number is unique. It is the primary identifier used to find a task.\n- Task description is unique. It is the primary identifier used to find or update a task.\n- When a status is filled in for the first time or updated, the last status update date field is filled in with the value - {{ $now.format('dd.MM.yyyy') }}\n- The status can only take values ​​from the list: `\"Поступила\"`, `\"Назначена\"`, `\"Принята в работу\"`, `\"Выполнена\"`, `\"Завершена\"`\n\n- Default values:\n  - If task status is not provided, default as follows:\n    - If the task has no assignee, set status to `\"Поступила\"`\n    - If the task has an assignee, set status to `\"Назначена\"`\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-620,60],"id":"b266381a-ed17-4cb1-aa81-adb16b80af80","name":"Task agent","onError":"continueErrorOutput"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Task agent","type":"ai_languageModel","index":0}]]},"Get Task":{"ai_tool":[[{"node":"Task agent","type":"ai_tool","index":0}]]},"Add or Update Task":{"ai_tool":[[{"node":"Task agent","type":"ai_tool","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Task agent","type":"main","index":0}]]},"Task agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0eba0e8a-7f1d-4199-9bfc-41e7adc37f5b","triggerCount":0,"tags":[{"createdAt":"2025-06-23T18:39:10.485Z","updatedAt":"2025-06-23T18:39:10.485Z","id":"ozVmfaPTnAtqSVrm","name":"vm"}]}