VM_teachError-YDg2v6UPA6s7kJ3C.json
{"createdAt":"2025-06-23T18:47:48.980Z","updatedAt":"2025-07-31T17:51:46.000Z","id":"YDg2v6UPA6s7kJ3C","name":"VM_teachError","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"615c03f3-4ebf-4e00-a636-ea777ad27bc1","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-300,140]},{"parameters":{"additionalFields":{}},"id":"698f3773-dfea-476c-93d7-34c4602a4fec","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-80,140],"webhookId":"dcf2e6d5-ff07-4b25-9931-6efd7dec5a3a"},{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[0,0],"typeVersion":1,"id":"4a5d19b2-f30d-4bd5-a7d2-a693d1876813"},{"parameters":{"familyName":"n8n","givenName":"n8n","additionalFields":{}},"name":"Google Contacts","type":"n8n-nodes-base.googleContacts","position":[200,0],"typeVersion":1,"id":"65e2ec0c-9a3a-4cc0-9418-96ecf7a21800","credentials":{"googleContactsOAuth2Api":{"id":null,"name":"google-contact"}}},{"parameters":{"operation":"update","contactId":"={{$node[\"Google Contacts\"].json[\"contactId\"]}}","updateFields":{"companyUi":{"companyValues":[{"current":true,"domain":"n8n.io","name":"n8n","title":"n8n"}]}}},"name":"Google Contacts1","type":"n8n-nodes-base.googleContacts","position":[400,0],"typeVersion":1,"id":"9ea24aaf-4fa2-4dfe-9eec-1f745981dcff","credentials":{"googleContactsOAuth2Api":{"id":null,"name":"google-contact"}}},{"parameters":{"operation":"get","contactId":"={{$node[\"Google Contacts\"].json[\"contactId\"]}}","fields":["organizations"]},"name":"Google Contacts2","type":"n8n-nodes-base.googleContacts","position":[600,0],"typeVersion":1,"id":"d6e2a855-d511-4813-9f40-541ab839eb2b","credentials":{"googleContactsOAuth2Api":{"id":null,"name":"google-contact"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.myNewField = 1\nreturn _input.all()"},"id":"a87dcfae-06c2-45d5-9cb6-a706ba7aca84","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[140,140]}],"connections":{"Error Trigger":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Google Contacts":{"main":[[{"node":"Google Contacts1","type":"main","index":0}]]},"Google Contacts1":{"main":[[{"node":"Google Contacts2","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Google Contacts","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5ccb35bf-ccc5-4685-9d1b-80f239c7d6d2","triggerCount":0,"tags":[]}