VM_Админ_маршрутизатор-l8W2dtjYSMXYkftm.json
{"createdAt":"2025-07-16T12:09:45.522Z","updatedAt":"2025-08-05T15:22:52.000Z","id":"l8W2dtjYSMXYkftm","name":"VM_Админ_маршрутизатор","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-220,260],"id":"bd571f91-bcc2-4f1b-bbfd-a28505048dc4","name":"Telegram trigger","webhookId":"75ad8315-4f0f-4828-bbce-de150e4ade6c","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f03d036-c0fb-4d58-b3e8-855a5a3fc974","leftValue":"={{ $('Telegram trigger').item.json.message.text }}","rightValue":"/create_posts","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Create posts from approved ideas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"22cc60ed-df51-4702-b4cc-fbc2857c7bb3","leftValue":"={{ $('Telegram trigger').item.json.message.text }}","rightValue":"/publish_posts","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Publish of ready-made posts"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6bb42cfc-c843-4d3e-bb93-7eb4ef9421e1","leftValue":"={{ $('Telegram trigger').item.json.message.text }}","rightValue":"/get_commands_info","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Get commands info"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe545444-f5ee-4b43-92ee-f7abcb7240c2","leftValue":"={{ $('Telegram trigger').item.json.message.text }}","rightValue":"/publish_story","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Publish story"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"32f22f62-e4f6-479d-aead-1fe0df90a970","leftValue":"={{ $('Telegram trigger').item.json.message.text }}","rightValue":"/cancel_command","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancel command"}]},"options":{"fallbackOutput":"extra"}},"id":"54697787-879a-405f-a2fc-ccd9520e6720","name":"Switch commands","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[20,200],"alwaysOutputData":false},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Список доступных команд:\n\nДля создания идеи просто отправьте в чат текст или контент!\n\n/create_posts - Создать посты из одобренных идей\n/publish_posts - Опубликовать одобренные посты в социальные сети\n\n/publish_story - Создать и опубликовать историю\n\n/cancel_command - Отменить последнюю команду\n/get_commands_info - Получить список команд бота","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[380,300],"id":"ca3e4078-1d02-48ea-b76b-b42517d28ff4","name":"Send commands info","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Принято!\nЗапущен процесс создания постов из одобренных идей!\nПосты будут доступны в Notion через пару минут!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,-100],"id":"08e9e315-8b1e-47d2-9123-d0fa8b429b9d","name":"Create posts notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"workflowId":{"__rl":true,"value":"AFkuadLQLY0ALORx","mode":"list","cachedResultName":"VM_Контент_план_СЦ"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[380,-100],"id":"bcfdf3e5-7e47-4cda-bb89-315c8807a6b1","name":"Create posts workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"72Bqg1PkNy0piVAy","mode":"list","cachedResultName":"VM_Контент_план_Постинг"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[380,120],"id":"9f0fb765-3db5-4b9b-93ca-523c34d7f45d","name":"Publish posts workflow"},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Принято!\nЗапущен процесс публикации одобренных постов в социальные сети!\nПосты будут опубликованы через несколько минут!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,120],"id":"4999dfe7-da49-4938-9bcc-a5f3dceae2e3","name":"Publish posts notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Принято!\nПерехожу к созданию идеи!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[860,1460],"id":"7c071941-e155-4424-a817-f104601bf675","name":"Create idea notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  json: $('Telegram trigger').item.json\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,1460],"id":"7205cd21-e493-412c-bbbc-54f0e9016b96","name":"Set create idea input data"},{"parameters":{"workflowId":{"__rl":true,"value":"R3qUTCPqhxh8EybX","mode":"list","cachedResultName":"VM_Контент_план_TG"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1300,1460],"id":"e07cfe92-7abe-4ea0-8458-f8b9df5d9b2e","name":"Create idea workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"QsuuA2lS9dW4aljQ","mode":"list","cachedResultName":"VM_Контент_план_Отдельный_постинг_историй"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1300,1220],"id":"633edaef-6f5d-4456-908d-5042c1eb5097","name":"Create story workflow"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"user","message":"={{ $('Telegram trigger').item.json.message.text }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[380,500],"id":"99715511-514b-4517-98e4-b03acc1dc945","name":"Save command to memory","alwaysOutputData":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"=router-{{ $('Telegram trigger').item.json.message.chat.id}}","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[340,680],"id":"3ae22a22-ed2b-4ca7-87ab-d5da7c4f0c0d","name":"Memory (save)"},{"parameters":{"options":{"groupMessages":true}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[260,1320],"id":"7a792e90-542a-4cd4-9bcb-1cad0beeee05","name":"Get command from memory","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages.last().human }}","rightValue":"/publish_story","operator":{"type":"string","operation":"equals"},"id":"8f62d533-3f76-4ee2-80ea-bfb1bca3f7fa"}],"combinator":"and"},"renameOutput":true,"outputKey":"Publish story"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[620,1320],"id":"23657bf8-b748-4220-bd63-47a53ac5d1eb","name":"Switch commands from memory"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=router-{{ $('Telegram trigger').item.json.message.chat.id}}","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[220,1500],"id":"bf58d9b2-e252-4c5c-88a0-f2b0af675016","name":"Memory (get)"},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Принято!\nПерехожу к созданию истории!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[860,1220],"id":"a6e98c88-52ed-4e14-add8-be65007f4fef","name":"Publish story notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Процесс создания идеи успешно запущен!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1540,1460],"id":"7560ac08-0993-48b0-83ab-b4f292df60d3","name":"Finish of creation idea notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Процесс создания истории успешно запущен!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1540,1220],"id":"8d5f6961-1935-4d6f-8f77-1997421fc986","name":"Finish of publishing story notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  json: $('Telegram trigger').item.json\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,1220],"id":"360dfb51-0478-427c-a125-22a9782e68f5","name":"Set create story input data"},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[1860,1220],"id":"94d0fff6-ac6a-4a60-84b3-0dedd417eb1b","name":"Delete command from memory"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=router-{{ $('Telegram trigger').item.json.message.chat.id}}","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1820,1380],"id":"22efe77a-865a-4fbb-89c5-5375e9f00f81","name":"Memory (delete)"},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Принято!\nОтправьте контент для создания истории!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[780,500],"id":"9bf64143-d561-4657-916e-b3e73e385977","name":"Start of publishing story notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[380,880],"id":"4f147642-eb21-487f-8cc3-b3591628e21c","name":"Cancel command","alwaysOutputData":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"=router-{{ $('Telegram trigger').item.json.message.chat.id}}","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[340,1040],"id":"12712775-cd50-4045-9560-cc23d5dd20e2","name":"Memory (cancel)"},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Команда успешно отменена!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[800,880],"id":"74432e03-d6f5-448e-a4fc-60a4b73814c5","name":"Cancel command notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}}],"connections":{"Telegram trigger":{"main":[[{"node":"Switch commands","type":"main","index":0}]]},"Switch commands":{"main":[[{"node":"Create posts workflow","type":"main","index":0}],[{"node":"Publish posts workflow","type":"main","index":0}],[{"node":"Send commands info","type":"main","index":0}],[{"node":"Save command to memory","type":"main","index":0}],[{"node":"Cancel command","type":"main","index":0}],[{"node":"Get command from memory","type":"main","index":0}]]},"Create posts workflow":{"main":[[{"node":"Create posts notification","type":"main","index":0}]]},"Publish posts workflow":{"main":[[{"node":"Publish posts notification","type":"main","index":0}]]},"Set create idea input data":{"main":[[{"node":"Create idea workflow","type":"main","index":0}]]},"Create idea notification":{"main":[[{"node":"Set create idea input data","type":"main","index":0}]]},"Create idea workflow":{"main":[[{"node":"Finish of creation idea notification","type":"main","index":0}]]},"Create story workflow":{"main":[[{"node":"Finish of publishing story notification","type":"main","index":0}]]},"Memory (save)":{"ai_memory":[[{"node":"Save command to memory","type":"ai_memory","index":0}]]},"Get command from memory":{"main":[[{"node":"Switch commands from memory","type":"main","index":0}]]},"Switch commands from memory":{"main":[[{"node":"Publish story notification","type":"main","index":0}],[{"node":"Create idea notification","type":"main","index":0}]]},"Memory (get)":{"ai_memory":[[{"node":"Get command from memory","type":"ai_memory","index":0}]]},"Publish story notification":{"main":[[{"node":"Set create story input data","type":"main","index":0}]]},"Finish of creation idea notification":{"main":[[]]},"Set create story input data":{"main":[[{"node":"Create story workflow","type":"main","index":0}]]},"Memory (delete)":{"ai_memory":[[{"node":"Delete command from memory","type":"ai_memory","index":0}]]},"Finish of publishing story notification":{"main":[[{"node":"Delete command from memory","type":"main","index":0}]]},"Save command to memory":{"main":[[{"node":"Start of publishing story notification","type":"main","index":0}]]},"Memory (cancel)":{"ai_memory":[[{"node":"Cancel command","type":"ai_memory","index":0}]]},"Cancel command":{"main":[[{"node":"Cancel command notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c26ff1af-6d34-4fbe-a9b0-232016dc6a4e","triggerCount":1,"tags":[{"createdAt":"2025-07-28T11:38:28.659Z","updatedAt":"2025-07-28T11:38:28.659Z","id":"gG3sCNz62SioxsDF","name":"vm_router"}]}