VM_Админ_маршрутизатор-l8W2dtjYSMXYkftm.json
{"createdAt":"2025-07-16T12:09:45.522Z","updatedAt":"2025-07-23T16:13:44.000Z","id":"l8W2dtjYSMXYkftm","name":"VM_Админ_маршрутизатор","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-260,280],"id":"bd571f91-bcc2-4f1b-bbfd-a28505048dc4","name":"Telegram trigger","webhookId":"75ad8315-4f0f-4828-bbce-de150e4ade6c","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d5c7366-3dc9-44c5-8819-84debbf03345","leftValue":"={{ $('Telegram trigger').item.json.message.text }}","rightValue":"/create_idea","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Create idea"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f03d036-c0fb-4d58-b3e8-855a5a3fc974","leftValue":"={{ $('Telegram trigger').item.json.message.text }}","rightValue":"/create_posts","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Create posts from approved ideas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"22cc60ed-df51-4702-b4cc-fbc2857c7bb3","leftValue":"={{ $('Telegram trigger').item.json.message.text }}","rightValue":"/publish_posts","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Publish of ready-made posts"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Telegram trigger').item.json.message.text }}","rightValue":"/create_task","operator":{"type":"string","operation":"equals"},"id":"9b24beeb-491e-4995-992c-1d4139313e9c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Create task"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83345d12-cf57-4f64-94fb-429f9b27939f","leftValue":"={{ $('Telegram trigger').item.json.message.text }}","rightValue":"/clear_context","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Clear context"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6bb42cfc-c843-4d3e-bb93-7eb4ef9421e1","leftValue":"={{ $('Telegram trigger').item.json.message.text }}","rightValue":"/get_commands_info","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Get commands info"}]},"options":{"fallbackOutput":"extra"}},"id":"54697787-879a-405f-a2fc-ccd9520e6720","name":"Switch commands","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[20,200],"alwaysOutputData":false},{"parameters":{"workflowId":{"__rl":true,"value":"R3qUTCPqhxh8EybX","mode":"list","cachedResultName":"VM_Контент_план_TG"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1440,840],"id":"bfca114d-3e23-45f6-b65e-9ffa6790f313","name":"Create idea workflow"},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Принято!\nГотов перейти к созданию идеи!\nПожалуйста, пришлите текст, файл, аудио или др. материал!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[520,-740],"id":"b3e2410d-3075-4809-8a53-76e37f8a9428","name":"Create idea notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"user","message":"={{ $('Telegram trigger').item.json.message.text }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[1500,-280],"id":"9b7f27ce-b651-4506-8417-70cf978fc9fb","name":"Save command to memory"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=router-{{ $('Telegram trigger').item.json.message.chat.id}}","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1320,-20],"id":"23a4ad01-64a7-4aa2-9cef-3efee3472a02","name":"Memory (save)"},{"parameters":{"options":{"groupMessages":true}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[260,1120],"id":"1247c707-92d3-4e4e-87be-d032f407c6a8","name":"Get command from memory"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages.last().human }}","rightValue":"/create_idea","operator":{"type":"string","operation":"equals"},"id":"8f62d533-3f76-4ee2-80ea-bfb1bca3f7fa"}],"combinator":"and"},"renameOutput":true,"outputKey":"Create idea"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8987a15-8572-418d-bad4-1547b871d752","leftValue":"={{ $json.messages.last().human }}","rightValue":"/create_task","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Create task"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[680,1120],"id":"3d51d8cd-65b4-40c4-8ad6-4e6a9d118994","name":"Switch commands from memory"},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[2240,1120],"id":"0b852fb0-d0cb-4137-8e3f-f2b4eeafc33e","name":"Delete command from memory"},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Процесс создания идеи успешно запущен!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1700,840],"id":"b72ad96e-81e5-4f77-82f8-77cae306b36a","name":"Finish of creation idea notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Пожалуйста, выберите нужную команду!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1200,1360],"id":"b62e1634-ad36-4e2d-ade6-e5db389a53a9","name":"Create error notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[520,320],"id":"afbc454c-c285-4312-a7d8-a232e2e56a10","name":"Clear memory"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=router-{{ $('Telegram trigger').item.json.message.chat.id}}","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[440,500],"id":"9c4ba37b-3a0f-4578-8dd1-fd9fdc5e7eb0","name":"Memory (clear)"},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Контекст бота успешно очищен!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1140,320],"id":"ba6d750c-a8cd-4898-9c5b-60c8d763f0c1","name":"Create context cleaning notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Список доступных команд:\n\n/create_idea - Создать идею\n/create_posts - Создать посты из одобренных идей\n/publish_posts - Опубликовать одобренные посты в социальные сети\n\n/create_task - Создать задачу\n\n/clear_context - Очистить контекст бота\n/get_commands_info - Получить список команд бота","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[460,780],"id":"ca3e4078-1d02-48ea-b76b-b42517d28ff4","name":"Send commands info","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Принято!\nГотов перейти к созданию задачи!\nПожалуйста, напишите входные данные или запишите голосовое сообщение!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[520,20],"id":"02a20630-6441-4f7f-a484-1125bca5cbc0","name":"Create task notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Процесс создания задачи успешно запущен!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1700,1100],"id":"461ae68a-e8ed-48dc-8dc7-72e8414367e6","name":"Finish of creation task notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"workflowId":{"__rl":true,"value":"eKKPafm0wrUz2eC7","mode":"list","cachedResultName":"mch_test_back_tracing"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1440,1100],"id":"07b93b91-d5c2-42b1-9cac-04b381f713f8","name":"Create task workflow"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  json: $('Telegram trigger').item.json\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,840],"id":"e176b11c-9504-474c-a370-98b15c4f7c18","name":"Set create idea input data"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  json: $('Telegram trigger').item.json\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,1100],"id":"657d8e4f-fb2d-476d-bf9d-d0f9fb3dfa8f","name":"Set create task input data"},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Принято!\nЗапущен процесс создания постов из одобренных идей!\nПосты будут доступны в Notion через пару минут!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[760,-460],"id":"08e9e315-8b1e-47d2-9123-d0fa8b429b9d","name":"Create posts notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"workflowId":{"__rl":true,"value":"AFkuadLQLY0ALORx","mode":"list","cachedResultName":"VM_Контент_план_СЦ"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[520,-460],"id":"bcfdf3e5-7e47-4cda-bb89-315c8807a6b1","name":"Create posts workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"72Bqg1PkNy0piVAy","mode":"list","cachedResultName":"VM_Контент_план_Постинг"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[520,-220],"id":"9f0fb765-3db5-4b9b-93ca-523c34d7f45d","name":"Publish posts workflow"},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Принято!\nЗапущен процесс публикации одобренных постов в социальные сети!\nПосты будут опубликованы через несколько минут!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[760,-220],"id":"4999dfe7-da49-4938-9bcc-a5f3dceae2e3","name":"Publish posts notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=router-{{ $('Telegram trigger').item.json.message.chat.id}}","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[220,1320],"id":"367e158b-2808-45a4-a947-e2a62c0febe8","name":"Memory (get)"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=router-{{ $('Telegram trigger').item.json.message.chat.id}}","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2200,1280],"id":"d32074b7-e759-4d73-aaf4-0726e5aabf5c","name":"Memory (delete)"}],"connections":{"Telegram trigger":{"main":[[{"node":"Switch commands","type":"main","index":0}]]},"Switch commands":{"main":[[{"node":"Create idea notification","type":"main","index":0}],[{"node":"Create posts workflow","type":"main","index":0}],[{"node":"Publish posts workflow","type":"main","index":0}],[{"node":"Create task notification","type":"main","index":0}],[{"node":"Clear memory","type":"main","index":0}],[{"node":"Send commands info","type":"main","index":0}],[{"node":"Get command from memory","type":"main","index":0}]]},"Create idea notification":{"main":[[{"node":"Save command to memory","type":"main","index":0}]]},"Memory (save)":{"ai_memory":[[{"node":"Save command to memory","type":"ai_memory","index":0}]]},"Get command from memory":{"main":[[{"node":"Switch commands from memory","type":"main","index":0}]]},"Switch commands from memory":{"main":[[{"node":"Set create idea input data","type":"main","index":0}],[{"node":"Set create task input data","type":"main","index":0}],[{"node":"Create error notification","type":"main","index":0}]]},"Create idea workflow":{"main":[[{"node":"Finish of creation idea notification","type":"main","index":0}]]},"Delete command from memory":{"main":[[]]},"Memory (clear)":{"ai_memory":[[{"node":"Clear memory","type":"ai_memory","index":0}]]},"Clear memory":{"main":[[{"node":"Create context cleaning notification","type":"main","index":0}]]},"Create task notification":{"main":[[{"node":"Save command to memory","type":"main","index":0}]]},"Finish of creation idea notification":{"main":[[{"node":"Delete command from memory","type":"main","index":0}]]},"Finish of creation task notification":{"main":[[{"node":"Delete command from memory","type":"main","index":0}]]},"Create task workflow":{"main":[[{"node":"Finish of creation task notification","type":"main","index":0}]]},"Set create idea input data":{"main":[[{"node":"Create idea workflow","type":"main","index":0}]]},"Set create task input data":{"main":[[{"node":"Create task workflow","type":"main","index":0}]]},"Create posts workflow":{"main":[[{"node":"Create posts notification","type":"main","index":0}]]},"Publish posts workflow":{"main":[[{"node":"Publish posts notification","type":"main","index":0}]]},"Memory (get)":{"ai_memory":[[{"node":"Get command from memory","type":"ai_memory","index":0}]]},"Memory (delete)":{"ai_memory":[[{"node":"Delete command from memory","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8c83721c-8a9a-45e2-aae3-a6042e903440","triggerCount":1,"tags":[{"createdAt":"2025-07-21T12:00:12.966Z","updatedAt":"2025-07-21T12:00:12.966Z","id":"SE2p7A4ZzY3fduaR","name":"vmb"}]}