VM_Контент_план_Статистика-0uxHtIMUvYzSsRsN.json
{"createdAt":"2025-07-31T13:13:23.076Z","updatedAt":"2025-07-31T14:54:12.000Z","id":"0uxHtIMUvYzSsRsN","name":"VM_Контент_план_Статистика","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1820,1460],"id":"0f1471b6-30be-4178-9fb9-06866b5938dc","name":"Schedule trigger"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7d11aa8-5ed1-482c-96d2-e9160e51ee0a","leftValue":"={{ $('Get social networks').item.json.social_network }}","rightValue":"Telegram","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Telegram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e1408c3-6c18-46d7-aa61-d55899c80142","leftValue":"={{ $('Get social networks').item.json.social_network }}","rightValue":"Instagram","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d2fde54-f0bc-4a09-bdd9-8730a5af645f","leftValue":"={{ $('Get social networks').item.json.social_network }}","rightValue":"YouTube","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"YouTube"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Get social networks').item.json.social_network }}","rightValue":"VK","operator":{"type":"string","operation":"equals"},"id":"6962763c-e58e-418c-8479-d6aec715a61e"}],"combinator":"and"},"renameOutput":true,"outputKey":"VK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"39f57590-436c-44dd-a660-d4edaef1ebde","leftValue":"={{ $('Get social networks').item.json.social_network }}","rightValue":"Linkedln","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Linkedln"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"550ba82b-662b-4391-9993-1575d574efdf","leftValue":"={{ $('Get social networks').item.json.social_network }}","rightValue":"X","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"X"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98265788-9732-490d-ba10-b1564c897d9a","leftValue":"={{ $('Get social networks').item.json.social_network }}","rightValue":"Facebook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Facebook"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f63f1a21-96bd-45c8-8502-c727f8b907e2","leftValue":"={{ $('Get social networks').item.json.social_network }}","rightValue":"MAX","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"MAX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1240,1360],"id":"a6ef735a-ff57-4806-9ec8-8bf338e5c1fc","name":"Switch social network type"},{"parameters":{"jsCode":"const socials = [\n  \"VK\", \n  \"Instagram\", \n  \"Telegram\", \n  \"YouTube\", \n  \"LinkedIn\", \n  \"X\", \n  \"Facebook\",\n  \"MAX\"\n];\nconst result = [];\n\nfor (const social of socials) {\n  result.push({\n    json: {\n      social_network: social\n    }\n  });\n}\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1540,1460],"id":"22772120-2269-4f35-bdab-3d019175fb60","name":"Get social networks"},{"parameters":{"assignments":{"assignments":[{"id":"3c7c6617-0a6f-4f1e-bea6-a1c2d933ce96","name":"tg_chat_id_for_posting","value":"-1002826776089","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-920,1040],"id":"ccd6a765-0671-450b-b7a5-20533aab6b4c","name":"Set chat id"},{"parameters":{"url":"=https://api.telegram.org/bot8065402889:AAH1KAlPnodI3n_nHGw-X8PEnDj98CIQHTs/getChatMembersCount","sendQuery":true,"queryParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Set chat id').item.json.tg_chat_id_for_posting }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-680,1040],"id":"59ddb22a-e6e5-493b-95a7-c65b2dc6f4cf","name":"Get telegram statistics"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"23f57ae1-e71a-800b-a8f0-ce9a8381a729","mode":"list","cachedResultName":"Статистика","cachedResultUrl":"https://www.notion.so/23f57ae1e71a800ba8f0ce9a8381a729"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"Дата|date","date":"={{ $now.setZone('Europe/Moscow').format('yyyy-MM-dd HH:mm:ss') }}","timezone":"Europe/Moscow"},{"key":"Количество подписчиков|number","numberValue":"={{ $('Get telegram statistics').item.json.result }}"},{"key":"Социальная сеть|title","title":"={{ $('Switch social network type').item.json.social_network }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-440,1040],"id":"f6e40d59-d7ae-4bcb-9901-72cbf5d873cd","name":"Create telegram statistics for day","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}}],"connections":{"Schedule trigger":{"main":[[{"node":"Get social networks","type":"main","index":0}]]},"Switch social network type":{"main":[[{"node":"Set chat id","type":"main","index":0}]]},"Get social networks":{"main":[[{"node":"Switch social network type","type":"main","index":0}]]},"Set chat id":{"main":[[{"node":"Get telegram statistics","type":"main","index":0}]]},"Get telegram statistics":{"main":[[{"node":"Create telegram statistics for day","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8fa1eaf9-53aa-4eea-816c-e45d7ae61f1d","triggerCount":0,"tags":[{"createdAt":"2025-07-16T11:48:29.862Z","updatedAt":"2025-07-31T17:53:33.251Z","id":"gA8iWB5v23LRV9Nt","name":"vm_cp"}]}