VM_Контент_план_Статистика-0uxHtIMUvYzSsRsN.json
{"createdAt":"2025-07-31T13:13:23.076Z","updatedAt":"2025-08-05T12:30:34.000Z","id":"0uxHtIMUvYzSsRsN","name":"VM_Контент_план_Статистика","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1760,1460],"id":"0f1471b6-30be-4178-9fb9-06866b5938dc","name":"Schedule trigger"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7d11aa8-5ed1-482c-96d2-e9160e51ee0a","leftValue":"={{ $('Get social networks').item.json.social_network }}","rightValue":"Telegram","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Telegram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e1408c3-6c18-46d7-aa61-d55899c80142","leftValue":"={{ $('Get social networks').item.json.social_network }}","rightValue":"Instagram","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d2fde54-f0bc-4a09-bdd9-8730a5af645f","leftValue":"={{ $('Get social networks').item.json.social_network }}","rightValue":"YouTube","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"YouTube"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Get social networks').item.json.social_network }}","rightValue":"VK","operator":{"type":"string","operation":"equals"},"id":"6962763c-e58e-418c-8479-d6aec715a61e"}],"combinator":"and"},"renameOutput":true,"outputKey":"VK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"39f57590-436c-44dd-a660-d4edaef1ebde","leftValue":"={{ $('Get social networks').item.json.social_network }}","rightValue":"Linkedln","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Linkedln"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"550ba82b-662b-4391-9993-1575d574efdf","leftValue":"={{ $('Get social networks').item.json.social_network }}","rightValue":"X","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"X"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98265788-9732-490d-ba10-b1564c897d9a","leftValue":"={{ $('Get social networks').item.json.social_network }}","rightValue":"Facebook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Facebook"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f63f1a21-96bd-45c8-8502-c727f8b907e2","leftValue":"={{ $('Get social networks').item.json.social_network }}","rightValue":"MAX","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"MAX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1240,1360],"id":"a6ef735a-ff57-4806-9ec8-8bf338e5c1fc","name":"Switch social network type"},{"parameters":{"jsCode":"const socials = [\n  \"VK\", \n  \"Instagram\", \n  \"Telegram\", \n  \"YouTube\", \n  \"LinkedIn\", \n  \"X\", \n  \"Facebook\",\n  \"MAX\"\n];\nconst result = [];\n\nfor (const social of socials) {\n  result.push({\n    json: {\n      social_network: social\n    }\n  });\n}\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1500,1460],"id":"22772120-2269-4f35-bdab-3d019175fb60","name":"Get social networks"},{"parameters":{"command":"=bash -c 'cd /home/n8nuser && python3 -c \"\nimport sys, datetime, json\nfrom telethon.sync import TelegramClient\nfrom telethon import functions\n\napi_id = int(sys.argv[1])\napi_hash = sys.argv[2]\nusername = sys.argv[3]\nsession = sys.argv[4]\n\nclient = TelegramClient(session, api_id, api_hash)\nclient.start()\n\nchannel = client.get_entity(username)\nfull = client(functions.channels.GetFullChannelRequest(channel))\nresults = {\\\"subscribers\\\": full.full_chat.participants_count}\n\nmsgs = list(client.iter_messages(channel, limit=300))\ntoday = datetime.date.today()\nmonth_ago = today - datetime.timedelta(days=30)\n\nviews_total = views_month = views_today = 0\nforwards_total = forwards_month = forwards_today = 0\nreactions_total = reactions_month = reactions_today = 0\n\nfor m in msgs:\n    if not m.date: continue\n    d = m.date.date()\n    views = m.views or 0\n    forw = m.forwards or 0\n    reacts = sum(r.count for r in getattr(m.reactions, \\\"results\\\", [])) if m.reactions else 0\n\n    views_total += views\n    forwards_total += int(forw > 0)\n    reactions_total += reacts\n\n    if d == today:\n        views_today += views\n        forwards_today += int(forw > 0)\n        reactions_today += reacts\n\n    if d >= month_ago:\n        views_month += views\n        forwards_month += int(forw > 0)\n        reactions_month += reacts\n\nresults.update({\n    \\\"views_total\\\": views_total,\n    \\\"views_month\\\": views_month,\n    \\\"views_today\\\": views_today,\n    \\\"forwards_total\\\": forwards_total,\n    \\\"forwards_month\\\": forwards_month,\n    \\\"forwards_today\\\": forwards_today,\n    \\\"reactions_total\\\": reactions_total,\n    \\\"reactions_month\\\": reactions_month,\n    \\\"reactions_today\\\": reactions_today\n})\n\nclient.disconnect()\nprint(json.dumps(results))\n\" {{ $('Set input data').item.json.api_id }} \"{{ $('Set input data').item.json.api_hash }}\" \"{{ $('Set input data').item.json.channel }}\" \"{{ $('Set input data').item.json.session }}\"'\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-700,1140],"id":"00da2cce-f490-485a-a0b3-92f5169609fd","name":"Get Telegram statistics"},{"parameters":{"jsCode":"// n8n Function node\nconst data = JSON.parse($json[\"stdout\"]);\nreturn [ { json: data } ];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-460,1140],"id":"e0160eea-e35b-45bf-87e9-4abcb7820029","name":"Parse Telegram statistics"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"23f57ae1-e71a-800b-a8f0-ce9a8381a729","mode":"list","cachedResultName":"Статистика","cachedResultUrl":"https://www.notion.so/23f57ae1e71a800ba8f0ce9a8381a729"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"Дата|date","date":"={{ $now.setZone('Europe/Moscow').format('yyyy-MM-dd') }}","timezone":"Europe/Moscow"},{"key":"Количество подписчиков|number","numberValue":"={{ $('Parse Telegram statistics').item.json.subscribers }}"},{"key":"Социальная сеть|title","title":"={{ $('Switch social network type').item.json.social_network }}"},{"key":"Просмотров всего|number","numberValue":"={{ $('Parse Telegram statistics').item.json.views_total }}"},{"key":"Просмотров месяц|number","numberValue":"={{ $('Parse Telegram statistics').item.json.views_month }}"},{"key":"Просмотров сегодня|number","numberValue":"={{ $('Parse Telegram statistics').item.json.views_today }}"},{"key":"Пересылок всего|number","numberValue":"={{ $('Parse Telegram statistics').item.json.forwards_total }}"},{"key":"Пересылок месяц|number","numberValue":"={{ $('Parse Telegram statistics').item.json.forwards_month }}"},{"key":"Пересылок сегодня|number","numberValue":"={{ $('Parse Telegram statistics').item.json.forwards_today }}"},{"key":"Реакций всего|number","numberValue":"={{ $('Parse Telegram statistics').item.json.reactions_total }}"},{"key":"Реакций месяц|number","numberValue":"={{ $('Parse Telegram statistics').item.json.reactions_month }}"},{"key":"Реакций сегодня|number","numberValue":"={{ $('Parse Telegram statistics').item.json.reactions_today }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-220,1140],"id":"f6e40d59-d7ae-4bcb-9901-72cbf5d873cd","name":"Create Telegram statistics","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"assignments":{"assignments":[{"id":"4f71e741-3976-4bae-a24b-d949d261d0d5","name":"api_id","value":"25696470","type":"string"},{"id":"c598dac2-c447-43cf-b1fd-503752ddb3b4","name":"api_hash","value":"f673c6450e9471ed08d19e0422db89fe","type":"string"},{"id":"d26280e1-938a-4f38-a79c-da2e463c5961","name":"channel","value":"@klin_psi","type":"string"},{"id":"daca682e-a990-4fd1-a74d-0233b4157084","name":"session","value":"n8n_tg_tools_acc","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-940,1140],"id":"a386826d-fd8d-4859-9470-634fba98d14f","name":"Set input data"}],"connections":{"Schedule trigger":{"main":[[{"node":"Get social networks","type":"main","index":0}]]},"Switch social network type":{"main":[[{"node":"Set input data","type":"main","index":0}]]},"Get social networks":{"main":[[{"node":"Switch social network type","type":"main","index":0}]]},"Get Telegram statistics":{"main":[[{"node":"Parse Telegram statistics","type":"main","index":0}]]},"Parse Telegram statistics":{"main":[[{"node":"Create Telegram statistics","type":"main","index":0}]]},"Set input data":{"main":[[{"node":"Get Telegram statistics","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"498dda30-209d-4365-a383-667c52ad6431","triggerCount":1,"tags":[{"createdAt":"2025-07-16T11:48:29.862Z","updatedAt":"2025-07-31T17:53:33.251Z","id":"gA8iWB5v23LRV9Nt","name":"vm_cp"}]}