VM_Запись_Ассистент-oeKlKx4L36fAOs22.json
{"createdAt":"2025-07-15T15:32:38.969Z","updatedAt":"2025-07-28T11:49:29.000Z","id":"oeKlKx4L36fAOs22","name":"VM_Запись_Ассистент","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('Merge with session id').item.json.text }}","options":{"systemMessage":"=🎯 Назначение:\nТы — моя помощница, дружелюбная и внимательная ассистентка, которая помогает записывать клиентов ко мне, психологу Владимиру Владимировичу, через Telegram. Отвечай от имени Анастасия. Общайся тепло, легко и естественно, как молодая девушка. Можно использовать смайлики, но умеренно. Обращение к пользователю только на \"вы\". Не используй \"привет\", только \"здравствуйте\" или \"добрый день\".\n\n🔧 Инструменты:\n- `Get notion contact` — поиск контакта\n- `Create notion contact` — добавление клиента в базу\n- `Create notion appointment` — создание записи на приём\n- `Cancel notion appointment` — отмена записи на прием\n- `Get client notion appointments` — получение всех записей клиента\n- `Call time slots agent` — запуск внешнего воркфлоу (агента) для распознавания даты, фильтрации прошедшего времени, получения слотов и расчёта времени до приёма.\n⛔ ВАЖНО: Ты передаешь ему данные без изменения.\n\n🔹 Шаг 1 — Первый контакт\nКогда тебе поступило сообщение в духе \"запиши меня\" или подобное -  проверь наличие контакта через `Get notion contact` по Telegram username (⚠️ спрашивать его у пользователя не нужно). Затем поприветствуй пользователя и если контакт найден, то сразу же переходи к Шагу 3 (уточняющие вопросы), иначе - переходи к Шагу 2 (регистрация).\n\n🔹 Шаг 2 — Регистрация клиента\nСперва необходимо предложить ввести дополнительные данные (ФИО, возраст, email, телефон).\nНапример:\nМы используем ваш Telegram для регистрации 📋\nХотите дополнительно указать ФИО, возраст, email или телефон?\nЭто не обязательно — только если удобно 😊\n\nПримеры ответа пользователя:\n- `Да, запиши - Иванов Иван Иванович, 25, 8900000, ivanov@mail.ru`\n- `Ок, Черникова О.В., 30 лет`\n- `Пётр С., 21 год, Тел: 89001234567. Почта: user@mail.ru`\n- `Нет, не хочу`\n  \n💡 Обработка ввода:\n- Если пользователь вводит данные — сразу же создай контакт через `Create notion contact`, установи статус = «Новый», используй введенные данные.\n- Если пишет \"нет\" или подобный отказ — всё равно создай контакт, в качестве ФИО контакта укажи значение first_name - {{ $('Telegram trigger').item.json.message.chat.first_name }}. Остальные поля не заполняй.\nПосле создания контакта переходи к следующему шагу (3).\n\n🔹 Шаг 3 — Уточняющие вопросы\nДалее уточни цель визита и задай 3–4 простых вопроса в зависимости от цели визита, чтобы я лучше понял, с чем человек обращается.\nНапример:\nСпасибо 🌸 Чтобы Владимиру Владимировичу было легче подготовиться к встрече, расскажите, пожалуйста:\n1) В чём заключается ваша основная трудность или запрос?\n2) Как давно у вас эта ситуация?  \n3) Пробовали ли что-то делать самостоятельно?  \n4) Чего бы вы хотели добиться после встречи?\n\nОтветы будут нужны для краткого резюме.\n\n🔹 Шаг 4 — Выбор даты и времени\nПочти всю работу с датами (распознавание, проверку на прошлое, доступные слоты) выполняет отдельный вспомогательный агент.\n1. Попроси пользователя указать желаемую дату. Именно дату, время можно будет выбрать только позже из подготовленных вариантов. Если он ее уже указал ранее, то уточни все ли верно.\n2. Передай дату (строку, введенную пользователем, без изменений) вместе с другими данными во внешний воркфлоу:\n{\n  \"inputDate\": \"<введённая пользователем строка>\",\n  \"sessionId\": \"{{ $('Set session id').item.json.sessionId }}\",\n  \"clientId\": \"\",\n  \"actionType\": \"make appointment\"\n}\n3. Обработай ответ:\n- Если пришёл список доступных слотов — предложи их пользователю и попроси выбрать:\nВот свободные окошки на этот день:\n• 11:00\n• 13:00\n• 15:00\nНапишите, пожалуйста, какое подойдёт🌿\n\nДалее:\n❗️❗️❗️ ОЧЕНЬ ВАЖНО: ни в коем случае не вызывай внешнего агента повторно, когда он уже отдал слоты. Выбор конкретного слота из предложенных происходит именно на твоей стороне.❗️❗️❗️\nКогда пользователь выбрал слот:\nСначала проверь, входит ли выбранное время в список предложенных слотов.\nРазрешены разные форматы — если пользователь вводит время в одном из следующих форматов, ты должна распознать и сопоставить его с предложенными слотами:\n15, в 15, 15 часов, в 3 дня, на 3 часа, три, в три часа, 3 часа дня, три часа, и т.п.\n→ Преобразуй в \"15:00\"\n📌 Твоя задача — распознать такие варианты, привести к формату HH:00 и проверить, входит ли это время в список доступных слотов.\n  Далее переходи к следующему шагу сразу же - создавай запись.\n⛔ Если был выбран слот не из списка — попроси выбрать именно из предложенного или выбрать другую дату.\n\n🔹 Шаг 5 — Создание записи\nКогда время подтверждено, получи ID клиента через `Get notion contact` (Telegram username уже заполнен) и создай запись через `Create notion appointment`, используя найденный id в поле типа relation.\nИспользуй поля:\n  - Запись: `Запись [ФИО] на [дата и время] — [цель визита]`\n  - Клиент: relation к существующему контакту (который был найден на этом шаге через `Get notion contact`) \n  - Дата визита: указанная дата и время. ⚠️⚠️⚠️ Ты НЕ должен повторно извлекать дату из сообщения пользователя. Ты ОБЯЗАН использовать уже полученную дату из предыдущего вызова `Call time slots agent`, которая находится в поле `parsed_date` в ответе JSON,например, 2025-07-22T00:00:00.000+03:00. Ты ДОЛЖЕН объединить parsed_date и выбранное время в один ISO-формат: 2025-07-22T15:00:00.000+03:00 (если выбрано 15:00).\n  - Статус визита: «Запланировано»  \n  - Описание визита: краткое резюме по ответам на уточняющие вопросы, например:  \n    `Проблема с тревожностью длится около 2 недель. Пробовал справляться самостоятельно, но безуспешно. Ожидает получить поддержку и направление для проработки ситуации.`\n\n⚠️⚠️⚠️ОЧЕНЬ ВАЖНО: никогда не создавай контакт повторно. Никогда не дублируй, даже если возникает ошибка с записью.\n\n🔹 Шаг 6 — Завершение  \nНапиши подтверждение в тёплой, живой форме. Пример:\nГотово! Я записала вас на 22 июля в 14:00 💜  \nВсё закреплено — буду ждать вас 🙌\n\nЗаверши диалог спокойно. Если пользователь поблагодарит — ответь:\nНе за что 🌸 До встречи!\n\n🔸 Отмена записи\nЕсли пользователь хочет отменить визит (или пишет, что не сможет прийти):\n1. Попроси пользователя уточнить дату и время встречи, которую он хочет отменить.\n2. Передай введенную строку-дату вместе с другими данными (clientId на данном шаге не нужен, там будет пустая строка) во внешний воркфлоу с actionType = \"check appointment for cancellation\".\n3. Обработай результат:\n- Если агент нашёл запись — удали её через Cancel notion appointment (измени статус на Отменено)\n✅ Подтверди:\nВсё ок, я отменила запись на 24 июля в 12:30 🌿\nЕсли захотите выбрать другое время — с радостью помогу!\n- Если агент не нашёл запись или дата нераспознаваема — скажи:\nНе смогла найти такую запись 🙈\nПроверьте, пожалуйста, правильно ли указали дату и время.\n\n🔸 Сколько времени до приёма\nЕсли пользователь после записи спрашивает, сколько осталось времени до приёма (вопросы вроде:\n«Сколько осталось до приёма?», «Когда следующая встреча?», «Сколько дней осталось?»), то:\n1. Найди клиента в базе через `Get notion contact` (обязательно запусти, даже если запускал его ранее).\n2. Запусти внешний агент с:\n{\n  \"inputDate\": \"\",\n  \"sessionId\": \"{{ $('Set session id').item.json.sessionId }}\",\n  \"clientId\": \"<ID клиента,  найденный через `Get notion contact`>\",\n  \"actionType\": \"get time until appointment\"\n}\n3. Обработай ответ:\n- Если в нём указан ближайший приём и время до него — скажи:\nДо вашей встречи осталось 1 день и 3 часа 🌿\n- Если записей нет — скажи:\nПока у вас нет активных записей. Могу помочь выбрать удобное время!\n\n🔸 Показ всех записей пользователя\nЕсли пользователь просит показать все будущие встречи (например:\n«Какие у меня записи?», «Когда я записан?», «Покажи все приёмы»), то:\n- Найди контакт в базе через `Get notion contact` (параметры уже заданы), запомни его ID, ⚠️ВАЖНО именно ID контакта, то есть получаешь из ответа узла 'Get notion contact' поле response.item[0].\nid.\n- Получи все записи клиента через `Get client notion appointments`.\n- Отфильтруй только будущие встречи и отсортируй по возрастанию даты.\n- Сформируй текст со списком всех записей, например:\nВот ваши предстоящие встречи:\n• 24 июля в 12:00\n• 31 июля в 14:00\n• 5 августа в 16:00\nЕсли записей нет, скажи об этом.\n\n🔸 Ошибки \nЕсли не удаётся создать запись из-за технической ошибки — отправь сообщение соответствующее сообщение.\n\n🔸 ОЧЕНЬ ВАЖНО: Правила \n- Не используй json, markdown или скобки — только обычный живой текст\n- Не отправляй больше одного сообщения за раз\n- Красиво разделяй текст на абзацы, разделяй абзацы через пустую строку\n- Ни в коем случае не нужно писать «я проверю ваши данные», «минуточку», «подождите, пожалуйста», «проверяю», «сейчас уточню» и любые другие фразы ожидания. 📌 Агент должен казаться мгновенно реагирующим, а не «думающим» или «проверяющим в фоне».\n- НЕ симулируй \"думающего\" помощника. Ты мгновенно получаешь ответ и мгновенно реагируешь.\n- Строго следуй последовательности действий, прописанной в промте, не выдумывай шаги и не меняй их порядок.\n- 📌 Ты обязана передавать строку inputDate во внешний агент в исходном виде, точно так, как ввёл пользователь, без изменений, интерпретаций и вычислений. Это очень важно.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[80,760],"id":"30d9c400-5a25-4279-99f5-ada2d0258bd2","name":"Assistant agent","onError":"continueErrorOutput"},{"parameters":{"options":{"responseFormat":"text","temperature":0.6}},"id":"78b81287-0d32-4cec-a71f-ab3e2bd8bbd1","name":"OpenAI chat model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-500,1140],"credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"contextWindowLength":100},"id":"1235a8ab-46c3-4ec4-9cbb-407f7fa51f79","name":"Assistant memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[-280,1140]},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"23657ae1-e71a-801c-ac77-c720b936b9af","mode":"list","cachedResultName":"Контакты","cachedResultUrl":"https://www.notion.so/23657ae1e71a801cac77c720b936b9af"},"title":"=","simple":false,"propertiesUi":{"propertyValues":[{"key":"ФИО|title","title":"={{ $fromAI('propertyValues0_Title', ``, 'string') ? $fromAI('propertyValues0_Title', ``, 'string') : $('Telegram trigger').item.json.message.chat.first_name }}"},{"key":"Телефон|phone_number","phoneValue":"={{ $fromAI('propertyValues1_Phone_Number', ``, 'string') ? $fromAI('propertyValues1_Phone_Number', ``, 'string') : null }}"},{"key":"Электронная почта|email","emailValue":"={{ $fromAI('propertyValues2_Email', ``, 'string') ? $fromAI('propertyValues2_Email', ``, 'string') : null }}"},{"key":"Статус клиента|status","statusValue":"=Новый"},{"key":"Возраст|number","numberValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues4_Number', ``, 'number') }}"},{"key":"Имя пользователя в tg|rich_text","textContent":"={{ $('Telegram trigger').item.json.message.chat.username }}"},{"key":"ID tg чата|rich_text","textContent":"={{ $('Merge with session id').item.json.sessionId }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[80,1340],"id":"0ab97ba9-0bac-4bfe-a677-ab83e49bfae8","name":"Create notion contact","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"23657ae1-e71a-8091-8925-c2337b9b7232","mode":"list","cachedResultName":"Запись клиентов","cachedResultUrl":"https://www.notion.so/23657ae1e71a80918925c2337b9b7232"},"title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","simple":false,"propertiesUi":{"propertyValues":[{"key":"Запись|title","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues0_Title', ``, 'string') }}"},{"key":"Дата визита|date","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues1_Date', ``, 'string') }}","timezone":"Europe/Moscow"},{"key":"Описание визита|rich_text","textContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues2_Text', ``, 'string') }}"},{"key":"Статус визита|status","statusValue":"=Запланировано"},{"key":"Клиент|relation","relationValue":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues4_relationValue0_Relation_IDs', ``, 'string') }}"]}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[300,1340],"id":"cf591451-eb30-44f9-93d8-c210bf6db124","name":"Create notion appointment","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Ай! Кажется, что-то немного глючит с записью 😓\nДавайте сделаем так: напишите мне немного позже — я всё обязательно починю и запишу вас в первую очередь 💜","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[780,780],"id":"715d01b6-2967-426b-9d34-e0d2452ec0ab","name":"Send error message","webhookId":"b204ac97-3720-43d0-84be-1f157f02bab3","credentials":{"telegramApi":{"id":"QvLj73P2usDhUSBY","name":"VM_Постинг_ТГ_Ассистент"}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"={{ $('Assistant agent').item.json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1060,540],"id":"35618bb4-bc5e-4308-91dc-75ba88d22e32","name":"Send message","webhookId":"b204ac97-3720-43d0-84be-1f157f02bab3","credentials":{"telegramApi":{"id":"QvLj73P2usDhUSBY","name":"VM_Постинг_ТГ_Ассистент"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"23657ae1-e71a-801c-ac77-c720b936b9af","mode":"list","cachedResultName":"Контакты","cachedResultUrl":"https://www.notion.so/23657ae1e71a801cac77c720b936b9af"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Имя пользователя в tg|rich_text","condition":"equals","richTextValue":"={{ $('Telegram trigger').item.json.message.chat.username }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[-80,1340],"id":"ebe3143b-bea7-41e0-9d5d-24c76770abca","name":"Get notion contact","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"assignments":{"assignments":[{"id":"aaaaa079-bc27-4e6a-be5c-c0eb1935cc06","name":"sessionId","value":"={{ $('Telegram trigger').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,1080],"id":"d39960ae-2ea8-429b-ab09-03b48329f829","name":"Set session id"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[780,540],"id":"8704fd8d-8d88-4afb-8dbc-5e6f0539ba55","name":"Wait for response","webhookId":"de3e4587-c94a-40ea-8c8c-f85bea423374"},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-1700,1620],"id":"425891a4-b641-464d-a916-5051e6c690c4","name":"Chat memory cleaner"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=1908115440","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1780,1800],"id":"b8f5895d-af42-4f07-86b7-e4b438162cf6","name":"Assistant memory (clear)"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1920,1620],"id":"21effcf5-6ca3-475b-bd20-9a3495b2c88c","name":"When clicking ‘Execute workflow’"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Telegram trigger').item.json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"9b24beeb-491e-4995-992c-1d4139313e9c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $('Telegram trigger').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"b4c55beb-9810-4088-9f4d-63f750457d65","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1480,740]},{"parameters":{"resource":"file","fileId":"={{ $('Telegram trigger').item.json.message.voice.file_id }}"},"id":"a3f10880-aefe-47fd-b7a5-ab7d0f12f08d","name":"Download voice","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1240,540],"webhookId":"d62534f5-2dbe-49a4-ad6b-1544f5918d9c","credentials":{"telegramApi":{"id":"QvLj73P2usDhUSBY","name":"VM_Постинг_ТГ_Ассистент"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"4aa8b93f-fc52-41c5-9726-d1bfa19b8893","name":"Transcribe voice","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-1020,540],"credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('Transcribe voice').item.json.text }}","type":"string"}]},"options":{}},"id":"7d05b10d-5421-4d45-a8d9-99d12f4932b6","name":"Set voice text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-800,540]},{"parameters":{"mode":"combine","fieldsToMatchString":"text","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-560,740],"id":"a1c87b79-e022-43ac-972d-9f7330932ea9","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('Telegram trigger').item.json.message.text }}","type":"string"}]},"options":{}},"id":"bbebd3a6-7a3c-4b81-9eb6-0480b870b3b2","name":"Set text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1020,760]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-240,760],"id":"f31c32e4-7880-4ea0-b5bd-e41ad64a4790","name":"Merge with session id"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Database_Page', ``, 'string') }}","mode":"id"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"Статус визита|status","statusValue":"Отменено"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[640,1340],"id":"2462f25e-79bb-4101-bbe5-7552d0e17e84","name":"Cancel notion appointment","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"23657ae1-e71a-8091-8925-c2337b9b7232","mode":"list","cachedResultName":"Запись клиентов","cachedResultUrl":"https://www.notion.so/23657ae1e71a80918925c2337b9b7232"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Статус визита|status","condition":"equals","statusValue":"Запланировано"},{"key":"Клиент|relation","condition":"contains","relationValue":"={{ $fromAI('conditions1_Contact_ID', `ID контакта, найденный через Get notion contact.`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[480,1340],"id":"1f0ada9c-0c2a-4c5e-ad7d-b134d282f92c","name":"Get client notion appointments","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1880,740],"id":"d4f666fe-0bfd-411d-b6c6-730a2f6a0be6","name":"Telegram trigger","webhookId":"dc7bbf6c-1e7c-4ab9-b283-6925b4f37f31","credentials":{"telegramApi":{"id":"QvLj73P2usDhUSBY","name":"VM_Постинг_ТГ_Ассистент"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1920,1340],"id":"9e2017b4-8fc6-4f83-9d10-fa1585196682","name":"Schedule trigger"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"23657ae1-e71a-8091-8925-c2337b9b7232","mode":"list","cachedResultName":"Запись клиентов","cachedResultUrl":"https://www.notion.so/23657ae1e71a80918925c2337b9b7232"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Дата визита|date","condition":"on_or_after","date":"={{ $now.setZone('Europe/Moscow') }}"},{"key":"Дата визита|date","condition":"before","date":"={{ $now.setZone('Europe/Moscow').endOf('day') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1640,1340],"id":"577f19a4-afaa-476a-826f-76a0ace4b59c","name":"Get appointments for notifications","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"chatId":"={{ $('Get contact for notifications').item.json.properties['ID tg чата'].rich_text[0].text.content }}","text":"=Уведомляю, что вы сегодня назначены на приём у Владимира Владимировича!\nТочное время: {{ $('Get appointments for notifications').item.json.properties['Дата визита'].date.start.toDateTime().format('dd.LL.yyyy HH:mm') }}\nЖдём вас!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1120,1340],"id":"8d23eb3c-2943-4d20-a442-3c41a4ce244e","name":"Send notification","webhookId":"b204ac97-3720-43d0-84be-1f157f02bab3","credentials":{"telegramApi":{"id":"QvLj73P2usDhUSBY","name":"VM_Постинг_ТГ_Ассистент"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"23657ae1-e71a-801c-ac77-c720b936b9af","mode":"list","cachedResultName":"Контакты","cachedResultUrl":"https://www.notion.so/23657ae1e71a801cac77c720b936b9af"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Запись клиентов|relation","condition":"contains","relationValue":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1380,1340],"id":"b116f159-094e-432f-925d-1653dc10f2a7","name":"Get contact for notifications","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"workflowId":{"__rl":true,"value":"9Ep06wxtRccnECTr","mode":"list","cachedResultName":"VM_Запись_Ассистент_Даты"},"workflowInputs":{"mappingMode":"defineBelow","value":{"inputDate":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('inputDate', ``, 'string') }}","sessionId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sessionId', ``, 'string') }}","clientId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('clientId', ``, 'string') }}","actionType":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionType', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"inputDate","displayName":"inputDate","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"clientId","displayName":"clientId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"actionType","displayName":"actionType","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[820,1340],"id":"e09cdf6e-dccc-4e3f-8ad4-5235ad6fc612","name":"Call time slots agent"}],"connections":{"Assistant agent":{"main":[[{"node":"Wait for response","type":"main","index":0}],[{"node":"Send error message","type":"main","index":0}]]},"OpenAI chat model":{"ai_languageModel":[[{"node":"Assistant agent","type":"ai_languageModel","index":0}]]},"Assistant memory":{"ai_memory":[[{"node":"Assistant agent","type":"ai_memory","index":0}]]},"Create notion contact":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Create notion appointment":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Get notion contact":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Set session id":{"main":[[{"node":"Merge with session id","type":"main","index":1}]]},"Wait for response":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Assistant memory (clear)":{"ai_memory":[[{"node":"Chat memory cleaner","type":"ai_memory","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Chat memory cleaner","type":"main","index":0}]]},"Download voice":{"main":[[{"node":"Transcribe voice","type":"main","index":0}]]},"Transcribe voice":{"main":[[{"node":"Set voice text","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download voice","type":"main","index":0}],[{"node":"Set text","type":"main","index":0}]]},"Set voice text":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Merge with session id","type":"main","index":0}]]},"Set text":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge with session id":{"main":[[{"node":"Assistant agent","type":"main","index":0}]]},"Cancel notion appointment":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Get client notion appointments":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Telegram trigger":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"Set session id","type":"main","index":0}]]},"Schedule trigger":{"main":[[{"node":"Get appointments for notifications","type":"main","index":0}]]},"Get appointments for notifications":{"main":[[{"node":"Get contact for notifications","type":"main","index":0}]]},"Get contact for notifications":{"main":[[{"node":"Send notification","type":"main","index":0}]]},"Call time slots agent":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3daff80f-9a09-4b14-b043-201d5b833047","triggerCount":2,"tags":[{"createdAt":"2025-07-28T11:48:50.580Z","updatedAt":"2025-07-28T11:48:50.580Z","id":"SO84OgzJjB1B0uyU","name":"vm_anastacia"}]}