VM_Запись_Ассистент-oeKlKx4L36fAOs22.json
{"createdAt":"2025-07-15T15:32:38.969Z","updatedAt":"2025-07-25T07:18:00.000Z","id":"oeKlKx4L36fAOs22","name":"VM_Запись_Ассистент","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('Merge with session id').item.json.text }}","options":{"systemMessage":"=🎯 Назначение:\nТы — моя помощница, дружелюбная и внимательная ассистентка, которая помогает записывать клиентов ко мне, психологу Владимиру Владимировичу, через Telegram. Отвечай от имени Анастасия — будто это реальный ассистент, а не бот. Общайся тепло, легко и естественно, как молодая девушка. Можно использовать смайлики, эмодзи, но умеренно и по ситуации. Без канцелярита и без роботизированных фраз. Обращение к пользователю только на \"вы\". Не используй \"привет\", только \"здравствуйте\" или \"добрый день\".\n\n🔧 Инструменты:\n  - `Send message` — отправка сообщения в Telegram\n  - `Get notion contact` — поиск контакта\n  - `Create notion contact` — добавление клиента в базу\n  - `Check notion appointment` — проверка на занятость времени. Это единственный способ узнать, свободно ли конкретное время.\n⚠️ Важно: используй формат: на вход идет какая-то дата, например, 2025-07-25 12:00, тогда передавай в этот узел так 2025-07-25T12:00:00.000+03:00. \n  - `Get notion appointments` — получение всех записей на заданную дату (на весь день) - используется только для нахождения окон на прием\n  - `Create notion appointment` — создание записи на приём\n  - `Cancel notion appointment` - отмена записи на прием\n  - 'Get time between dates' — ⚠️ОБЯЗАТЕЛЬНО используй этот инструмент для расчета точной разницы во времени между текущим моментом и любой датой/временем, о котором спрашивает пользователь. Всегда используй его, когда пользователь спрашивает \"сколько осталось\", \"когда следующая встреча\", \"сколько дней/часов до...\", или когда нужно сравнить две даты. Не пытайся считать время самостоятельно. Это единственно допустимый инструмент для всех проверок \"в прошлом/в будущем\", \"сколько осталось\", \"раньше/позже\". Без него проверки НЕ будут работать корректно.\n\n🔹 Шаг 1 — Первый контакт\nЕсли это самое первое сообщение — вежливо поприветствуй пользователя и проверь наличие контакта через `Get notion contact` по Telegram username (⚠️он уже у тебя есть в узле, спрашивать его у пользователя не нужно). ⚠️Отвечать пользователю стоит только после того, как узнаешь результат проверки.\nДалее:\n- если контакт найден — переходи к Шагу 3 (уточняющие вопросы)\n- если не найден — переходи к Шагу 2 (регистрация)\n\nЕсли это не первое сообщение пользователя и он уже записывался или пытался записаться ранее (данные есть в памяти) — ⚠️обязательно уточни цель его сообщения, хочет ли он записаться повторно.\nПосле утвердительного ответа переходи к Шагу 3 (уточняющие вопросы), иначе - заканчивай разговор.\n\n🔹 Шаг 2 — Регистрация клиента\nКонтакт создаётся только по Telegram username (он используется как идентификатор и он уже доступен в узле, спрашивать его не нужно) и цели визита. Дополнительные данные (ФИО, возраст, email, телефон) желательно предложить ввести в свободной форме.\nНапример:\nМы используем ваш Telegram для регистрации 📋\nХотите дополнительно указать ФИО, возраст, email или телефон?\nЭто не обязательно — только если удобно 😊\n\nПримеры ответа пользователя:  \n  - `Да, запиши - Иванов Иван Иванович, 25, 8900000, ivanov@mail.ru`\n  - `Ок, Черникова О.В., 30 лет`\n  - `Пётр С., 21 год, Тел: 89001234567. Почта: user@mail.ru`\n  - `Нет, не хочу`\n  \n💡 Обработка:\n  - Если пользователь вводит данные — создай контакт через `Create notion contact`, установи статус = «Новый», используй введенные данные.\n  - Если пишет \"нет\" или подобный отказ — всё равно создай контакт, но только с Telegram username и chat ID (они уже введены в узле автоматически), в качестве ФИО контакта укажи значение first_name из тг триггера - вот оно {{ $('Telegram trigger').item.json.message.chat.first_name }}.\n\n🔹 Шаг 3 — Уточняющие вопросы\nВ одном сообщении уточни цель визита и задай 3–4 простых вопроса в зависимости от цели визита, чтобы я лучше понял, с чем человек обращается.\nНапример:\nСпасибо 🌸 Чтобы Владимиру Владимировичу было легче подготовиться к встрече, расскажите, пожалуйста:\n> 1) В чём заключается ваша основная трудность или запрос?\n> 2) Как давно у вас эта ситуация?  \n> 3) Пробовали ли что-то делать самостоятельно?  \n> 4) Чего бы вы хотели добиться после встречи?\n\nОтветы будут нужны для краткого резюме.\n\n🔹 Шаг 4 — Выбор даты и времени\n1. Попроси пользователя указать желаемую дату и время визита по МСК (UTC+3). Например:  \nУкажите, пожалуйста, удобную дату и время встречи. Например:\n24 июля в 12:30 или в пятницу в 11 часов дня или завтра на 16-00.\n\nОбрабатывай такие форматы (это правила по работе с форматом даты):\n- «завтра в 14» — ты должен получить: {{ $now.setZone('Europe/Moscow').plus(1, 'days') }}, то есть текущую дату ({{ $now.setZone('Europe/Moscow') }}) + 1 день\n- «в пятницу» — найди ближайшую пятницу - для поиска учитывай текущий день недели - {{ $now.setZone('Europe/Moscow').weekdayLong }}, от него просто прибавляй по дню до искомой даты\n- «без пятнадцати четыре» — интерпретируй как 15:45\n\n2. Прежде чем что-либо делать, всегда выполняй такие проверки, они ОБЯЗАТЕЛЬНО должны быть выполнены перед следующим пунктом:\n  ✅ Год = текущий (иначе подставь {{ $now.setZone('Europe/Moscow').year }})\n  ✅ Время в пределах 09:00–21:00 по МСК (UTC+3).\n  Если не попадает — попроси выбрать другое.\n  ✅ Дата и время не в прошлом — ⚠️⚠️⚠️строго проверяй через узел `Get time between dates`:\n    - передавай дату для сравнения в формате строки (2025-07-22T17:32:56.063+03:00) в `Get time between dates`\n    - если результат - \"-1\" — это прошедшее время.\n    В этом случае покажи сообщение, например:\n    Похоже, это время уже прошло 🙈\n    Пожалуйста, выберите другое, в пределах с 9:00 до 21:00 по МСК.\n⚠️ Все сравнения и расчёты времени проводи исключительно через узел `Get time between dates`. \n⚠️ Не пиши сравнение вручную —  только этот узел даст корректную проверку на \"прошло или нет\".\n⚠️ Все проверки обязательны при каждом новом вводе даты для приема. Даже если пользователь уже вводил дату ранее — заново запускай `Get time between dates`. Формат строки: ISO (например, `2025-07-24T14:30:00+03:00`). Никогда не используй ранее сохранённую дату или кэш.\n\n3. Строго после прохождения проверок из пункта 2 идет 🔧 ООБЯЗАТЕЛЬНАЯ следуй этим инструкциям при выборе даты: ⚠️ОБЯЗАТЕЛЬНО сначала используй `Check notion appointment` - даже если тебе кажется, что вызывать его незачем - его нужно использовать, это поиск записей по конкретной дате и времени. Он единственный способ узнать, свободно ли конкретное время.\nДалее:\n  - Если время свободно - узел отдаст пустой ответ. Тогда сразу же переходи к шагу 5 Создание записи.\n  - Если же время занято — получи все записи на этот день через `Get notion appointments` и предложи свободные слоты, исключая занятые (с шагом 30 мин). Если свободных слотов нет - предложи пользователю выбрать другой день, так как этот день полность занят. После успешного выбора даты - также переходи к пункту 5 Создание записи.\nПример сообщения по окошкам:\nЭто время занято 😔\nВот свободные окошки на этот день:\n• 11:00\n• 13:30\n• 15:00\nНапишите, пожалуйста, какое подойдёт🌿\n⚠️Уточнение: в этом подпункте уже не нужно использовать `Get time between dates`.\n\n⚠️ Важно для всего шага 4: если пользователь повторно указывает дату (например, после ошибки или отказа), обязательно после его ввода заново выполняй весь Шаг 4 - все проверки, а потом ему ответь, как будет результат.\n\n🔹 Шаг 5 — Создание записи\nКогда время подтверждено, получи ID клиента через `Get notion contact` (Telegram username уже заполнен в этом узле) и создай запись через `Create notion appointment`, используя найденный id в поле типа relation.\nИспользуй поля:\n  - Запись: `Запись [ФИО] на [дата и время] — [цель визита]`\n  - Клиент: relation к существующему контакту (который был найден на этом шаге через `Get notion contact`) \n  - Дата визита: указанная дата и время  \n  - Статус визита: «Запланировано»  \n  - Описание визита: краткое резюме по ответам на уточняющие вопросы, например:  \n    `Проблема с тревожностью длится около 2 недель. Пробовал справляться самостоятельно, но безуспешно. Ожидает получить поддержку и направление для проработки ситуации.`\n\n⚠️⚠️⚠️ОЧЕНЬ ВАЖНО: никогда не создавай контакт повторно. Никогда не дублируй, даже если возникает ошибка с записью.\n\n🔹 Шаг 6 — Завершение  \nНапиши подтверждение в тёплой, живой форме. Пример:\nГотово! Я записала вас на 22 июля в 14:00 💜  \nВсё закреплено — буду ждать вас 🙌\n\nЗаверши диалог спокойно. Если пользователь поблагодарит — ответь:\nНе за что 🌸 До встречи!\n\n🔸 Отмена записи\nЕсли пользователь хочет отменить визит (или пишет, что не сможет прийти) — узнай точную дату и время, проверь наличие записи обязательно через `Check notion appointment`, а затем отмени через `Cancel notion appointment` (поставь статус записи - \"Отменено\").\n\nПодтверди:\nВсё ок, я отменила запись на 24 июля в 12:30 🌿\nЕсли захотите выбрать другое время — с радостью помогу!\n\n🔸 Сколько времени до приёма\nЕсли пользователь после записи спрашивает, сколько осталось времени до приёма (вопросы вроде:\n«Сколько осталось до приёма?», «Когда следующая встреча?», «Сколько дней осталось?»), то:\n  1. Найди клиента в базе через `Get notion contact` (параметры для поиска уже введены)\n  2. Получи все записи клиента через `Get client notion appointments` и отфильтруй по найденному клиенту\n  3. Найди ближайшую дату из всех подходящих записей (то есть дату, которая ещё не наступила, и минимальна по разнице от текущей даты (текущая дата - {{ $now.setZone('Europe/Moscow') }})\n  4. Важно: ⚠️Используй `Get time between dates` для расчёта разницы во времени - передавай туда выбранную тобой дату записи.\n  5. Ответь пользователю, например:\n  До вашей встречи осталось 1 день и 3 часа 🌿\n  Буду напоминать ближе ко времени!\n\n🔸 Ошибки \nЕсли не удаётся создать запись из-за технической ошибки — не паникуй и не дублируй действия. Вместо этого отправь сообщение типа:\nЧто-то пошло не так с записью, техническая проблема 😥  \nЯ уже разбираюсь. Напишите, пожалуйста, чуть позже — и всё обязательно сделаю!\n\n🔸 Дополнительные правила  \n- Не используй json, markdown или скобки — только обычный живой текст  \n- Не отправляй больше одного сообщения за раз  \n- Не имитируй AI — ты просто дружелюбная помощница \n- Помни контекст, не повторяй одно и то же  \n- Не давай никаких психологических советов\n- Красиво разделяй текст на абзацы, разделяй абзацы через пустую строку\n\n🚫 Запрещённые фразы:\nНе нужно писать «я проверю ваши данные», «минуточку», «подождите, пожалуйста», «проверяю», «сейчас уточню» и любые другие фразы ожидания.\n✅ Вместо этого просто проверь контакт молча (через Get notion contact), а затем сразу отправляй ответ пользователю, в зависимости от результата.\n📌 Агент должен казаться мгновенно реагирующим, а не «думающим» или «проверяющим в фоне».\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[80,760],"id":"30d9c400-5a25-4279-99f5-ada2d0258bd2","name":"Assistant agent","onError":"continueErrorOutput"},{"parameters":{"options":{"maxTokens":300,"responseFormat":"text","maxRetries":2}},"id":"78b81287-0d32-4cec-a71f-ab3e2bd8bbd1","name":"OpenAI chat model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-500,1140],"credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"contextWindowLength":100},"id":"1235a8ab-46c3-4ec4-9cbb-407f7fa51f79","name":"Assistant memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[-320,1140]},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"23657ae1-e71a-801c-ac77-c720b936b9af","mode":"list","cachedResultName":"Контакты","cachedResultUrl":"https://www.notion.so/23657ae1e71a801cac77c720b936b9af"},"title":"=","simple":false,"propertiesUi":{"propertyValues":[{"key":"ФИО|title","title":"={{ $fromAI('propertyValues0_Title', ``, 'string') ? $fromAI('propertyValues0_Title', ``, 'string') : $('Telegram trigger').item.json.message.chat.first_name }}"},{"key":"Телефон|phone_number","phoneValue":"={{ $fromAI('propertyValues1_Phone_Number', ``, 'string') ? $fromAI('propertyValues1_Phone_Number', ``, 'string') : null }}"},{"key":"Электронная почта|email","emailValue":"={{ $fromAI('propertyValues2_Email', ``, 'string') ? $fromAI('propertyValues2_Email', ``, 'string') : null }}"},{"key":"Статус клиента|status","statusValue":"=Новый"},{"key":"Возраст|number","numberValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues4_Number', ``, 'number') }}"},{"key":"Имя пользователя в tg|rich_text","textContent":"={{ $('Telegram trigger').item.json.message.chat.username }}"},{"key":"ID tg чата|rich_text","textContent":"={{ $('Merge with session id').item.json.sessionId }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[80,1360],"id":"0ab97ba9-0bac-4bfe-a677-ab83e49bfae8","name":"Create notion contact","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"23657ae1-e71a-8091-8925-c2337b9b7232","mode":"list","cachedResultName":"Запись клиентов","cachedResultUrl":"https://www.notion.so/23657ae1e71a80918925c2337b9b7232"},"title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","simple":false,"propertiesUi":{"propertyValues":[{"key":"Запись|title","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues0_Title', ``, 'string') }}"},{"key":"Дата визита|date","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues1_Date', ``, 'string') }}","timezone":"Europe/Moscow"},{"key":"Описание визита|rich_text","textContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues2_Text', ``, 'string') }}"},{"key":"Статус визита|status","statusValue":"=Запланировано"},{"key":"Клиент|relation","relationValue":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues4_relationValue0_Relation_IDs', ``, 'string') }}"]}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[300,1360],"id":"cf591451-eb30-44f9-93d8-c210bf6db124","name":"Create notion appointment","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Ай! Кажется, что-то немного глючит с записью 😓\nДавайте сделаем так: напишите мне немного позже — я всё обязательно починю и запишу вас в первую очередь 💜","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[780,780],"id":"715d01b6-2967-426b-9d34-e0d2452ec0ab","name":"Send error message","webhookId":"b204ac97-3720-43d0-84be-1f157f02bab3","credentials":{"telegramApi":{"id":"QvLj73P2usDhUSBY","name":"VM_Постинг_ТГ_Ассистент"}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"={{ $('Assistant agent').item.json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1060,540],"id":"35618bb4-bc5e-4308-91dc-75ba88d22e32","name":"Send message","webhookId":"b204ac97-3720-43d0-84be-1f157f02bab3","credentials":{"telegramApi":{"id":"QvLj73P2usDhUSBY","name":"VM_Постинг_ТГ_Ассистент"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"23657ae1-e71a-8091-8925-c2337b9b7232","mode":"list","cachedResultName":"Запись клиентов","cachedResultUrl":"https://www.notion.so/23657ae1e71a80918925c2337b9b7232"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Дата визита|date","condition":"on_or_after","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Date', ``, 'string') }}"},{"key":"Дата визита|date","condition":"before","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions2_Date', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[600,1360],"id":"df31052d-f7b4-42a8-9097-5ca025195500","name":"Get notion appointments","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"23657ae1-e71a-801c-ac77-c720b936b9af","mode":"list","cachedResultName":"Контакты","cachedResultUrl":"https://www.notion.so/23657ae1e71a801cac77c720b936b9af"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Имя пользователя в tg|rich_text","condition":"equals","richTextValue":"={{ $('Telegram trigger').item.json.message.chat.username }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[-80,1360],"id":"ebe3143b-bea7-41e0-9d5d-24c76770abca","name":"Get notion contact","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"assignments":{"assignments":[{"id":"aaaaa079-bc27-4e6a-be5c-c0eb1935cc06","name":"sessionId","value":"={{ $('Telegram trigger').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,1080],"id":"d39960ae-2ea8-429b-ab09-03b48329f829","name":"Set session id"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"23657ae1-e71a-8091-8925-c2337b9b7232","mode":"list","cachedResultName":"Запись клиентов","cachedResultUrl":"https://www.notion.so/23657ae1e71a80918925c2337b9b7232"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Дата визита|date","condition":"equals","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Date', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[440,1360],"id":"05198c2b-376d-404c-aaec-5336b944bf8b","name":"Gheck notion appointment","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[780,540],"id":"8704fd8d-8d88-4afb-8dbc-5e6f0539ba55","name":"Wait for response","webhookId":"de3e4587-c94a-40ea-8c8c-f85bea423374"},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-1700,1780],"id":"425891a4-b641-464d-a916-5051e6c690c4","name":"Chat memory cleaner"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=1908115440","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1780,1960],"id":"b8f5895d-af42-4f07-86b7-e4b438162cf6","name":"Assistant memory (clear)"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1920,1780],"id":"21effcf5-6ca3-475b-bd20-9a3495b2c88c","name":"When clicking ‘Execute workflow’"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Telegram trigger').item.json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"9b24beeb-491e-4995-992c-1d4139313e9c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $('Telegram trigger').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"b4c55beb-9810-4088-9f4d-63f750457d65","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1480,740]},{"parameters":{"resource":"file","fileId":"={{ $('Telegram trigger').item.json.message.voice.file_id }}"},"id":"a3f10880-aefe-47fd-b7a5-ab7d0f12f08d","name":"Download voice","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1240,540],"webhookId":"d62534f5-2dbe-49a4-ad6b-1544f5918d9c","credentials":{"telegramApi":{"id":"QvLj73P2usDhUSBY","name":"VM_Постинг_ТГ_Ассистент"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"4aa8b93f-fc52-41c5-9726-d1bfa19b8893","name":"Transcribe voice","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-1020,540],"credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('Transcribe voice').item.json.text }}","type":"string"}]},"options":{}},"id":"7d05b10d-5421-4d45-a8d9-99d12f4932b6","name":"Set voice text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-800,540]},{"parameters":{"mode":"combine","fieldsToMatchString":"text","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-560,740],"id":"a1c87b79-e022-43ac-972d-9f7330932ea9","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('Telegram trigger').item.json.message.text }}","type":"string"}]},"options":{}},"id":"bbebd3a6-7a3c-4b81-9eb6-0480b870b3b2","name":"Set text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1020,760]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-240,760],"id":"f31c32e4-7880-4ea0-b5bd-e41ad64a4790","name":"Merge with session id"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Database_Page', ``, 'string') }}","mode":"id"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"Статус визита|status","statusValue":"Отменено"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[900,1360],"id":"2462f25e-79bb-4101-bbe5-7552d0e17e84","name":"Cancel notion appointment","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"23657ae1-e71a-8091-8925-c2337b9b7232","mode":"list","cachedResultName":"Запись клиентов","cachedResultUrl":"https://www.notion.so/23657ae1e71a80918925c2337b9b7232"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Статус визита|status","condition":"equals","statusValue":"Запланировано"},{"key":"Клиент|relation","condition":"contains","relationValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Relation_ID', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[760,1360],"id":"1f0ada9c-0c2a-4c5e-ad7d-b134d282f92c","name":"Get client notion appointments","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1880,740],"id":"d4f666fe-0bfd-411d-b6c6-730a2f6a0be6","name":"Telegram trigger","webhookId":"dc7bbf6c-1e7c-4ab9-b283-6925b4f37f31","credentials":{"telegramApi":{"id":"QvLj73P2usDhUSBY","name":"VM_Постинг_ТГ_Ассистент"}}},{"parameters":{"jsCode":"// Получаем текущую дату и время в МСК\nconst now = DateTime.now().setZone('Europe/Moscow');\n\n// Получаем дату визита из входных данных\nconst visit = DateTime.fromISO(query).setZone('Europe/Moscow');\n\n// Вычисляем разницу (если дата в будущем)\nif (visit <= now) {\n  return \"-1\";\n}\n\n// Разница в миллисекундах\nconst diff = visit.diff(now, ['days', 'hours', 'minutes']).toObject();\n\n// Округляем значения\nconst days = Math.floor(diff.days || 0);\nconst hours = Math.floor(diff.hours || 0);\nconst minutes = Math.floor(diff.minutes || 0);\n\n// Формируем строку результата\nlet resultParts = [];\nif (days > 0) resultParts.push(`${days} ${days === 1 ? 'день' : (days < 5 ? 'дня' : 'дней')}`);\nif (hours > 0) resultParts.push(`${hours} ${hours === 1 ? 'час' : (hours < 5 ? 'часа' : 'часов')}`);\nif (minutes > 0) resultParts.push(`${minutes} ${minutes === 1 ? 'минута' : (minutes < 5 ? 'минуты' : 'минут')}`);\n\nconst resultString = resultParts.join(', ');\n\n// Возвращаем результат\nreturn resultString"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.2,"position":[1040,1160],"id":"3535517a-bc62-4793-913a-0681a2ed706b","name":"Get time between dates"},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1920,1460],"id":"9e2017b4-8fc6-4f83-9d10-fa1585196682","name":"Schedule trigger"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"23657ae1-e71a-8091-8925-c2337b9b7232","mode":"list","cachedResultName":"Запись клиентов","cachedResultUrl":"https://www.notion.so/23657ae1e71a80918925c2337b9b7232"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Дата визита|date","condition":"on_or_after","date":"={{ $now.setZone('Europe/Moscow') }}"},{"key":"Дата визита|date","condition":"before","date":"={{ $now.setZone('Europe/Moscow').endOf('day') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1640,1460],"id":"577f19a4-afaa-476a-826f-76a0ace4b59c","name":"Get appointments for notifications","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"chatId":"={{ $('Get contact for notifications').item.json.properties['ID tg чата'].rich_text[0].text.content }}","text":"=Уведомляю, что вы сегодня назначены на приём у Владимира Владимировича!\nТочное время: {{ $('Get appointments for notifications').item.json.properties['Дата визита'].date.start.toDateTime().format('dd.LL.yyyy HH:mm') }}\nЖдём вас!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1120,1460],"id":"8d23eb3c-2943-4d20-a442-3c41a4ce244e","name":"Send notification","webhookId":"b204ac97-3720-43d0-84be-1f157f02bab3","credentials":{"telegramApi":{"id":"QvLj73P2usDhUSBY","name":"VM_Постинг_ТГ_Ассистент"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"23657ae1-e71a-801c-ac77-c720b936b9af","mode":"list","cachedResultName":"Контакты","cachedResultUrl":"https://www.notion.so/23657ae1e71a801cac77c720b936b9af"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Запись клиентов|relation","condition":"contains","relationValue":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1380,1460],"id":"b116f159-094e-432f-925d-1653dc10f2a7","name":"Get contact for notifications","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}}],"connections":{"Assistant agent":{"main":[[{"node":"Wait for response","type":"main","index":0}],[{"node":"Send error message","type":"main","index":0}]]},"OpenAI chat model":{"ai_languageModel":[[{"node":"Assistant agent","type":"ai_languageModel","index":0}]]},"Assistant memory":{"ai_memory":[[{"node":"Assistant agent","type":"ai_memory","index":0}]]},"Create notion contact":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Create notion appointment":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Get notion appointments":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Get notion contact":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Set session id":{"main":[[{"node":"Merge with session id","type":"main","index":1}]]},"Gheck notion appointment":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Wait for response":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Assistant memory (clear)":{"ai_memory":[[{"node":"Chat memory cleaner","type":"ai_memory","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Chat memory cleaner","type":"main","index":0}]]},"Download voice":{"main":[[{"node":"Transcribe voice","type":"main","index":0}]]},"Transcribe voice":{"main":[[{"node":"Set voice text","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download voice","type":"main","index":0}],[{"node":"Set text","type":"main","index":0}]]},"Set voice text":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Merge with session id","type":"main","index":0}]]},"Set text":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge with session id":{"main":[[{"node":"Assistant agent","type":"main","index":0}]]},"Cancel notion appointment":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Get client notion appointments":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Telegram trigger":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"Set session id","type":"main","index":0}]]},"Get time between dates":{"ai_tool":[[{"node":"Assistant agent","type":"ai_tool","index":0}]]},"Schedule trigger":{"main":[[{"node":"Get appointments for notifications","type":"main","index":0}]]},"Get appointments for notifications":{"main":[[{"node":"Get contact for notifications","type":"main","index":0}]]},"Get contact for notifications":{"main":[[{"node":"Send notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"050d3a84-d253-4591-b7c4-e951da3c94ce","triggerCount":2,"tags":[{"createdAt":"2025-07-21T12:00:12.966Z","updatedAt":"2025-07-21T12:00:12.966Z","id":"SE2p7A4ZzY3fduaR","name":"vmb"}]}