VM_Контент_план_Отдельный_постинг_историй-QsuuA2lS9dW4aljQ.json
{"createdAt":"2025-08-05T13:17:30.325Z","updatedAt":"2025-08-06T16:11:39.000Z","id":"QsuuA2lS9dW4aljQ","name":"VM_Контент_план_Отдельный_постинг_историй","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1280,120],"id":"3a3f5f2a-2fd3-4a76-93fd-79de4d93f107","name":"Execute workflow trigger"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const url = $('Upload Telegram file to google drive').item.json.webContentLink; // например: https://drive.google.com/open?id=1Jl6WcMRgbrE-U7PBR80eNki4_GaiCY5C\n\nconst match = url.match(/id=([a-zA-Z0-9_-]+)/);\nif (match) {\n  const id = match[1];\n  return {\n    json: {\n      original: url,\n      converted: `https://drive.google.com/file/d/${id}`\n    }\n  };\n} else {\n  return {\n    json: {\n      original: url,\n      converted: null\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[780,120],"id":"28845624-fa00-4819-8a35-4b3933d3c723","name":"Get url for download Telegram"},{"parameters":{"inputDataFieldName":"=data","name":"=","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1ICPsm3B5W37vvRvMSuN-sBwnbCrScdGG","mode":"list","cachedResultName":"N8N_контент_для_отдельных_историй","cachedResultUrl":"https://drive.google.com/drive/folders/1ICPsm3B5W37vvRvMSuN-sBwnbCrScdGG"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[540,120],"id":"26ad6f98-458b-40cf-aa37-73b9aa7ffb38","name":"Upload Telegram file to google drive","credentials":{"googleDriveOAuth2Api":{"id":"0a0TfOy99ZkVHU3X","name":"Google Drive VM test account"}}},{"parameters":{"command":"=bash -c 'cd /home/n8nuser && python3 -c \"\nimport os, sys, tempfile, urllib.request, re\nfrom telethon.sync import TelegramClient\nfrom telethon import functions, types\n\nif len(sys.argv) < 7:\n    print(\\\"Использование: script.py <api_id> <api_hash> <session> <channel> <media_url> <caption>\\\")\n    exit(1)\n\napi_id = int(sys.argv[1])\napi_hash = sys.argv[2]\nsession = sys.argv[3]\nchannel = sys.argv[4]\nmedia_url = sys.argv[5]\ncaption = sys.argv[6]\n\ndef download_from_gdrive(file_id, destination):\n    url = f\\\"https://drive.google.com/uc?export=download&id={file_id}\\\"\n    req = urllib.request.Request(url, headers={\\\"User-Agent\\\": \\\"Mozilla/5.0\\\"})\n    try:\n        with urllib.request.urlopen(req) as response:\n            content_type = response.info().get_content_type()\n            data = response.read()\n        with open(destination, \\\"wb\\\") as out_file:\n            out_file.write(data)\n        return content_type\n    except Exception as e:\n        print(\\\"Ошибка при загрузке с Google Drive:\\\", e)\n        exit(1)\n\ndef extract_file_id(url):\n    match = re.search(r\\\"/d/([a-zA-Z0-9_-]+)\\\", url)\n    return match.group(1) if match else None\n\nfile_id = extract_file_id(media_url)\nif not file_id:\n    print(\\\"Не удалось извлечь ID из ссылки Google Drive\\\")\n    exit(1)\n\ntmpfile = tempfile.NamedTemporaryFile(delete=False)\ntmpfile.close()\n\ncontent_type = download_from_gdrive(file_id, tmpfile.name)\n\nif content_type in [\\\"image/jpeg\\\", \\\"image/png\\\"]:\n    ext = \\\".jpg\\\" if content_type == \\\"image/jpeg\\\" else \\\".png\\\"\n    media_type = \\\"photo\\\"\nelif content_type in [\\\"video/mp4\\\", \\\"video/mpeg\\\", \\\"video/quicktime\\\"]:\n    ext = \\\".mp4\\\"\n    media_type = \\\"video\\\"\nelse:\n    print(f\\\"Unsupported media type: {content_type}\\\")\n    os.unlink(tmpfile.name)\n    exit(1)\n\nif not tmpfile.name.endswith(ext):\n    new_name = tmpfile.name + ext\n    os.rename(tmpfile.name, new_name)\n    tmpfile.name = new_name\n\nclient = TelegramClient(session, api_id, api_hash)\nclient.start()\n\nentity = client.get_entity(channel)\nuploaded = client.upload_file(tmpfile.name)\n\nif media_type == \\\"photo\\\":\n    media = types.InputMediaUploadedPhoto(\n        file=uploaded,\n\n    )\nelif media_type == \\\"video\\\":\n    media = types.InputMediaUploadedDocument(\n        file=uploaded,\n        mime_type=\\\"video/mp4\\\",\n        attributes=[types.DocumentAttributeVideo(duration=40, w=1080, h=1920, supports_streaming=True)]\n    )\n\nclient(functions.stories.SendStoryRequest(\n    peer=entity,\n    media=media,\n    caption=caption,\n    privacy_rules=[types.InputPrivacyValueAllowAll()],\n))\n\nprint(\\\"История опубликована\\\")\nclient.disconnect()\n\" {{ $('Set input data for telegram story').item.json.api_id }} \"{{ $('Set input data for telegram story').item.json.api_hash }}\" \"{{ $('Set input data for telegram story').item.json.session }}\" \"{{ $('Set input data for telegram story').item.json.channel }}\" \"{{ $('Set input data for telegram story').item.json.content_url }}\" \"{{ $('Set input data for telegram story').item.json.content_caption}}\"'\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1540,200],"id":"2e82336d-3140-4db9-a502-0fdefa435a84","name":"Send Telegram story"},{"parameters":{"chatId":"={{ $('Merge for notification').item.json.tg_chat_id_for_notification }}","text":"=История успешно создана и опубликована!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2140,280],"id":"4a93ace5-8a6b-4161-9cd3-5f317c0daafc","name":"Finish of publishing story notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8581103-04e9-47b5-8ad3-1c1cd6fd0f9f","leftValue":"={{ $json.message.video.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"373fcae4-c71d-4d91-949b-08e1ee7202d6","leftValue":"={{ $json.message.photo?.last().file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Photo"}]},"options":{"fallbackOutput":"none"}},"id":"fae007df-ce62-4b05-8e61-1b65cb9e3f03","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-540,120]},{"parameters":{"resource":"file","fileId":"={{ $json.message.video.file_id }}"},"id":"3c1f2343-eb47-43eb-a0a7-6dbbb5e72b99","name":"Download video","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-140,-20],"webhookId":"d62534f5-2dbe-49a4-ad6b-1544f5918d9c","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo.last().file_id }}"},"id":"7792f143-7f24-45e4-bfe2-e19a4e6f927f","name":"Download photo","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-340,240],"webhookId":"d62534f5-2dbe-49a4-ad6b-1544f5918d9c","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[300,120],"id":"b86c015f-ff05-4b2b-8c0a-0ac6daf37377","name":"Merge"},{"parameters":{"jsCode":"const item = $input.all()[0];\n\nif (item.binary && item.binary.data) {\n  item.binary.data.mimeType = 'image/jpeg';\n}\n\nreturn [item];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-140,240],"id":"9e763895-3525-4498-a968-c333840f0af3","name":"Convert to image type"},{"parameters":{"assignments":{"assignments":[{"id":"3c7c6617-0a6f-4f1e-bea6-a1c2d933ce96","name":"tg_chat_id_for_notification","value":"={{ $('Execute workflow trigger').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,900],"id":"d91868c2-e49b-4b7b-b0c0-af9cd11f3054","name":"Set chat id for notification"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1860,280],"id":"402a926e-53f3-4f62-ac87-a707035c32ec","name":"Merge for notification"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1080,200],"id":"eef85830-d2d1-4bb2-a851-42490637742c","name":"Merge with caption"},{"parameters":{"assignments":{"assignments":[{"id":"3c7c6617-0a6f-4f1e-bea6-a1c2d933ce96","name":"caption","value":"={{ $('Execute workflow trigger').item.json.message.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-120,520],"id":"05e8abed-3217-44ec-88ba-96d821dd3650","name":"Set caption"},{"parameters":{"operation":"resize","width":1080,"height":1920,"resizeOption":"ignoreAspectRatio","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[60,240],"id":"cb25bdc4-fb09-4400-9125-fff5d113105d","name":"Resize image"},{"parameters":{"assignments":{"assignments":[{"id":"4f71e741-3976-4bae-a24b-d949d261d0d5","name":"api_id","value":"21130523","type":"string"},{"id":"c598dac2-c447-43cf-b1fd-503752ddb3b4","name":"api_hash","value":"a188ca3708fcd0f090aa36a50538d862","type":"string"},{"id":"d26280e1-938a-4f38-a79c-da2e463c5961","name":"channel","value":"me","type":"string"},{"id":"daca682e-a990-4fd1-a74d-0233b4157084","name":"session","value":"n8n_vv_tg_acc","type":"string"},{"id":"c5c5b86c-b94e-4ac3-8273-b247e6e42d75","name":"content_url","value":"={{ $('Merge with caption').item.json.converted }}","type":"string"},{"id":"913e2802-0cdb-422f-9b9c-dc97e996fd7c","name":"content_caption","value":"={{ $('Merge with caption').item.json.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1460,-100],"id":"84824d72-ab0b-411b-99ab-6d8af3d1e3c5","name":"Set input data for telegram story _VV"},{"parameters":{"assignments":{"assignments":[{"id":"4f71e741-3976-4bae-a24b-d949d261d0d5","name":"api_id","value":"25696470","type":"string"},{"id":"c598dac2-c447-43cf-b1fd-503752ddb3b4","name":"api_hash","value":"f673c6450e9471ed08d19e0422db89fe","type":"string"},{"id":"d26280e1-938a-4f38-a79c-da2e463c5961","name":"channel","value":"me","type":"string"},{"id":"daca682e-a990-4fd1-a74d-0233b4157084","name":"session","value":"n8n_tg_tools_acc","type":"string"},{"id":"c5c5b86c-b94e-4ac3-8273-b247e6e42d75","name":"content_url","value":"={{ $('Merge with caption').item.json.converted }}","type":"string"},{"id":"913e2802-0cdb-422f-9b9c-dc97e996fd7c","name":"content_caption","value":"={{ $('Merge with caption').item.json.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1300,200],"id":"cf57879c-9a69-4346-91e8-c0b4900748d0","name":"Set input data for telegram story"}],"connections":{"Execute workflow trigger":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"Set chat id for notification","type":"main","index":0},{"node":"Set caption","type":"main","index":0}]]},"Get url for download Telegram":{"main":[[{"node":"Merge with caption","type":"main","index":0}]]},"Upload Telegram file to google drive":{"main":[[{"node":"Get url for download Telegram","type":"main","index":0}]]},"Send Telegram story":{"main":[[{"node":"Merge for notification","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download video","type":"main","index":0}],[{"node":"Download photo","type":"main","index":0}]]},"Download video":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Download photo":{"main":[[{"node":"Convert to image type","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Upload Telegram file to google drive","type":"main","index":0}]]},"Convert to image type":{"main":[[{"node":"Resize image","type":"main","index":0}]]},"Set chat id for notification":{"main":[[{"node":"Merge for notification","type":"main","index":1}]]},"Merge for notification":{"main":[[{"node":"Finish of publishing story notification","type":"main","index":0}]]},"Merge with caption":{"main":[[{"node":"Set input data for telegram story","type":"main","index":0}]]},"Set caption":{"main":[[{"node":"Merge with caption","type":"main","index":1}]]},"Resize image":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Set input data for telegram story _VV":{"main":[[]]},"Set input data for telegram story":{"main":[[{"node":"Send Telegram story","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"376bec6d-379b-43e8-8e11-0e54e42ca9f9","triggerCount":0,"tags":[{"createdAt":"2025-07-16T11:48:29.862Z","updatedAt":"2025-07-31T17:53:33.251Z","id":"gA8iWB5v23LRV9Nt","name":"vm_cp"}]}