VM_Контент_план_СЦ-AFkuadLQLY0ALORx.json
{"createdAt":"2025-07-02T13:52:27.843Z","updatedAt":"2025-07-29T12:26:39.000Z","id":"AFkuadLQLY0ALORx","name":"VM_Контент_план_СЦ","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-840,0],"id":"319f8120-dc2b-4494-b707-f82e17cca7dd","name":"Schedule trigger"},{"parameters":{"path":"d7485c3e-fd2c-4955-853c-bfdba784e65f","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-840,180],"id":"f189d672-ec7c-4c43-bf04-35a02b6f986a","name":"Webhook trigger","webhookId":"d7485c3e-fd2c-4955-853c-bfdba784e65f"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"22457ae1-e71a-81a4-bf5b-c48571c73d7b","mode":"list","cachedResultName":"Контент ","cachedResultUrl":"https://www.notion.so/22457ae1e71a81a4bf5bc48571c73d7b"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Статус|status","condition":"equals","statusValue":"Готово к публикации"},{"key":"Тип контента|status","condition":"equals","statusValue":"Идея"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-600,180],"id":"2c0b9020-8bb3-4cdd-82d4-3a1ad5567c12","name":"Get notion ideas","retryOnFail":true,"alwaysOutputData":false,"credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"jsCode":"const socials = [\n  \"VK\", \n  \"Instagram\", \n  \"Telegram\", \n  \"YouTube\", \n  \"LinkedIn\", \n  \"X\", \n  \"Facebook\",\n  \"MAX\"\n];\nconst result = [];\n\nfor (const item of  $input.all()) {\n  for (const social of socials) {\n    result.push({\n      json: {\n        origin_notion_page_id: item.json.id,\n        idea: item.json.properties.Тема.title[0].text.content,\n        headline: item.json.properties.Заголовок.rich_text[0].text.content,\n        text: item.json.properties.Текст.rich_text[0].text.content,\n        urls: item.json.properties['Доп. URL'].rich_text[0].text.content,\n        social_network: social\n      }\n    });\n  }\n}\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,180],"id":"ed415e87-c934-458f-bdd6-afbdf52c70d8","name":"Set social networks"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7d11aa8-5ed1-482c-96d2-e9160e51ee0a","leftValue":"={{ $json.social_network }}","rightValue":"Telegram","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Telegram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e1408c3-6c18-46d7-aa61-d55899c80142","leftValue":"={{ $json.social_network }}","rightValue":"Instagram","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d2fde54-f0bc-4a09-bdd9-8730a5af645f","leftValue":"={{ $json.social_network }}","rightValue":"YouTube","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"YouTube"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.social_network }}","rightValue":"VK","operator":{"type":"string","operation":"equals"},"id":"6962763c-e58e-418c-8479-d6aec715a61e"}],"combinator":"and"},"renameOutput":true,"outputKey":"VK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"39f57590-436c-44dd-a660-d4edaef1ebde","leftValue":"={{ $json.social_network }}","rightValue":"Linkedln","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Linkedln"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"550ba82b-662b-4391-9993-1575d574efdf","leftValue":"={{ $json.social_network }}","rightValue":"X","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"X"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98265788-9732-490d-ba10-b1564c897d9a","leftValue":"={{ $json.social_network }}","rightValue":"Facebook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Facebook"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f63f1a21-96bd-45c8-8502-c727f8b907e2","leftValue":"={{ $json.social_network }}","rightValue":"MAX","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"MAX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-100,80],"id":"f0b146fc-b202-493d-bdc7-e21e24a16b34","name":"Switch social network type"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Set social networks').item.json.origin_notion_page_id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Статус|status","statusValue":"Опубликовано"},{"key":"Дата публикации|date","date":"={{ $now.setZone('Europe/Moscow').format('yyyy-MM-dd HH:mm:ss') }}","timezone":"Europe/Moscow"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2120,40],"id":"4616285e-c1fc-4368-9049-1cfcd355c7a9","name":"Update YouTube notion origin page status","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"assignments":{"assignments":[{"id":"7bd756f2-9ac5-40ec-9e97-db7ac202f665","name":"promt","value":"=Ты — профессиональный сценарист, специалист по клинической психологии и текстовому маркетингу. Твоя задача — адаптировать идеи, заголовки и тексты статей по психологии под формат постов для Telegram-канала. Посты должны содержать научно обоснованную, но живую, эмоциональную и захватывающую информацию, написанную в формате личного обращения к читателю.\n\nНиже — исходные данные:\n  - тема (сырая идея)\n  - набросок кликбейтного заголовка\n  - черновой текст\n  - список ссылок на материалы.\nЭти данные не оформлены и не подходят для Telegram — они нуждаются в переработке. Не переписывай их дословно, а используй как источник смысла и интонации\n\n⚠️ Эти данные **не должны быть переписаны заново** — **важно сохранить их суть, смысл и интонацию**. Твоя задача — именно **адаптация под формат поста в Telegram**, а не полное переосмысление. Используй исходные данные как основу и направляй под формат Telegram, не меняя саму идею.\n\n🎯 Твоя задача:\n1. Проанализируй смысл идеи, чернового заголовка, текста и ссылок.\n2. Адаптируй всё под формат текстового поста в Telegram (размер поста средний - от 500 до 1200 символов, включая пробелы), который хорошо читается и вовлекает аудиторию. ❗️❗️❗️Текст обязательно должен быть разделен на абзацы, содержать смайлики или эмодзи.\n3. Создай новую:\n   - `topic` — чёткую, эмоциональную, интересную тему поста, связанную с психологией, отношениями и саморазвитием.\n\n   - `headline` —  очень цепляющий заголовок: провокация, вопрос, факт, шок, контраст. Он должен побудить читать дальше.\n\n   - `article` — пост в стиле Telegram, до 1200 символов.\n      - Это живой, эмоциональный, научно обоснованный монолог психолога, который как будто говорит с аудиторией от первого лица. Используй активный темп, короткие фразы, ритм. ❗️❗️❗️Обязательно: крючок → суть → мораль/вывод. Без ссылок и названий сайтов. Без пустых банальностей.\n      - Начни с двух сенсационных, вирусных крючков, которые моментально захватывают внимание.\n      - Используй эмоции: удивление, тревогу, восторг.\n      - Вывод или рефлексия в конце.\n\n   - `related_urls` — от 3 до 5 **реальных** ссылок на материалы по теме. Все ссылки должны:\n     - вести на **существующие страницы** (не придумывай их),\n     - быть написаны **на русском языке**,\n     - относиться к психологии, отношениям, личностному развитию и т.п.\n     - не использоваться в тексте `article` — только в `related_urls`, то есть в сценарии эти ссылки **не упоминаются** никогда - это очень важно❗️❗️❗️.\n\n📌 Исходные данные:\n- idea: {{ $('Set social networks').item.json.idea }}\n- headline: {{ $('Set social networks').item.json.headline }}\n- text: {{ $('Set social networks').item.json.text }}\n- urls: {{ $('Set social networks').item.json.urls }}\n\n❗️❗️❗️Ответ верни **только в виде чистого JSON-объекта следующего формата:\n{\n  \"topic\": \"\",\n  \"headline\": \"\",\n  \"article\": \"\",\n  \"related_urls\": [\"\", \"\", \"\"]\n}\n❗️❗️❗️ОЧЕНЬ ВАЖНО:\n❗️Ответ должен быть строго в формате JSON. Никаких пояснений, комментариев, Markdown-блоков, кавычек в начале и конце, префиксов вида json\\n или ```json (с использованием тройных обратных кавычек) и прочего. Это очень важно.\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,-380],"id":"bf095616-92db-47cc-b572-aa6a3d01db45","name":"Set Telegram generate promt"},{"parameters":{"method":"POST","url":"http://localhost:8001/run_gemini","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $('Set Telegram generate promt').item.json.promt}}"},{"name":"model","value":"gemini-2.5-pro"},{"name":"temperature","value":"0.7"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,-380],"id":"f27182aa-6719-42ca-a699-c340fd1c4037","name":"Gemini Telegram generate"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Получаем ответ из текущего item \nlet answer = $json[\"response\"] || \"\";\n\n// Удаляем Markdown-блоки и лишние кавычки, если есть\nanswer = answer.trim();\nif (answer.startsWith(\"```json\")) answer = answer.slice(7).trim();\nif (answer.startsWith(\"```\")) answer = answer.slice(3).trim();\nif (answer.endsWith(\"```\")) answer = answer.slice(0, -3).trim();\n\n// Формируем результат\n// Парсинг JSON-ответа\nlet data;\ndata = JSON.parse(answer);\ndata.topic = $('Set social networks').item.json.idea\ndata.related_urls = $('Set social networks').item.json.urls\n\n// Возвращаем очищенные данные\nreturn { json: data };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,-380],"id":"525f2983-a352-4235-9b78-2946a084e84a","name":"Gemini Telegram generate answer"},{"parameters":{"resource":"image","prompt":"=Ты — креативный арт-директор и визуальный дизайнер с опытом в психологическом контенте. Твоя задача — создать реалистичное и эмоциональное изображение, которое дополнит Telegram-пост на тему психологии, отношений или саморазвития. Изображение не должно быть буквальной иллюстрацией текста — оно должно метафорически передавать его настроение, смысл и посыл, вызывая у зрителя эмоцию и желание прочитать пост.\n\n📌 Исходные данные:\n- topic: краткая тема поста (основной смысл).\n- headline: броский заголовок.\n- article: полный текст поста в Telegram.\n\n🎯 Задача:\n1. Прочитай и проанализируй все поля.\n2. Выдели основную эмоцию и подтекст (например: тревога, одиночество, облегчение, принятие, конфликт).\n3. Создай изображение на основе проанализированной информации.\n\n⚠️ Не нужно изображать сам текст поста. Главное — эмоциональный визуальный образ, вызывающий ассоциации с темой.\n⚠️ Изображение не должно содержать никаких надписей, подписей! Это важно!\n\n📌 Исходные данные:\n- topic: {{ $('Gemini Telegram generate answer').item.json.topic }}\n- headline: {{ $('Gemini Telegram generate answer').item.json.headline }}\n- article: {{ $('Gemini Telegram generate answer').item.json.article }}\n","options":{"dalleQuality":"hd","size":"1024x1024","style":"vivid","returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1100,-380],"id":"3822b301-f001-4b77-8adc-49cf150a4960","name":"OpenAI Telegram image generate","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"22457ae1-e71a-81a4-bf5b-c48571c73d7b","mode":"list","cachedResultName":"Контент ","cachedResultUrl":"https://www.notion.so/22457ae1e71a81a4bf5bc48571c73d7b"},"simple":"={{ false }}","propertiesUi":{"propertyValues":[{"key":"Тема|title","title":"={{ $('Gemini Telegram generate answer').item.json.topic }}"},{"key":"Заголовок поста|rich_text","textContent":"={{ $('Gemini Telegram generate answer').item.json.headline }}"},{"key":"Текст поста|rich_text","textContent":"={{ $('Gemini Telegram generate answer').item.json.article }}"},{"key":"Доп. URL для поста|rich_text","textContent":"={{ $('Gemini Telegram generate answer').item.json.related_urls }}"},{"key":"Социальная сеть для поста|status","statusValue":"={{ $('Set social networks').item.json.social_network }}"},{"key":"Статус поста|status","statusValue":"=Создан"},{"key":"Тип контента|status","statusValue":"=Пост"},{"key":"Изображение для поста|files","fileUrls":{"fileUrl":[{"name":"telegram_image","url":"={{ $('OpenAI Telegram image generate').item.json.url }}"}]}},{"key":"Дата создания поста|date","date":"={{ $now.setZone('Europe/Moscow').format('yyyy-MM-dd HH:mm:ss') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1340,-380],"id":"89c7e20f-27ad-4b43-a136-6c2a37b61fc0","name":"Create Telegram notion page","retryOnFail":true,"alwaysOutputData":false,"credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"assignments":{"assignments":[{"id":"7bd756f2-9ac5-40ec-9e97-db7ac202f665","name":"promt","value":"=Ты — профессиональный сценарист, специалист по клинической психологии и текстовому маркетингу. Твоя задача — адаптировать идеи, заголовки и тексты статей по психологии под формат постов для Instagram. Пост должен быть научно обоснованным, но при этом живым, эмоциональным, захватывающим и визуально читаемым. Он будет использоваться в текстовом описании к посту или рилсу.\n\nНиже — исходные данные:\n  - тема (сырая идея)\n  - набросок кликбейтного заголовка\n  - черновой текст\n  - список ссылок на материалы.\nЭти данные не оформлены и не подходят для Instagram — они нуждаются в переработке. Не переписывай их дословно, а используй как источник смысла и интонации\n\n⚠️ Эти данные **не должны быть переписаны заново** — **важно сохранить их суть, смысл и интонацию**. Твоя задача — именно **адаптация под формат поста в Instagram**, а не полное переосмысление. Используй исходные данные как основу и направляй под формат Instagram, не меняя саму идею.\n\n🎯 Твоя задача:\n1. Проанализируй смысл идеи, чернового заголовка, текста и ссылок.\n2. Адаптируй всё под Instagram-пост (до 1500 символов, включая пробелы), который хорошо читается и вовлекает аудиторию. ❗️❗️❗️Текст обязательно должен быть разделен на абзацы, содержать смайлики или эмодзи.\n3. Создай новую:\n   - `topic` — чёткую, эмоциональную, интересную тему поста, связанную с психологией, отношениями и саморазвитием.\n\n   - `headline` —  очень цепляющий заголовок: провокация, вопрос, факт, шок, контраст. Он должен побудить читать дальше.\n\n   - `article` — пост в стиле Instagram, до 1500 символов.\n      - Это живой, эмоциональный, научно обоснованный монолог психолога, который как будто говорит с аудиторией от первого лица. Используй активный темп, короткие фразы, ритм. ❗️❗️❗️Обязательно: крючок → суть → мораль/вывод. Без ссылок и названий сайтов. Без пустых банальностей.\n      - Начни с двух сенсационных, вирусных крючков, которые моментально захватывают внимание.\n      - Используй эмоции: удивление, тревогу, восторг.\n      - Вывод или рефлексия в конце + призыв к вовлечению (лайк, комментарий, сохранить).\n\n   - `related_urls` — от 3 до 5 **реальных** ссылок на материалы по теме. Все ссылки должны:\n     - вести на **существующие страницы** (не придумывай их),\n     - быть написаны **на русском языке**,\n     - относиться к психологии, отношениям, личностному развитию и т.п.\n     - не использоваться в тексте `article` — только в `related_urls`, то есть в сценарии эти ссылки **не упоминаются** никогда - это очень важно❗️❗️❗️.\n\n📌 Исходные данные:\n- idea: {{ $('Set social networks').item.json.idea }}\n- headline: {{ $('Set social networks').item.json.headline }}\n- text: {{ $('Set social networks').item.json.text }}\n- urls: {{ $('Set social networks').item.json.urls }}\n\n❗️❗️❗️Ответ верни **только в виде чистого JSON-объекта следующего формата:\n{\n  \"topic\": \"\",\n  \"headline\": \"\",\n  \"article\": \"\",\n  \"related_urls\": [\"\", \"\", \"\"]\n}\n❗️❗️❗️ОЧЕНЬ ВАЖНО:\n❗️Ответ должен быть строго в формате JSON. Никаких пояснений, комментариев, Markdown-блоков, кавычек в начале и конце, префиксов вида json\\n или ```json (с использованием тройных обратных кавычек) и прочего. Это очень важно.\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,-120],"id":"74ae30a6-e446-47f2-ab33-5327368e06df","name":"Set Instagram generate promt"},{"parameters":{"method":"POST","url":"http://localhost:8001/run_gemini","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $('Set Instagram generate promt').item.json.promt}}"},{"name":"model","value":"gemini-2.5-pro"},{"name":"temperature","value":"0.7"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,-120],"id":"214ed03c-d831-4c9c-ae66-66835aa1201a","name":"Gemini Instagram generate"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Получаем ответ из текущего item \nlet answer = $json[\"response\"] || \"\";\n\n// Удаляем Markdown-блоки и лишние кавычки, если есть\nanswer = answer.trim();\nif (answer.startsWith(\"```json\")) answer = answer.slice(7).trim();\nif (answer.startsWith(\"```\")) answer = answer.slice(3).trim();\nif (answer.endsWith(\"```\")) answer = answer.slice(0, -3).trim();\n\n// Формируем результат\n// Парсинг JSON-ответа\nlet data;\ndata = JSON.parse(answer);\ndata.topic = $('Set social networks').item.json.idea\ndata.related_urls = $('Set social networks').item.json.urls\n\n// Возвращаем очищенные данные\nreturn { json: data };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,-120],"id":"76fc34ce-1c14-45e0-84c8-8720427c7fe0","name":"Gemini Instagram generate answer"},{"parameters":{"resource":"image","prompt":"=Ты — креативный арт-директор и визуальный дизайнер с опытом в психологическом контенте. Твоя задача — создать реалистичное и эмоциональное изображение, которое дополнит Instagram-пост на тему психологии, отношений или саморазвития. Изображение не должно быть буквальной иллюстрацией текста — оно должно метафорически передавать его настроение, смысл и посыл, вызывая у зрителя эмоцию и желание прочитать пост.\n\n📌 Исходные данные:\n- topic: краткая тема поста (основной смысл).\n- headline: броский заголовок.\n- article: полный текст поста в Instagram.\n\n🎯 Задача:\n1. Прочитай и проанализируй все поля.\n2. Выдели основную эмоцию и подтекст (например: тревога, одиночество, облегчение, принятие, конфликт).\n3. Создай изображение на основе проанализированной информации.\n\n⚠️ Не нужно изображать сам текст поста. Главное — эмоциональный визуальный образ, вызывающий ассоциации с темой.\n⚠️ Изображение не должно содержать никаких надписей, подписей! Это важно!\n\n\n📌 Исходные данные:\n- topic: {{ $('Gemini Instagram generate answer').item.json.topic }}\n- headline: {{ $('Gemini Instagram generate answer').item.json.headline }}\n- article: {{ $('Gemini Instagram generate answer').item.json.article }}\n","options":{"dalleQuality":"hd","size":"1024x1024","style":"vivid","returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1100,-120],"id":"7255eec4-b963-4042-aa3f-b1ea4d183dbe","name":"OpenAI Instagram image generate","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"22457ae1-e71a-81a4-bf5b-c48571c73d7b","mode":"list","cachedResultName":"Контент ","cachedResultUrl":"https://www.notion.so/22457ae1e71a81a4bf5bc48571c73d7b"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"Тема|title","title":"={{ $('Gemini Instagram generate answer').item.json.topic }}"},{"key":"Заголовок поста|rich_text","textContent":"={{ $('Gemini Instagram generate answer').item.json.headline }}"},{"key":"Текст поста|rich_text","textContent":"={{ $('Gemini Instagram generate answer').item.json.article }}"},{"key":"Доп. URL для поста|rich_text","textContent":"={{ $('Gemini Instagram generate answer').item.json.related_urls }}"},{"key":"Социальная сеть для поста|status","statusValue":"={{ $('Set social networks').item.json.social_network }}"},{"key":"Статус поста|status","statusValue":"=Создан"},{"key":"Тип контента|status","statusValue":"=Пост"},{"key":"Изображение для поста|files","fileUrls":{"fileUrl":[{"name":"telegram_image","url":"={{ $('OpenAI Instagram image generate').item.json.url }}"}]}},{"key":"Дата создания поста|date","date":"={{ $now.setZone('Europe/Moscow').format('yyyy-MM-dd HH:mm:ss') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1340,-120],"id":"fd25f2a1-f49b-4af4-9b32-47f64961b1ef","name":"Create Instagram notion page","retryOnFail":true,"alwaysOutputData":false,"credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1880,40],"id":"60e1ea55-b874-4a27-bb4b-a326e60f3528","name":"Merge"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-840,380],"id":"92a901bb-33ad-4995-9f9e-50992aa1b114","name":"Execute workflow trigger"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2520,320],"id":"78ad920b-42fe-4e69-bd00-4d9bf140a279","name":"Merge for notification"},{"parameters":{"chatId":"={{ $('Set chat id for notification').item.json.tg_chat_id_for_notification }}","text":"=Посты успешно созданы!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2780,320],"id":"f34987e2-cf67-4f77-8d17-350ca779a128","name":"Finish of creation posts notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","executeOnce":true,"credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"assignments":{"assignments":[{"id":"3c7c6617-0a6f-4f1e-bea6-a1c2d933ce96","name":"tg_chat_id_for_notification","value":"={{ $('Execute workflow trigger').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[820,820],"id":"f9ac5392-490c-4ef1-aacc-4668233e85fb","name":"Set chat id for notification"}],"connections":{"Schedule trigger":{"main":[[{"node":"Get notion ideas","type":"main","index":0}]]},"Webhook trigger":{"main":[[{"node":"Get notion ideas","type":"main","index":0}]]},"Get notion ideas":{"main":[[{"node":"Set social networks","type":"main","index":0}]]},"Set social networks":{"main":[[{"node":"Switch social network type","type":"main","index":0}]]},"Switch social network type":{"main":[[{"node":"Set Telegram generate promt","type":"main","index":0}],[{"node":"Set Instagram generate promt","type":"main","index":0}],[],[],[],[],[],[]]},"Set Telegram generate promt":{"main":[[{"node":"Gemini Telegram generate","type":"main","index":0}]]},"Gemini Telegram generate":{"main":[[{"node":"Gemini Telegram generate answer","type":"main","index":0}]]},"Gemini Telegram generate answer":{"main":[[{"node":"OpenAI Telegram image generate","type":"main","index":0}]]},"OpenAI Telegram image generate":{"main":[[{"node":"Create Telegram notion page","type":"main","index":0}]]},"Create Telegram notion page":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Set Instagram generate promt":{"main":[[{"node":"Gemini Instagram generate","type":"main","index":0}]]},"Gemini Instagram generate":{"main":[[{"node":"Gemini Instagram generate answer","type":"main","index":0}]]},"Gemini Instagram generate answer":{"main":[[{"node":"OpenAI Instagram image generate","type":"main","index":0}]]},"OpenAI Instagram image generate":{"main":[[{"node":"Create Instagram notion page","type":"main","index":0}]]},"Create Instagram notion page":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Update YouTube notion origin page status","type":"main","index":0}]]},"Execute workflow trigger":{"main":[[{"node":"Get notion ideas","type":"main","index":0},{"node":"Set chat id for notification","type":"main","index":0}]]},"Update YouTube notion origin page status":{"main":[[{"node":"Merge for notification","type":"main","index":0}]]},"Merge for notification":{"main":[[{"node":"Finish of creation posts notification","type":"main","index":0}]]},"Set chat id for notification":{"main":[[{"node":"Merge for notification","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"98018524-2197-41b5-b6fd-7749a169d486","triggerCount":2,"tags":[{"createdAt":"2025-07-16T11:48:29.862Z","updatedAt":"2025-07-28T14:50:16.556Z","id":"gA8iWB5v23LRV9Nt","name":"vm_kp"}]}