VM_Контент_план_СЦ-AFkuadLQLY0ALORx.json
{"createdAt":"2025-07-02T13:52:27.843Z","updatedAt":"2025-08-05T15:37:14.000Z","id":"AFkuadLQLY0ALORx","name":"VM_Контент_план_СЦ","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-840,0],"id":"319f8120-dc2b-4494-b707-f82e17cca7dd","name":"Schedule trigger"},{"parameters":{"path":"d7485c3e-fd2c-4955-853c-bfdba784e65f","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-840,180],"id":"f189d672-ec7c-4c43-bf04-35a02b6f986a","name":"Webhook trigger","webhookId":"d7485c3e-fd2c-4955-853c-bfdba784e65f"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"24157ae1-e71a-802b-baf5-f6e41e608ee7","mode":"list","cachedResultName":"Идеи для постов","cachedResultUrl":"https://www.notion.so/24157ae1e71a802bbaf5f6e41e608ee7"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Статус|status","condition":"equals","statusValue":"Готово к публикации"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-600,180],"id":"2c0b9020-8bb3-4cdd-82d4-3a1ad5567c12","name":"Get notion ideas","retryOnFail":true,"alwaysOutputData":false,"credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"jsCode":"const socials = [\n  \"VK\", \n  \"Instagram\", \n  \"Telegram\", \n  \"YouTube\", \n  \"LinkedIn\", \n  \"X\", \n  \"Facebook\",\n  \"MAX\"\n];\nconst result = [];\n\nfor (const item of  $input.all()) {\n  for (const social of socials) {\n    result.push({\n      json: {\n        origin_notion_page_id: item.json.id,\n        idea: item.json.properties.Тема.title[0].text.content,\n        headline: item.json.properties.Заголовок.rich_text[0].text.content,\n        text: item.json.properties.Текст.rich_text[0].text.content,\n        urls: item.json.properties['Доп. URL'].rich_text[0].text.content,\n        social_network: social\n      }\n    });\n  }\n}\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,180],"id":"ed415e87-c934-458f-bdd6-afbdf52c70d8","name":"Set social networks"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7d11aa8-5ed1-482c-96d2-e9160e51ee0a","leftValue":"={{ $json.social_network }}","rightValue":"Telegram","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Telegram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e1408c3-6c18-46d7-aa61-d55899c80142","leftValue":"={{ $json.social_network }}","rightValue":"Instagram","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d2fde54-f0bc-4a09-bdd9-8730a5af645f","leftValue":"={{ $json.social_network }}","rightValue":"YouTube","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"YouTube"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.social_network }}","rightValue":"VK","operator":{"type":"string","operation":"equals"},"id":"6962763c-e58e-418c-8479-d6aec715a61e"}],"combinator":"and"},"renameOutput":true,"outputKey":"VK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"39f57590-436c-44dd-a660-d4edaef1ebde","leftValue":"={{ $json.social_network }}","rightValue":"Linkedln","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Linkedln"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"550ba82b-662b-4391-9993-1575d574efdf","leftValue":"={{ $json.social_network }}","rightValue":"X","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"X"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98265788-9732-490d-ba10-b1564c897d9a","leftValue":"={{ $json.social_network }}","rightValue":"Facebook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Facebook"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f63f1a21-96bd-45c8-8502-c727f8b907e2","leftValue":"={{ $json.social_network }}","rightValue":"MAX","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"MAX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-100,80],"id":"f0b146fc-b202-493d-bdc7-e21e24a16b34","name":"Switch social network type"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Set social networks').item.json.origin_notion_page_id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Статус|status","statusValue":"Посты созданы"},{"key":"Дата создания постов|date","date":"={{ $now.setZone('Europe/Moscow').format('yyyy-MM-dd HH:mm:ss') }}","timezone":"Europe/Moscow"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2280,40],"id":"4616285e-c1fc-4368-9049-1cfcd355c7a9","name":"Update YouTube notion origin page status","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"assignments":{"assignments":[{"id":"7bd756f2-9ac5-40ec-9e97-db7ac202f665","name":"promt","value":"=Ты — профессиональный сценарист, специалист по клинической психологии и текстовому маркетингу. Твоя задача — адаптировать идеи, заголовки и тексты статей по психологии под формат постов для Telegram-канала.\n\nСтиль текста поста: {{ $('Get Telegram parameters').item.json.properties['Стиль текста'].rich_text[0].text.content }}.\nТекст должен быть в формате личного обращения автора к читателю. Автор: {{ $('Get Telegram parameters').item.json.properties['Автор поста'].rich_text[0].text.content }}.\nАудитория поста: {{ $('Get Telegram parameters').item.json.properties['Описание аудитории'].rich_text[0].text.content }}.\n\nНиже — исходные данные:\n- тема (сырая идея)\n- набросок кликбейтного заголовка\n- черновой текст\n- список ссылок на материалы.\nЭти данные не оформлены и не подходят для Telegram — они нуждаются в переработке. Не переписывай их дословно, а используй как источник смысла и интонации\n\n⚠️ Эти данные не должны быть переписаны заново — важно сохранить их суть, смысл и интонацию. Твоя задача — именно адаптация под формат поста в Telegram, а не полное переосмысление. Используй исходные данные как основу и направляй под формат Telegram, не меняя саму идею.\n\n🎯 Твоя задача:\n1. Проанализируй смысл идеи, чернового заголовка, текста и ссылок.\n2. Адаптируй всё под формат текстового поста в Telegram (размер поста средний - {{ $('Get Telegram parameters').item.json.properties['Длина поста (в символах)'].number }} символов, включая пробелы), который хорошо читается и вовлекает аудиторию. ❗️❗️❗️Текст обязательно должен быть разделен на абзацы, содержать смайлики или эмодзи.\n3. Создай новую:\n- `topic` — чёткую, эмоциональную, интересную тему поста, связанную с психологией, отношениями и саморазвитием.\n\n- `headline` —  очень цепляющий заголовок: провокация, вопрос, факт, шок, контраст. Он должен побудить читать дальше.\n\n- `article` — пост в стиле Telegram, до {{ $('Get Telegram parameters').item.json.properties['Длина поста (в символах)'].number }} символов.\n    - Используй активный темп, короткие фразы, ритм. ❗️❗️❗️Обязательно: крючок → суть → мораль/вывод. Без ссылок и названий сайтов. Без пустых банальностей.\n    - Начни с двух сенсационных, вирусных крючков, которые моментально захватывают внимание.\n    - Используй эмоции: удивление, тревогу, восторг. Использовать только уместные смайлики или эмодзи (не перегружать, максимум 3–5 на пост, без повторов одних и тех же).\n    - Вывод или рефлексия в конце.\n\n- `related_urls` — от 3 до 5 **реальных** ссылок на материалы по теме. Все ссылки должны:\n    - вести на **существующие страницы** (не придумывай их),\n    - быть написаны **на русском языке**,\n    - относиться к психологии, отношениям, личностному развитию и т.п.\n    - не использоваться в тексте `article` — только в `related_urls`, то есть в сценарии эти ссылки **не упоминаются** никогда - это очень важно❗️❗️❗️.\n\n📌 Исходные данные:\n- idea: {{ $('Set social networks').item.json.idea }}\n- headline: {{ $('Set social networks').item.json.headline }}\n- text: {{ $('Set social networks').item.json.text }}\n- urls: {{ $('Set social networks').item.json.urls }}\n\n❗️❗️❗️Ответ верни **только в виде чистого JSON-объекта следующего формата:\n{\n  \"topic\": \"\",\n  \"headline\": \"\",\n  \"article\": \"\",\n  \"related_urls\": [\"\", \"\", \"\"]\n}\n❗️❗️❗️ОЧЕНЬ ВАЖНО:\n❗️Ответ должен быть строго в формате JSON. Никаких пояснений, комментариев, Markdown-блоков, кавычек в начале и конце, префиксов вида json\\n или ```json (с использованием тройных обратных кавычек) и прочего. Это очень важно.\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,-380],"id":"bf095616-92db-47cc-b572-aa6a3d01db45","name":"Set Telegram generate promt"},{"parameters":{"method":"POST","url":"http://localhost:8001/run_gemini","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $('Set Telegram generate promt').item.json.promt}}"},{"name":"model","value":"gemini-2.5-pro"},{"name":"temperature","value":"={{ $('Get Telegram parameters').item.json.properties['Температура поста'].number }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,-380],"id":"f27182aa-6719-42ca-a699-c340fd1c4037","name":"Gemini Telegram generate"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Получаем ответ из текущего item \nlet answer = $json[\"response\"] || \"\";\n\n// Удаляем Markdown-блоки и лишние кавычки, если есть\nanswer = answer.trim();\nif (answer.startsWith(\"```json\")) answer = answer.slice(7).trim();\nif (answer.startsWith(\"```\")) answer = answer.slice(3).trim();\nif (answer.endsWith(\"```\")) answer = answer.slice(0, -3).trim();\n\n// Формируем результат\n// Парсинг JSON-ответа\nlet data;\ndata = JSON.parse(answer);\ndata.topic = $('Set social networks').item.json.idea\ndata.related_urls = $('Set social networks').item.json.urls\n\n// Жестко ограничиваем длину до 1980 символов\nif (data.article.length > 1980) {\n  data.article = data.article.substring(0, 1980);\n}\n\n// Возвращаем очищенные данные\nreturn { json: data };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,-380],"id":"525f2983-a352-4235-9b78-2946a084e84a","name":"Gemini Telegram generate answer"},{"parameters":{"resource":"image","prompt":"=Ты — креативный арт-директор и визуальный дизайнер с опытом в психологическом контенте. Твоя задача — создать изображение в следующем стиле: {{ $('Get Telegram parameters').item.json.properties['Описание изображения'].rich_text[0].text.content }}.\n\n📌 Исходные данные:\n- topic: краткая тема поста (основной смысл).\n- headline: броский заголовок.\n- article: полный текст поста в Telegram.\n\n🎯 Задача:\n1. Прочитай и проанализируй все поля.\n2. Выдели основную эмоцию и подтекст (например: тревога, одиночество, облегчение, принятие, конфликт).\n3. Создай изображение на основе проанализированной информации.\n\n⚠️ Не нужно изображать сам текст поста. Главное — эмоциональный визуальный образ, вызывающий ассоциации с темой.\n⚠️ Изображение не должно содержать никаких надписей, подписей! Это важно!\n\n📌 Исходные данные:\n- topic: {{ $('Gemini Telegram generate answer').item.json.topic }}\n- headline: {{ $('Gemini Telegram generate answer').item.json.headline }}\n- article: {{ $('Gemini Telegram generate answer').item.json.article }}\n","options":{"dalleQuality":"hd","size":"1024x1024","style":"vivid","returnImageUrls":false,"binaryPropertyOutput":"data"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1180,-380],"id":"3822b301-f001-4b77-8adc-49cf150a4960","name":"OpenAI Telegram image generate","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"24157ae1-e71a-8001-b772-f736e2214ec6","mode":"list","cachedResultName":"Посты","cachedResultUrl":"https://www.notion.so/24157ae1e71a8001b772f736e2214ec6"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"Заголовок|title","title":"={{ $('Gemini Telegram generate answer').item.json.headline }}"},{"key":"Текст|rich_text","textContent":"={{ $('Gemini Telegram generate answer').item.json.article }}"},{"key":"Доп. URL|rich_text","textContent":"={{ $('Gemini Telegram generate answer').item.json.related_urls }}"},{"key":"Соц. сеть|status","statusValue":"={{ $('Set social networks').item.json.social_network }}"},{"key":"Статус|status","statusValue":"=Создан"},{"key":"Изображение|files","fileUrls":{"fileUrl":[{"name":"={{ $('Gemini Telegram generate answer').item.json.headline }}_telegram","url":"={{ $('Get url for download Telegram').item.json.converted }}"}]}},{"key":"Дата создания|date","date":"={{ $now.setZone('Europe/Moscow').format('yyyy-MM-dd HH:mm:ss') }}","timezone":"Europe/Moscow"},{"key":"Идея|relation","relationValue":["={{ $('Set social networks').item.json.origin_notion_page_id }}"]}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1820,-380],"id":"89c7e20f-27ad-4b43-a136-6c2a37b61fc0","name":"Create Telegram notion page","retryOnFail":true,"alwaysOutputData":false,"credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"assignments":{"assignments":[{"id":"7bd756f2-9ac5-40ec-9e97-db7ac202f665","name":"promt","value":"=Ты — профессиональный сценарист, специалист по клинической психологии и текстовому маркетингу. Твоя задача — адаптировать идеи, заголовки и тексты статей по психологии под формат постов для Instagram.\n\nПосты должны быть в следующем стиле: {{ $('Get Instagram parameters').item.json.properties['Стиль текста'].rich_text[0].text.content }}.\nПост должен быть написан в формате личного обращения автора к читателям. Автор: {{ $('Get Instagram parameters').item.json.properties['Автор поста'].rich_text[0].text.content }}.\nАудитория поста: {{ $('Get Instagram parameters').item.json.properties['Описание аудитории'].rich_text[0].text.content }}.\n\nНиже — исходные данные:\n- тема (сырая идея)\n- набросок кликбейтного заголовка\n- черновой текст\n- список ссылок на материалы.\nЭти данные не оформлены и не подходят для Instagram — они нуждаются в переработке. Не переписывай их дословно, а используй как источник смысла и интонации\n\n⚠️ Эти данные **не должны быть переписаны заново** — **важно сохранить их суть, смысл и интонацию**. Твоя задача — именно **адаптация под формат поста в Instagram**, а не полное переосмысление. Используй исходные данные как основу и направляй под формат Instagram, не меняя саму идею.\n\n🎯 Твоя задача:\n1. Проанализируй смысл идеи, чернового заголовка, текста и ссылок.\n2. Адаптируй всё под Instagram-пост (до {{ $('Get Instagram parameters').item.json.properties['Длина поста (в символах)'].number }} символов, включая пробелы), который хорошо читается и вовлекает аудиторию. ❗️❗️❗️Текст обязательно должен быть разделен на абзацы, содержать смайлики или эмодзи.\n3. Создай новую:\n- `topic` — чёткую, эмоциональную, интересную тему поста, связанную с психологией, отношениями и саморазвитием.\n\n- `headline` —  очень цепляющий заголовок: провокация, вопрос, факт, шок, контраст. Он должен побудить читать дальше.\n\n- `article` — пост в стиле Instagram, до {{ $('Get Instagram parameters').item.json.properties['Длина поста (в символах)'].number }} символов.\n    - Используй активный темп, короткие фразы, ритм. ❗️❗️❗️Обязательно: крючок → суть → мораль/вывод. Без ссылок и названий сайтов. Без пустых банальностей.\n    - Начни с двух сенсационных, вирусных крючков, которые моментально захватывают внимание.\n    - Используй эмоции: удивление, тревогу, восторг.\n    - Вывод или рефлексия в конце + призыв к вовлечению (лайк, комментарий, сохранить).\n\n- `related_urls` — от 3 до 5 **реальных** ссылок на материалы по теме. Все ссылки должны:\n    - вести на **существующие страницы** (не придумывай их),\n    - быть написаны **на русском языке**,\n    - относиться к психологии, отношениям, личностному развитию и т.п.\n    - не использоваться в тексте `article` — только в `related_urls`, то есть в сценарии эти ссылки **не упоминаются** никогда - это очень важно❗️❗️❗️.\n\n📌 Исходные данные:\n- idea: {{ $('Set social networks').item.json.idea }}\n- headline: {{ $('Set social networks').item.json.headline }}\n- text: {{ $('Set social networks').item.json.text }}\n- urls: {{ $('Set social networks').item.json.urls }}\n\n❗️❗️❗️Ответ верни **только в виде чистого JSON-объекта следующего формата:\n{\n  \"topic\": \"\",\n  \"headline\": \"\",\n  \"article\": \"\",\n  \"related_urls\": [\"\", \"\", \"\"]\n}\n❗️❗️❗️ОЧЕНЬ ВАЖНО:\n❗️Ответ должен быть строго в формате JSON. Никаких пояснений, комментариев, Markdown-блоков, кавычек в начале и конце, префиксов вида json\\n или ```json (с использованием тройных обратных кавычек) и прочего. Это очень важно.\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,-120],"id":"74ae30a6-e446-47f2-ab33-5327368e06df","name":"Set Instagram generate promt"},{"parameters":{"method":"POST","url":"http://localhost:8001/run_gemini","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $('Set Instagram generate promt').item.json.promt}}"},{"name":"model","value":"gemini-2.5-pro"},{"name":"temperature","value":"={{ $('Get Instagram parameters').item.json.properties['Температура поста'].number }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,-120],"id":"214ed03c-d831-4c9c-ae66-66835aa1201a","name":"Gemini Instagram generate"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Получаем ответ из текущего item \nlet answer = $json[\"response\"] || \"\";\n\n// Удаляем Markdown-блоки и лишние кавычки, если есть\nanswer = answer.trim();\nif (answer.startsWith(\"```json\")) answer = answer.slice(7).trim();\nif (answer.startsWith(\"```\")) answer = answer.slice(3).trim();\nif (answer.endsWith(\"```\")) answer = answer.slice(0, -3).trim();\n\n// Формируем результат\n// Парсинг JSON-ответа\nlet data;\ndata = JSON.parse(answer);\ndata.topic = $('Set social networks').item.json.idea\ndata.related_urls = $('Set social networks').item.json.urls\n\n// Жестко ограничиваем длину до 1980 символов\nif (data.article.length > 1980) {\n  data.article = data.article.substring(0, 1980);\n}\n\n// Возвращаем очищенные данные\nreturn { json: data };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,-120],"id":"76fc34ce-1c14-45e0-84c8-8720427c7fe0","name":"Gemini Instagram generate answer"},{"parameters":{"resource":"image","prompt":"=Ты — креативный арт-директор и визуальный дизайнер с опытом в психологическом контенте. Твоя задача — создать изображение в следующем стиле: {{ $('Get Instagram parameters').item.json.properties['Описание изображения'].rich_text[0].text.content }}.\n\n📌 Исходные данные:\n- topic: краткая тема поста (основной смысл).\n- headline: броский заголовок.\n- article: полный текст поста в Instagram.\n\n🎯 Задача:\n1. Прочитай и проанализируй все поля.\n2. Выдели основную эмоцию и подтекст (например: тревога, одиночество, облегчение, принятие, конфликт).\n3. Создай изображение на основе проанализированной информации.\n\n⚠️ Не нужно изображать сам текст поста. Главное — эмоциональный визуальный образ, вызывающий ассоциации с темой.\n⚠️ Изображение не должно содержать никаких надписей, подписей! Это важно!\n\n\n📌 Исходные данные:\n- topic: {{ $('Gemini Instagram generate answer').item.json.topic }}\n- headline: {{ $('Gemini Instagram generate answer').item.json.headline }}\n- article: {{ $('Gemini Instagram generate answer').item.json.article }}\n","options":{"dalleQuality":"hd","size":"1024x1024","style":"vivid","returnImageUrls":false,"binaryPropertyOutput":"data"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1180,-120],"id":"7255eec4-b963-4042-aa3f-b1ea4d183dbe","name":"OpenAI Instagram image generate","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"24157ae1-e71a-8001-b772-f736e2214ec6","mode":"list","cachedResultName":"Посты","cachedResultUrl":"https://www.notion.so/24157ae1e71a8001b772f736e2214ec6"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"Заголовок|title","title":"={{ $('Gemini Instagram generate answer').item.json.headline }}"},{"key":"Текст|rich_text","textContent":"={{ $('Gemini Instagram generate answer').item.json.article }}"},{"key":"Доп. URL|rich_text","textContent":"={{ $('Gemini Instagram generate answer').item.json.related_urls }}"},{"key":"Соц. сеть|status","statusValue":"={{ $('Set social networks').item.json.social_network }}"},{"key":"Статус|status","statusValue":"=Создан"},{"key":"Изображение|files","fileUrls":{"fileUrl":[{"name":"={{ $('Gemini Instagram generate answer').item.json.headline }}_instagram","url":"={{ $('Get url for download Instagram').item.json.converted }}"}]}},{"key":"Дата создания|date","date":"={{ $now.setZone('Europe/Moscow').format('yyyy-MM-dd HH:mm:ss') }}","timezone":"Europe/Moscow"},{"key":"Идея|relation","relationValue":["={{ $('Set social networks').item.json.origin_notion_page_id }}"]}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1820,-120],"id":"fd25f2a1-f49b-4af4-9b32-47f64961b1ef","name":"Create Instagram notion page","retryOnFail":true,"alwaysOutputData":false,"credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2100,40],"id":"60e1ea55-b874-4a27-bb4b-a326e60f3528","name":"Merge"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-840,380],"id":"92a901bb-33ad-4995-9f9e-50992aa1b114","name":"Execute workflow trigger"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2520,320],"id":"78ad920b-42fe-4e69-bd00-4d9bf140a279","name":"Merge for notification"},{"parameters":{"chatId":"={{ $('Set chat id for notification').item.json.tg_chat_id_for_notification }}","text":"=Посты успешно созданы!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2780,320],"id":"f34987e2-cf67-4f77-8d17-350ca779a128","name":"Finish of creation posts notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","executeOnce":true,"credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"assignments":{"assignments":[{"id":"3c7c6617-0a6f-4f1e-bea6-a1c2d933ce96","name":"tg_chat_id_for_notification","value":"={{ $('Execute workflow trigger').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[820,820],"id":"f9ac5392-490c-4ef1-aacc-4668233e85fb","name":"Set chat id for notification"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"24157ae1-e71a-804b-b04c-eaea2c91b9ff","mode":"list","cachedResultName":"Параметры соц. сетей","cachedResultUrl":"https://www.notion.so/24157ae1e71a804bb04ceaea2c91b9ff"},"limit":1,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Название|title","condition":"equals","titleValue":"Telegram"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[300,-380],"id":"070dc19e-e0aa-462f-b95c-7f673722a2ab","name":"Get Telegram parameters","retryOnFail":true,"alwaysOutputData":false,"credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"24157ae1-e71a-804b-b04c-eaea2c91b9ff","mode":"list","cachedResultName":"Параметры соц. сетей","cachedResultUrl":"https://www.notion.so/24157ae1e71a804bb04ceaea2c91b9ff"},"limit":1,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Название|title","condition":"equals","titleValue":"Instagram"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[300,-120],"id":"af96668b-ed43-48bc-9b8c-d7975186a1cd","name":"Get Instagram parameters","retryOnFail":true,"alwaysOutputData":false,"credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"name":"={{ $('Gemini Telegram generate answer').item.json.headline }}_telegram","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1UZFRjh-AXataPagyXKkq-toICzAY8iOe","mode":"list","cachedResultName":"N8N_images","cachedResultUrl":"https://drive.google.com/drive/folders/1UZFRjh-AXataPagyXKkq-toICzAY8iOe"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1400,-380],"id":"0d201380-95b9-4d88-8311-c09b9769b75a","name":"Upload Telegram image to google drive","credentials":{"googleDriveOAuth2Api":{"id":"0a0TfOy99ZkVHU3X","name":"Google Drive VM test account"}}},{"parameters":{"name":"={{ $('Gemini Instagram generate answer').item.json.headline }}_instagram","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1UZFRjh-AXataPagyXKkq-toICzAY8iOe","mode":"list","cachedResultName":"N8N_images","cachedResultUrl":"https://drive.google.com/drive/folders/1UZFRjh-AXataPagyXKkq-toICzAY8iOe"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1400,-120],"id":"d397778c-8727-460b-96b4-0fb3a6552362","name":"Upload Instagram image to google drive","credentials":{"googleDriveOAuth2Api":{"id":"0a0TfOy99ZkVHU3X","name":"Google Drive VM test account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const url = $('Upload Telegram image to google drive').item.json.webContentLink; // например: https://drive.google.com/open?id=1Jl6WcMRgbrE-U7PBR80eNki4_GaiCY5C\n\nconst match = url.match(/id=([a-zA-Z0-9_-]+)/);\nif (match) {\n  const id = match[1];\n  return {\n    json: {\n      original: url,\n      converted: `https://drive.google.com/file/d/${id}`\n    }\n  };\n} else {\n  return {\n    json: {\n      original: url,\n      converted: null\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1620,-380],"id":"f23f0d23-85a7-43cd-8e69-b56b9557fdb3","name":"Get url for download Telegram"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const url = $('Upload Instagram image to google drive').item.json.webContentLink; // например: https://drive.google.com/open?id=1Jl6WcMRgbrE-U7PBR80eNki4_GaiCY5C\n\nconst match = url.match(/id=([a-zA-Z0-9_-]+)/);\nif (match) {\n  const id = match[1];\n  return {\n    json: {\n      original: url,\n      converted: `https://drive.google.com/file/d/${id}`\n    }\n  };\n} else {\n  return {\n    json: {\n      original: url,\n      converted: null\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1620,-120],"id":"e617ca55-d186-45d9-a2c2-4d1be2bf7880","name":"Get url for download Instagram"}],"connections":{"Schedule trigger":{"main":[[{"node":"Get notion ideas","type":"main","index":0}]]},"Webhook trigger":{"main":[[{"node":"Get notion ideas","type":"main","index":0}]]},"Get notion ideas":{"main":[[{"node":"Set social networks","type":"main","index":0}]]},"Set social networks":{"main":[[{"node":"Switch social network type","type":"main","index":0}]]},"Switch social network type":{"main":[[{"node":"Get Telegram parameters","type":"main","index":0}],[{"node":"Get Instagram parameters","type":"main","index":0}],[],[],[],[],[],[]]},"Set Telegram generate promt":{"main":[[{"node":"Gemini Telegram generate","type":"main","index":0}]]},"Gemini Telegram generate":{"main":[[{"node":"Gemini Telegram generate answer","type":"main","index":0}]]},"Gemini Telegram generate answer":{"main":[[{"node":"OpenAI Telegram image generate","type":"main","index":0}]]},"OpenAI Telegram image generate":{"main":[[{"node":"Upload Telegram image to google drive","type":"main","index":0}]]},"Create Telegram notion page":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Set Instagram generate promt":{"main":[[{"node":"Gemini Instagram generate","type":"main","index":0}]]},"Gemini Instagram generate":{"main":[[{"node":"Gemini Instagram generate answer","type":"main","index":0}]]},"Gemini Instagram generate answer":{"main":[[{"node":"OpenAI Instagram image generate","type":"main","index":0}]]},"OpenAI Instagram image generate":{"main":[[{"node":"Upload Instagram image to google drive","type":"main","index":0}]]},"Create Instagram notion page":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Update YouTube notion origin page status","type":"main","index":0}]]},"Execute workflow trigger":{"main":[[{"node":"Get notion ideas","type":"main","index":0},{"node":"Set chat id for notification","type":"main","index":0}]]},"Update YouTube notion origin page status":{"main":[[{"node":"Merge for notification","type":"main","index":0}]]},"Merge for notification":{"main":[[{"node":"Finish of creation posts notification","type":"main","index":0}]]},"Set chat id for notification":{"main":[[{"node":"Merge for notification","type":"main","index":1}]]},"Get Telegram parameters":{"main":[[{"node":"Set Telegram generate promt","type":"main","index":0}]]},"Get Instagram parameters":{"main":[[{"node":"Set Instagram generate promt","type":"main","index":0}]]},"Upload Telegram image to google drive":{"main":[[{"node":"Get url for download Telegram","type":"main","index":0}]]},"Upload Instagram image to google drive":{"main":[[{"node":"Get url for download Instagram","type":"main","index":0}]]},"Get url for download Telegram":{"main":[[{"node":"Create Telegram notion page","type":"main","index":0}]]},"Get url for download Instagram":{"main":[[{"node":"Create Instagram notion page","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bbadf7d9-2e8c-407a-9953-a1ab5614f543","triggerCount":2,"tags":[{"createdAt":"2025-07-16T11:48:29.862Z","updatedAt":"2025-07-31T17:53:33.251Z","id":"gA8iWB5v23LRV9Nt","name":"vm_cp"}]}