VM_Контент_план_Notion-POtOqhP3BKWXSfx1.json
{"createdAt":"2025-06-24T14:27:02.076Z","updatedAt":"2025-07-01T16:01:30.000Z","id":"POtOqhP3BKWXSfx1","name":"VM_Контент_план_Notion","active":false,"isArchived":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{}]}},"name":"Trigger","type":"n8n-nodes-base.cron","typeVersion":1,"position":[60,240],"id":"adb53ec8-937f-4d69-b82f-f76b12a83f74"},{"parameters":{"functionCode":"// Параметры цикла\nconst start = 1;    // с какого числа\nconst end   = 1;    // до какого (включительно)\nconst step  = 1;    // шаг\n\n\n\n// Генерируем items\nconst output = [];\nfor (let i = start; i <= end; i += step) {\n  output.push({ json: { iteration: i } });\n}\n\nreturn output;\n"},"name":"Generate Iterations","type":"n8n-nodes-base.function","typeVersion":1,"position":[260,240],"id":"aa9a7727-7c7c-4a00-83ee-e86c6a7c5adb"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"Create a short topic for me dedicated to using the niche of psychology in relationships. The response length should not exceed 700 characters."}]},"options":{"maxTokens":500}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[680,320],"id":"96d0a04f-b124-4a78-b198-c68001a71145","name":"OpenAI Generate Topic","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Are you a content creation strategist on Telegram.","role":"system"},{"content":"=Based on the following content topic, pro vide a brief (no more than one sentence) idea for a Telegram. Make it unco mmon and novel.\n\nContent Topic: {{ $json.message.content }}\n\nConstraints: Do not include context or pr etext, only return the Telegram post idea. In Russian","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1040,320],"id":"77ac3989-0299-46d1-a5fa-42bfde7a1886","name":"OpenAI Generate Idea","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Your task is to use the ideas provided by me and turn them into attractive Telegram posts optimized for the field of psychology in the relationship between couples. Your goal is to create high-quality posts that will attract people's attention and promote social media engagement, following the style and approach described below.\n\nContent recommendations:\n\nVolume: Each post should contain from 1400 to 2000 characters.\nLanguage: Make sure that the post is written in Russian.\nTone and style:\nUse a conversational, friendly tone that directly affects the audience.\nUse personal stories, insights, and reflections to create an atmosphere of mutual understanding and authenticity.\nKeep a balance between professional and everyday language.\nStructure:\nUse clear and concise paragraphs, usually 2-5 sentences each.\nEnsure a logical sequence between paragraphs.\nFocus on the content:\nIdentify the most attractive aspect of the idea and express it in a clear, catchy and concise way.\nState the topic you are interested in clearly and unambiguously.\nEngaging elements:\nUse strong, active verbs and make bold statements or predictions.\nProvoke an emotional reaction or ask a question to get readers interested.\nUse emoticons with care to highlight important points and add personality.\nVisual Effects:\nAdd an eye-catching image that matches the theme and attracts people's attention in the news feed.\nA call to action:\nIf necessary, include a clear call to action, such as asking a question that commenters should answer, encouraging reactions, or providing a link to learn more.\nExceptions:\nDo not use hashtags in your post.\nAvoid unnecessary complications and jargon.\nProcess:\n\nCarefully study the proposed idea to identify the most interesting and valuable ideas that are worth focusing on.\nCome up with an attention-grabbing headline.\nBased on the idea, identify 2-4 key points that should be highlighted in the publication.\nPrepare the post by following the above recommendations on content and formatting.\nReview and edit the message so that it is clear, concise, and contains correct grammar/spelling.\nAdd emoticons and a call to action if necessary.\nSend the message to the user to view along with the title.\nRequest example:\n\nGive me a Telegram post with this idea and nothing more. Don't put anything in bold and don't make any headlines, just give me the text of the paragraph. Here's an idea: {{ $json.message.content }}\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1380,320],"id":"c8c06b97-e00c-4609-bd4b-849a976891dd","name":"OpenAI Generate Post Text","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"21b57ae1-e71a-807e-83db-c41804ab686d","mode":"list","cachedResultName":"Контент план ","cachedResultUrl":"https://www.notion.so/21b57ae1e71a807e83dbc41804ab686d"},"propertiesUi":{"propertyValues":[{"key":"Идеи для постов|title","title":"={{ $('OpenAI Generate Idea').item.json.message.content }}"},{"key":"Изображение|files","fileUrls":{"fileUrl":[{"name":"post_image","url":"={{ $('OpenAI Generate Post Image').item.json.url }}"}]}},{"key":"Статус|status","statusValue":"Создан"},{"key":"Текст поста|rich_text","textContent":"={{ $('OpenAI Generate Post Text').item.json.message.content }}"},{"key":"Тема поста|rich_text","textContent":"={{ $('OpenAI Generate Topic').item.json.message.content }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1940,320],"id":"79ad1f72-7ab2-4ee3-88ab-457aa0ff490c","name":"Notion Content Plan","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"resource":"image","prompt":"=Generate a picture for the post below. The picture should not have any inscriptions. Use aesthetic images.\n\nPost:\n{{ $json.message.content }}","options":{"dalleQuality":"hd","size":"1024x1024","style":"vivid","returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1720,320],"id":"809f18da-d1fc-4aa1-be5c-e832567bd398","name":"OpenAI Generate Post Image","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[500,240],"id":"f1babf61-1c8e-469e-9b7b-42dd5df24eaf","name":"Loop Over Items"}],"connections":{"Trigger":{"main":[[{"node":"Generate Iterations","type":"main","index":0}]]},"Generate Iterations":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI Generate Topic":{"main":[[{"node":"OpenAI Generate Idea","type":"main","index":0}]]},"OpenAI Generate Idea":{"main":[[{"node":"OpenAI Generate Post Text","type":"main","index":0}]]},"OpenAI Generate Post Text":{"main":[[{"node":"OpenAI Generate Post Image","type":"main","index":0}]]},"OpenAI Generate Post Image":{"main":[[{"node":"Notion Content Plan","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"OpenAI Generate Topic","type":"main","index":0}]]},"Notion Content Plan":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0d26676f-57ff-4b8e-82bb-311fd6bb4c2b","triggerCount":0,"tags":[]}