VM_Запись_Ассистент_Даты-9Ep06wxtRccnECTr.json
{"createdAt":"2025-07-27T11:36:35.711Z","updatedAt":"2025-07-27T23:32:44.000Z","id":"9Ep06wxtRccnECTr","name":"VM_Запись_Ассистент_Даты","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"responseFormat":"json_object","temperature":0.1}},"id":"4fb8ae54-7500-4ae8-9b61-e2d6d8afefa3","name":"OpenAI chat model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1040,560],"credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"23657ae1-e71a-8091-8925-c2337b9b7232","mode":"list","cachedResultName":"Запись клиентов","cachedResultUrl":"https://www.notion.so/23657ae1e71a80918925c2337b9b7232"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Дата визита|date","condition":"on_or_after","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Date', ``, 'string') }}"},{"key":"Дата визита|date","condition":"before","date":"={{ DateTime.fromISO($fromAI('conditions0_Date', ``, 'string')).setZone('Europe/Moscow').plus(1, 'days') }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[1380,560],"id":"da033822-8a6c-4866-a3df-3d04950a2ea6","name":"Get notion appointments","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"promptType":"define","text":"=Дата: {{ $('Another workflow trigger').item.json.inputDate }}\nID контакта в Notion: {{ $('Another workflow trigger').item.json.clientId }}\nДействие: {{ $('Another workflow trigger').item.json.actionType }}","options":{"systemMessage":"=🎯 Назначение:  \nТы — вспомогательный агент, который получает от основной помощницы (Анастасии) данные, содержащие:\n- либо указание даты (например: «в пятницу», «завтра», «21 июля», «на выходных»),\n- либо вопрос о времени до приёма (например: «через сколько у меня приём?»).\n- либо дату и время записи для отмены (например: «25 июля в 15:00»).\n\nИ далее выполняет какой-то сценарий в зависимости от действия.\n\n⚠️Ты **не общаешься с пользователем**, только возвращаешь JSON с результатом.\n\n🔧 Инструменты:\n- `Get time to date` — используется для проверки прошедшей даты.\n- `Get notion appointments` — получить список всех записей на конкретную дату.\n- `Get client notion appointments` — получить все записи клиента по `clientId` (для расчёта времени до приёма).\n- `Check notion appointment` — проверить существовани е конкретной записи по дате.\n\n📥 Вход:\n- Дата — inputDate - строка от пользователя: «в пятницу», «завтра», «21 июля», «21.07», «на выходных», «сегодня» и т.п.\n- ID контакта в Notion - clientId - может быть пустым.\n- Действие - actionType - строка с описанием дейстивия, которое нужно совершить, например: 'make appointment' или другое.\n\n📍 Шаг 0 — Определение действия\n- Если actionType = \"get time until appointment\" и clientId не пустой — выполняй сценарий A (расчёт времени до приёма).\n- Если actionType = \"make appointment\", тогда выполняй сценарий B (распознавание даты и получение слотов).\n- Если actionType = \"check appointment for cancellation\", тогда выполняй сценарий C (проверка наличия).\n⚠️ Не перепутай действия. Сценарии строго соответствуют полю `actionType`. Не пытайся сам выбирать сценарий — следуй условиям выше.\n\n\n✅ Сценарий A — Расчёт времени до ближайшего приёма клиента\n1. Используй `Get client notion appointments`, передай туда clientId.\n2. Отфильтруй только будущие записи (т.е. больше текущей даты {{ $now.setZone('Europe/Moscow') }}).\n3. Найди ближайшую запись.\n4. Передай найденную дату в `Get time to date` в формате: 2025-07-22T00:00:00.000+03:00.\n5. Верни:\n{\n  \"status\": \"ok\",\n  \"next_appointment\": \"2025-07-28T15:00:00+03:00\",\n  \"time_until\": \"1 день 4 часа 15 минут\"\n}\nЕсли записей нет — верни:\n{\n  \"status\": \"error\",\n  \"message\": \"У вас пока нет активных записей 😌 Вы можете выбрать удобную дату, и я всё организую!\"\n}\n\n\n✅ Сценарий B — Распознавание даты и создание списка слотов:\n📍 Шаг 1 - Распознавание даты\nПоддерживай форматы:\n   - «завтра» — {{ $now.setZone('Europe/Moscow').plus(1, 'days') }}. «послезавтра» - {{ $now.setZone('Europe/Moscow').plus(2, 'days') }}  или «через 3 дня» - {{ $now.setZone('Europe/Moscow').plus(3, 'days') }} считаются по тому же принципу, только прибавляется больше дней.\n   - «в пятницу» — перебирай дни вперёд от текущего дня недели - `{{ $now.setZone('Europe/Moscow').weekdayLong }}` до `пятница`. «на выходных» — интерпретируй как ближайшую `суббота` или `воскресенье`.\n  - «сегодня» — {{ $now.setZone('Europe/Moscow') }}.\nЕсли год не указан — подставь текущий - {{ $now.setZone('Europe/Moscow').year }}.\n\n📍 Шаг 2 - Проверка на прошедшую дату\nИспользуй `Get time to date`, чтобы проверить распознанную `inputDate` (передать нужно в формате: 2025-07-22T00:00:00.000+03:00).\nЕсли результат `-1` — верни ошибку:\n{\n   \"status\": \"error\",\n   \"message\": \"Похоже, это время уже прошло 🙈 Пожалуйста, выберите другой день.\"\n}\n\n📍 Шаг 3 - Получение занятых слотов\nДалее используй `Get notion appointments` для получения всех записей на эту дату. Здесь ты передаёшь начальную дату. Например, для 24.07: 2025-07-24T00:00:00.000+03:00. Конечная дата будет рассчитана автоматически на основе первой, её передавать не нужно.\nПреобразуй время из найденных записей в часы (например, \"2025-07-27T13:00:51.212+03:00\" → \"13:00\"). Если ничего не нашлось - все равно переходи далее к шагу 4.\n\n📍 Шаг 4 - Создание списка свободных слотов\nБазовый список слотов: от `09:00` до `20:00` включительно (по часу) - всего 12 слотов.\nДалее:\n  1. Удали из него все занятые (сравнивай с точностью до часа).\n  2. Если дата сегодняшняя, дополнительно исключи все прошедшие часы, включая текущий (ориентируйся на текущую дату и время по МСК: {{ $now.setZone('Europe/Moscow') }}).\nНапример, если сейчас 15:20, то слоты `09:00`, `10:00`, ..., `15:00` — уже прошли и не могут быть предложены. Первый возможный слот — с начала следующего полного часа (`16:00`).\n  3. Если после фильтрации свободных слотов нет — верни:\n  {\n    \"status\": \"error\",\n    \"message\": \"К сожалению, на этот день больше нет доступных слотов 😔 Пожалуйста, выберите другой.\"\n  }\n  4. Иначе — верни список доступных слотов, например:\n  {\n    \"status\": \"ok\",\n    \"parsed_date\": \"2025-07-25T00:00:00+03:00\",\n    \"available_slots\": [\"10:00\", \"11:00\", \"13:00\", \"14:00\", \"15:00\"]\n  }\n\n✅ Сценарий C — Проверка наличия записи для отмены\n📍 Шаг 1 — Распознать дату и время из inputDate\n(«25 июля в 15:00», «21.07 в 10», и т.п.)\nЕсли не удаётся:\n{\n  \"status\": \"error\",\n  \"message\": \"Не удалось распознать дату и время 🙈 Пожалуйста, уточните ввод.\"\n}\n📍 Шаг 2 — Поиск записи\nПередай дату для поиска в `Check notion appointment` в формате 2025-07-28T15:00:00+03:00.\n📍 Шаг 3 — Анализ результатов поиска\nЕсли найдено:\n{\n  \"status\": \"ok\",\n  \"appointment_id\": \"fda349dd-e123-4523-bbbb-abc123\",\n  \"appointment_datetime\": \"2025-07-25T15:00:00+03:00\"\n}\nЕсли нет:\n{\n  \"status\": \"error\",\n  \"message\": \"Не удалось найти запись на указанную дату и время 🙈 Пожалуйста, проверьте ввод.\"\n}\n\n❗️❗️❗️ОЧЕНЬ ВАЖНО:\n❗️Ответ должен быть строго в формате JSON. Никаких пояснений, комментариев, Markdown-блоков, кавычек в начале и конце, префиксов вида json\\n и прочего."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1320,220],"id":"2eca52d3-6838-405b-9f22-0e1b4954f5b8","name":"Time slots agent","retryOnFail":false,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"inputDate\": \"a string\",\n  \"sessionId\": \"a string\",\n  \"clientId\": \"a string\",\n  \"actionType\": \"make an appointment\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[880,220],"id":"0496437a-b1cb-45aa-b61c-999a723e99cc","name":"Another workflow trigger"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"=😓 Похоже возникла ошибка при обработке даты, пожалуйста, попробуйте ещё раз!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1860,240],"id":"a4907662-ec2b-4f94-99df-d6a2101e3aea","name":"Send error message"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $('Time slots agent').item.json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1860,60],"id":"24d605b4-5858-481b-a9ba-904252e7039a","name":"Send message"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"23657ae1-e71a-8091-8925-c2337b9b7232","mode":"list","cachedResultName":"Запись клиентов","cachedResultUrl":"https://www.notion.so/23657ae1e71a80918925c2337b9b7232"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Статус визита|status","condition":"equals","statusValue":"Запланировано"},{"key":"Клиент|relation","condition":"contains","relationValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Relation_ID', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[1720,560],"id":"403b063b-d42d-4193-bd86-07725ce56a7e","name":"Get client notion appointments","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"23657ae1-e71a-8091-8925-c2337b9b7232","mode":"list","cachedResultName":"Запись клиентов","cachedResultUrl":"https://www.notion.so/23657ae1e71a80918925c2337b9b7232"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Дата визита|date","condition":"equals","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Date', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[1540,560],"id":"bf65627c-0898-478d-b637-c923ce6ca17c","name":"Gheck notion appointment","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"assignments":{"assignments":[{"id":"aaaaa079-bc27-4e6a-be5c-c0eb1935cc06","name":"sessionId","value":"=time_slots_{{ $('Another workflow trigger').item.json.sessionId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,220],"id":"5cb947a1-fcd6-45a0-88b0-9e223a6ac967","name":"Set session id"},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[1060,800],"id":"7bf55ef1-4cb4-4936-9198-46bd68834e59","name":"Chat memory cleaner"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=time_slots_1908115440","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[980,980],"id":"0c1e1c58-ec03-4634-920b-e1fbc3580e5c","name":"Assistant memory (clear)"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[840,800],"id":"f9a96fc1-7ef6-4a52-8954-64a0a73fd915","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"// Получаем текущую дату и время в МСК\nconst now = DateTime.now().setZone('Europe/Moscow');\n\n// Получаем дату визита из входных данных\nconst visit = DateTime.fromISO(query).setZone('Europe/Moscow');\n\n// Вычисляем разницу (если дата в будущем)\nif (visit < now) {\n  return \"-1\";\n}\n\n// Разница в миллисекундах\nconst diff = visit.diff(now, ['days', 'hours', 'minutes']).toObject();\n\n// Округляем значения\nconst days = Math.floor(diff.days || 0);\nconst hours = Math.floor(diff.hours || 0);\nconst minutes = Math.floor(diff.minutes || 0);\n\n// Формируем строку результата\nlet resultParts = [];\nif (days > 0) resultParts.push(`${days} ${days === 1 ? 'день' : (days < 5 ? 'дня' : 'дней')}`);\nif (hours > 0) resultParts.push(`${hours} ${hours === 1 ? 'час' : (hours < 5 ? 'часа' : 'часов')}`);\nif (minutes > 0) resultParts.push(`${minutes} ${minutes === 1 ? 'минута' : (minutes < 5 ? 'минуты' : 'минут')}`);\n\nconst resultString = resultParts.join(', ');\n\n// Возвращаем результат\nreturn resultString"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.2,"position":[1880,560],"id":"2021b2a8-2b1b-4e40-9c39-2a849324b3c7","name":"Get time to date","executeOnce":false},{"parameters":{"contextWindowLength":100},"id":"60158d6a-9287-4172-b104-4000d5b09d83","name":"Assistant memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1220,560]}],"connections":{"OpenAI chat model":{"ai_languageModel":[[{"node":"Time slots agent","type":"ai_languageModel","index":0}]]},"Get notion appointments":{"ai_tool":[[{"node":"Time slots agent","type":"ai_tool","index":0}]]},"Time slots agent":{"main":[[{"node":"Send message","type":"main","index":0}],[{"node":"Send error message","type":"main","index":0}]]},"Another workflow trigger":{"main":[[{"node":"Set session id","type":"main","index":0}]]},"Get client notion appointments":{"ai_tool":[[{"node":"Time slots agent","type":"ai_tool","index":0}]]},"Gheck notion appointment":{"ai_tool":[[{"node":"Time slots agent","type":"ai_tool","index":0}]]},"Set session id":{"main":[[{"node":"Time slots agent","type":"main","index":0}]]},"Assistant memory (clear)":{"ai_memory":[[{"node":"Chat memory cleaner","type":"ai_memory","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Chat memory cleaner","type":"main","index":0}]]},"Get time to date":{"ai_tool":[[{"node":"Time slots agent","type":"ai_tool","index":0}]]},"Assistant memory":{"ai_memory":[[{"node":"Time slots agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ae6015af-fb2a-4b7e-9e47-87624e817dae","triggerCount":0,"tags":[{"createdAt":"2025-07-21T12:00:12.966Z","updatedAt":"2025-07-21T12:00:12.966Z","id":"SE2p7A4ZzY3fduaR","name":"vmb"}]}