VM_Контент_план_Постинг-72Bqg1PkNy0piVAy.json
{"createdAt":"2025-07-15T09:35:37.520Z","updatedAt":"2025-07-21T18:05:01.000Z","id":"72Bqg1PkNy0piVAy","name":"VM_Контент_план_Постинг","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1300,260],"id":"53070168-94dc-4cbe-bffe-4a8f0dbe78d4","name":"Schedule trigger"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7d11aa8-5ed1-482c-96d2-e9160e51ee0a","leftValue":"={{ $('Get notion posts').item.json.properties[\"Социальная сеть для поста\"].status.name }}","rightValue":"Telegram","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Telegram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e1408c3-6c18-46d7-aa61-d55899c80142","leftValue":"={{ $('Get notion posts').item.json.properties[\"Социальная сеть для поста\"].status.name }}","rightValue":"Instagram","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d2fde54-f0bc-4a09-bdd9-8730a5af645f","leftValue":"={{ $('Get notion posts').item.json.properties[\"Социальная сеть для поста\"].status.name }}","rightValue":"YouTube","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"YouTube"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Get notion posts').item.json.properties[\"Социальная сеть для поста\"].status.name }}","rightValue":"VK","operator":{"type":"string","operation":"equals"},"id":"6962763c-e58e-418c-8479-d6aec715a61e"}],"combinator":"and"},"renameOutput":true,"outputKey":"VK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"39f57590-436c-44dd-a660-d4edaef1ebde","leftValue":"={{ $('Get notion posts').item.json.properties[\"Социальная сеть для поста\"].status.name }}","rightValue":"Linkedln","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Linkedln"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"550ba82b-662b-4391-9993-1575d574efdf","leftValue":"={{ $('Get notion posts').item.json.properties[\"Социальная сеть для поста\"].status.name }}","rightValue":"X","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"X"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98265788-9732-490d-ba10-b1564c897d9a","leftValue":"={{ $('Get notion posts').item.json.properties[\"Социальная сеть для поста\"].status.name }}","rightValue":"Facebook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Facebook"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f63f1a21-96bd-45c8-8502-c727f8b907e2","leftValue":"={{ $('Get notion posts').item.json.properties[\"Социальная сеть для поста\"].status.name }}","rightValue":"MAX","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"MAX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-800,340],"id":"ec7f39c5-a3ba-4713-a015-44a7e1d9088c","name":"Switch social network type"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"22457ae1-e71a-81a4-bf5b-c48571c73d7b","mode":"list","cachedResultName":"Контент ","cachedResultUrl":"https://www.notion.so/22457ae1e71a81a4bf5bc48571c73d7b"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Статус поста|status","condition":"equals","statusValue":"Готово к публикации"},{"key":"Тип контента|status","condition":"equals","statusValue":"Пост"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1060,440],"id":"ced090a1-fc20-4caf-9ef2-26fa2e6b49c0","name":"Get notion posts","retryOnFail":true,"alwaysOutputData":true,"credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"operation":"sendMediaGroup","chatId":"={{ $('Set chat id for posting').item.json.tg_chat_id_for_posting }}","media":{"media":[{"media":"={{ $('Get notion posts').item.json.properties[\"Изображение для поста\"].files[0].external.url }}","additionalFields":{"caption":"={{ $('Get notion posts').item.json.properties[\"Заголовок поста\"].rich_text[0].text.content }}\n\n{{ $('Get notion posts').item.json.properties[\"Текст поста\"].rich_text[0].text.content }}"}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-20,80],"id":"a93cda75-f7be-4c07-b9bd-8d1f4bb4c907","name":"Send Telegram post","webhookId":"d7ec3490-aece-490a-bf2e-68a05c9d8581","credentials":{"telegramApi":{"id":"QvLj73P2usDhUSBY","name":"VM_Постинг_ТГ_Ассистент"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Get notion posts').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Статус поста|status","statusValue":"Опубликовано"},{"key":"Дата публикации поста|date","date":"={{ new Date().toISOString().replace('T', ' ').slice(0, 19) }}","timezone":"Europe/Moscow"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[780,360],"id":"30168015-ceaa-4b88-8240-8371493621f0","name":"Update YouTube notion origin page status","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[540,360],"id":"325e0664-602c-47a7-9879-9920cbac4675","name":"Merge"},{"parameters":{"method":"POST","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,320],"id":"c615b8b1-48f7-441a-86f9-875c65dc77f9","name":"Send Instagram post","disabled":true},{"parameters":{"path":"a60f7d3a-aae3-48f9-8b72-f68a263725f6","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1300,440],"id":"758bcf4d-376f-4533-8fd3-528c576ed0f2","name":"Webhook trigger","webhookId":"a60f7d3a-aae3-48f9-8b72-f68a263725f6"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1300,620],"id":"f029d366-9704-48ab-8786-c7c6606b3d85","name":"Execute workflow trigger"},{"parameters":{"assignments":{"assignments":[{"id":"3c7c6617-0a6f-4f1e-bea6-a1c2d933ce96","name":"tg_chat_id_for_posting","value":"-1002826776089","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-300,80],"id":"eebd91ba-e965-4d52-82d6-47212c9b8ac7","name":"Set chat id for posting"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1100,580],"id":"79f85010-eec0-4273-8768-0a3b05edee34","name":"Merge for notification"},{"parameters":{"assignments":{"assignments":[{"id":"3c7c6617-0a6f-4f1e-bea6-a1c2d933ce96","name":"tg_chat_id_for_notification","value":"={{ $('Execute workflow trigger').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,1000],"id":"e750b45a-c055-4986-8861-a3db31b1a9b7","name":"Set chat id for notification"},{"parameters":{"chatId":"={{ $('Set chat id for notification').item.json.tg_chat_id_for_notification }}","text":"=Посты успешно опубликованы в социальных сетях!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1340,580],"id":"eb528e9a-49df-42f7-952f-087768e69305","name":"Finish of publication notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","executeOnce":true,"credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}}],"connections":{"Schedule trigger":{"main":[[{"node":"Get notion posts","type":"main","index":0}]]},"Switch social network type":{"main":[[{"node":"Set chat id for posting","type":"main","index":0}],[]]},"Get notion posts":{"main":[[{"node":"Switch social network type","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Update YouTube notion origin page status","type":"main","index":0}]]},"Send Telegram post":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Webhook trigger":{"main":[[{"node":"Get notion posts","type":"main","index":0}]]},"Execute workflow trigger":{"main":[[{"node":"Get notion posts","type":"main","index":0},{"node":"Set chat id for notification","type":"main","index":0}]]},"Set chat id for posting":{"main":[[{"node":"Send Telegram post","type":"main","index":0}]]},"Update YouTube notion origin page status":{"main":[[{"node":"Merge for notification","type":"main","index":0}]]},"Set chat id for notification":{"main":[[{"node":"Merge for notification","type":"main","index":1}]]},"Merge for notification":{"main":[[{"node":"Finish of publication notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"868776e4-63bd-4a2f-9698-6095f54c79b4","triggerCount":2,"tags":[{"createdAt":"2025-07-16T11:48:29.862Z","updatedAt":"2025-07-16T11:48:29.862Z","id":"gA8iWB5v23LRV9Nt","name":"vmkp"}]}