VM_Админ_маршрутизатор-l8W2dtjYSMXYkftm.json
{"createdAt":"2025-07-16T12:09:45.522Z","updatedAt":"2025-08-04T11:41:31.000Z","id":"l8W2dtjYSMXYkftm","name":"VM_Админ_маршрутизатор","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-220,220],"id":"bd571f91-bcc2-4f1b-bbfd-a28505048dc4","name":"Telegram trigger","webhookId":"75ad8315-4f0f-4828-bbce-de150e4ade6c","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f03d036-c0fb-4d58-b3e8-855a5a3fc974","leftValue":"={{ $('Telegram trigger').item.json.message.text }}","rightValue":"/create_posts","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Create posts from approved ideas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"22cc60ed-df51-4702-b4cc-fbc2857c7bb3","leftValue":"={{ $('Telegram trigger').item.json.message.text }}","rightValue":"/publish_posts","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Publish of ready-made posts"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6bb42cfc-c843-4d3e-bb93-7eb4ef9421e1","leftValue":"={{ $('Telegram trigger').item.json.message.text }}","rightValue":"/get_commands_info","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Get commands info"}]},"options":{"fallbackOutput":"extra"}},"id":"54697787-879a-405f-a2fc-ccd9520e6720","name":"Switch commands","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[20,200],"alwaysOutputData":false},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Список доступных команд:\n\nДля создания идеи просто отправьте в чат текст или контент!\n\n/create_posts - Создать посты из одобренных идей\n/publish_posts - Опубликовать одобренные посты в социальные сети\n\n/get_commands_info - Получить список команд бота","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[360,340],"id":"ca3e4078-1d02-48ea-b76b-b42517d28ff4","name":"Send commands info","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Принято!\nЗапущен процесс создания постов из одобренных идей!\nПосты будут доступны в Notion через пару минут!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,-100],"id":"08e9e315-8b1e-47d2-9123-d0fa8b429b9d","name":"Create posts notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"workflowId":{"__rl":true,"value":"AFkuadLQLY0ALORx","mode":"list","cachedResultName":"VM_Контент_план_СЦ"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[360,-100],"id":"bcfdf3e5-7e47-4cda-bb89-315c8807a6b1","name":"Create posts workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"72Bqg1PkNy0piVAy","mode":"list","cachedResultName":"VM_Контент_план_Постинг"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[360,120],"id":"9f0fb765-3db5-4b9b-93ca-523c34d7f45d","name":"Publish posts workflow"},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Принято!\nЗапущен процесс публикации одобренных постов в социальные сети!\nПосты будут опубликованы через несколько минут!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,120],"id":"4999dfe7-da49-4938-9bcc-a5f3dceae2e3","name":"Publish posts notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Принято!\nПерехожу к созданию идеи!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[360,580],"id":"7c071941-e155-4424-a817-f104601bf675","name":"Create idea notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"=Процесс создания идеи успешно запущен!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1080,580],"id":"7560ac08-0993-48b0-83ab-b4f292df60d3","name":"Finish of creation idea notification1","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  json: $('Telegram trigger').item.json\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[600,580],"id":"7205cd21-e493-412c-bbbc-54f0e9016b96","name":"Set create idea input data"},{"parameters":{"workflowId":{"__rl":true,"value":"R3qUTCPqhxh8EybX","mode":"list","cachedResultName":"VM_Контент_план_TG"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[840,580],"id":"e07cfe92-7abe-4ea0-8458-f8b9df5d9b2e","name":"Create idea workflow"}],"connections":{"Telegram trigger":{"main":[[{"node":"Switch commands","type":"main","index":0}]]},"Switch commands":{"main":[[{"node":"Create posts workflow","type":"main","index":0}],[{"node":"Publish posts workflow","type":"main","index":0}],[{"node":"Send commands info","type":"main","index":0}],[{"node":"Create idea notification","type":"main","index":0}]]},"Create posts workflow":{"main":[[{"node":"Create posts notification","type":"main","index":0}]]},"Publish posts workflow":{"main":[[{"node":"Publish posts notification","type":"main","index":0}]]},"Finish of creation idea notification1":{"main":[[]]},"Set create idea input data":{"main":[[{"node":"Create idea workflow","type":"main","index":0}]]},"Create idea notification":{"main":[[{"node":"Set create idea input data","type":"main","index":0}]]},"Create idea workflow":{"main":[[{"node":"Finish of creation idea notification1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"376c93a5-ca4b-48cc-b4d4-a0abda8e676e","triggerCount":1,"tags":[{"createdAt":"2025-07-28T11:38:28.659Z","updatedAt":"2025-07-28T11:38:28.659Z","id":"gG3sCNz62SioxsDF","name":"vm_router"}]}