VM_Контент_план_TG-R3qUTCPqhxh8EybX.json
{"createdAt":"2025-07-02T10:31:16.962Z","updatedAt":"2025-08-04T15:14:51.000Z","id":"R3qUTCPqhxh8EybX","name":"VM_Контент_план_TG","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d5c7366-3dc9-44c5-8819-84debbf03345","leftValue":"={{ $json.message.audio.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"9b24beeb-491e-4995-992c-1d4139313e9c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8581103-04e9-47b5-8ad3-1c1cd6fd0f9f","leftValue":"={{ $json.message.video.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"373fcae4-c71d-4d91-949b-08e1ee7202d6","leftValue":"={{ $json.message.photo?.last().file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Photo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5983e977-eb55-4af1-9fd2-3e5894b22c75","leftValue":"={{ $json.message.document.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"File"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"bcc29686-8c2c-484c-bbab-5be7bc195232","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2400,-460]},{"parameters":{"resource":"file","fileId":"={{ $json.message.video.file_id }}"},"id":"b5a9dfcc-ae5f-4337-b620-da754e9babd7","name":"Download video","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1460,-700],"webhookId":"d62534f5-2dbe-49a4-ad6b-1544f5918d9c","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"2927044a-429f-4bc8-a664-f9255f1d8d06","name":"Transcribe video","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-1240,-700],"credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('Execute workflow trigger').item.json.message.caption }}\n\n{{ $('Transcribe video').item.json.text }}","type":"string"}]},"options":{}},"id":"2562a8b0-4fbb-4ff1-b72c-d0165b4c89aa","name":"Set video text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1020,-700]},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo.last().file_id }}"},"id":"331f2fc5-624b-40e0-9085-40d01bfe4d73","name":"Download photo","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1780,-380],"webhookId":"d62534f5-2dbe-49a4-ad6b-1544f5918d9c","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}"},"id":"04aff8bc-05fb-435d-ac6f-42d93573b36f","name":"Download document","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2060,-160],"webhookId":"d62534f5-2dbe-49a4-ad6b-1544f5918d9c","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"=Ты — эксперт, который видит изображение и описывает его смысл очень кратко и специалист по клинической психологии, особенно в области взаимоотношений между партнёрами.\n\nПосмотри на это изображение и дай короткую, лаконичную тему, которая максимально точно отражает то, что на фото изображено.\n\nОтветь одним коротким предложением или фразой, без лишних подробностей и рассуждений.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1080,-380],"id":"05c153f4-2031-4575-a6aa-89ed22b09062","name":"Transcribe photo","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('Execute workflow trigger').item.json.message.caption }}\n\n{{ $('Transcribe photo').item.json.content }}","type":"string"}]},"options":{}},"id":"e27f46e5-5686-47ec-969e-078d467b58dc","name":"Set photo text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-700,-380]},{"parameters":{"jsCode":"const item = $input.all()[0];\n\nif (item.binary && item.binary.data) {\n  item.binary.data.mimeType = 'image/jpeg';\n}\n\nreturn [item];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1460,-380],"id":"47a471aa-2516-43d0-9b0f-eab5fd94fdb4","name":"Convert to image type"},{"parameters":{"resource":"file","options":{"purpose":"assistants"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1600,-160],"id":"6cc074f6-fb65-4552-b2b9-66c2e53b01c9","name":"Upload document","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"resource":"assistant","operation":"create","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"name":"content_assistant","instructions":"=Ты — эксперт, который читает документ и описывает его смысл очень кратко и специалист по клинической психологии, особенно в области взаимоотношений между партнёрами.\n\nПросмотри содержимое документа и дай короткую, лаконичную тему, которая максимально точно отражает его суть.\n\nОтветь одним коротким предложением или фразой, без лишних подробностей и рассуждений.","codeInterpreter":true,"knowledgeRetrieval":true,"file_ids":"={{ $('Upload document')?.item?.json?.id || \"default.pdf\"}}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1200,-160],"id":"ed3ae2fc-b530-4c52-806b-c00d4e13691f","name":"Create assistant","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"resource":"assistant","operation":"deleteAssistant","assistantId":{"__rl":true,"value":"={{ $('Create assistant').item.json.id }}","mode":"id"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-700,-160],"id":"2f7a94cd-ceac-460f-81a3-874b044c86ec","name":"Delete assistant","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"resource":"file","operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Upload document').item.json.id }}","mode":"id"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-520,-160],"id":"2f5f6fcd-66e4-433d-b178-b9f70ff10dc9","name":"Delete document","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('Execute workflow trigger').item.json.message.caption }}\n\n{{ $('Transcribe document').item.json.output }}","type":"string"}]},"options":{}},"id":"dddc41d6-23dd-43ec-a2cd-827c48649cca","name":"Set document text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-340,-160]},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[20,-460],"id":"46b38b8a-8f3c-4083-8726-0a3797e83cb1","name":"Merge"},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"={{ $('Create assistant').item.json.id }}","mode":"id"},"prompt":"define","text":"=Ты — аналитический агент. У тебя есть доступ к базе знаний (Simple Vector Store).\nНайди переданный тебе документ, извлеки из него текст и кратко сформулируй основную тему/смысл файла.\nЕсли текста мало, всё равно попытайся вывести тему.\n\nНе ищи слово «тема» — используй смысл текста.\n\nЕсли текст распознать нельзя (сканы, таблицы) — хотя бы сделай предположение с пометкой «Возможно, это...»","memory":"threadId","options":{"preserveOriginalTools":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1020,-160],"id":"4c7a7a1e-676f-4af2-9afc-67d8aab23fc7","name":"Transcribe document","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"id":"4d4b2f16-dc65-434f-93a3-5a5132a71120","name":"Download voice","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1460,-920],"webhookId":"d62534f5-2dbe-49a4-ad6b-1544f5918d9c","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"f79ee97a-d195-4348-a981-6eab35baa49b","name":"Transcribe voice","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-1240,-920],"credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.audio.file_id }}"},"id":"a788e4a3-c8d4-4a21-87b8-a4ca4d5aa579","name":"Download audio","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1460,-1140],"webhookId":"d62534f5-2dbe-49a4-ad6b-1544f5918d9c","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"c224520c-95a6-401b-b962-e8c3b2451bcb","name":"Transcribe audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-1240,-1140],"credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('Execute workflow trigger').item.json.message.caption }}\n\n{{ $('Transcribe audio').item.json.text }}","type":"string"}]},"options":{}},"id":"ae515f55-8678-47a9-8ebd-6b80a62901ee","name":"Set audio text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,-1140]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini-search-preview","mode":"list","cachedResultName":"GPT-4O-MINI-SEARCH-PREVIEW"},"messages":{"values":[{"content":"=Сырая идея:\n{{ $('Merge').item.json.text }}"},{"content":"=Ты — профессиональный копирайтер и специалист по клинической психологии, особенно в области отношений между партнёрами.\n\nЯ отправляю тебе сырую идею — это может быть неструктурированный текст, набросок, фраза или описание ситуации, ссылка на какой-то источник в интернете.\n\nТвоя задача:\n1. Проанализируй суть.\n2. Сформулируй чёткую, актуальную и максимально цепляющую тему поста на русском языке.\n3. Придумай очень цепляющий, провокационный, интригующий и эмоциональный кликбейт-заголовок в стиле желтой прессы — с максимальным вниманием к эмоциям, интриге, сенсационности. Заголовок должен вызывать шок, возмущение, интерес, или обещание раскрытия \"секрета\". Не бойся быть смелым.\n4. Напиши большую и развёрнутую статью объёмом от 1000 до 1100 символов, раскрывающую суть темы:\n   - ❗️Важно: статья должна быть научно обоснованной, с точными терминами и фактами.\n   - ❗️Важно: но при этом статья должна быть живой, эмоциональной, читаемой, как материал для широкой аудитории.\n   - ❗️Важно: Используй абзацы, подзаголовки, немного смайликов (выделяй ими подзаголовки), ритм, избегай канцелярита и академической скуки.\n   - ❗️Важно: не вставляй никакие ссылки в текст статьи. В тексте статьи не должно быть упоминаний URL, названий сайтов или ссылок на любые ресурсы в интернете. Если хочешь сослаться на источник — просто упомяни, что \"учёные утверждают\", \"по данным исследований\" и т.п. без конкретизации. \n   - ❗️Важно: объем текста обязательно не больше 1100 символов - иначе система не сможет его обработать.\n5. Найди и укажи от 3 до 5 реальных ссылок на статьи или материалы в интернете, которые соответствуют теме статьи:\n   - ❗️❗️❗️ОЧЕНЬ ВАЖНО: ссылки помести в поле related_urls, в тексте статьи не используй их вообще.\n   - ❗️Важно: ссылки обязательно должны вести на реальные материалы, текст которых написан на русском языке.\n   - ❗️Важно: ссылки обязательно должны быть на реальные материалы, не должно быть ссылок на несуществующие страницы - проверяй их перед использованием.\n   - ❗️Важно: ссылки могут быть на публикации в научных журналах, на популярные порталы психологии, Wikipedia, СМИ или блоги — но только реальные рабочие URL.\n\n❗️❗️❗️ОЧЕНЬ ВАЖНО:\n❗️Ответ должен быть строго в формате JSON. Никаких пояснений, комментариев, Markdown-блоков, кавычек в начале и конце, префиксов вида json\\n и прочего.\n\n❗️Ответ — это только чистый JSON-объект. Например:\n{\n  \"topic\": \"Почему мы влюбляемся в недоступных партнёров?\",\n  \"headline\": \"Недоступный? Значит, влюбишься: что психология говорит о наших привязанностях\",\n  \"article\": \"Многие из нас испытывают притяжение к тем, кто эмоционально или физически недоступен. Это может быть связано с детскими сценариями, травмами привязанности или просто потребностью в подтверждении собственной значимости. В статье мы разберём, почему такие отношения кажутся такими притягательными и как перестать наступать на те же грабли.\",\n  \"related_urls\": [\n    \"https://eksmo.ru/articles/kak-raspoznat-abyuz-v-otnosheniyakh-11-22-ID15615966/\",\n    \"https://urgaps.ru/blog/abyuz-formy-priznaki-i-posledstviya\",\n    \"https://ru.wikipedia.org/wiki/Созависимость\"\n  ]\n}","role":"system"}]},"options":{"maxTokens":400}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[200,-400],"id":"8387900d-2db7-4860-9483-53bec04f431a","name":"OpenAI generate topic","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Получаем текст\nlet inputText = $json.message?.content;\n\n// Удаляем Markdown-блоки и лишние кавычки, если есть\ninputText = inputText.trim();\nif (inputText.startsWith(\"```json\")) inputText = inputText.slice(7).trim();\nif (inputText.startsWith(\"```\")) inputText = inputText.slice(3).trim();\nif (inputText.endsWith(\"```\")) inputText = inputText.slice(0, -3).trim();\n\n// Парсинг JSON-ответа от OpenAI\nlet data;\ndata = JSON.parse(inputText);\n\n// Очищаем статью\nlet cleanedArticle = data.article;\n\n// Удаляем Markdown-ссылки: [текст](url)\ncleanedArticle = cleanedArticle.replace(/\\[([^\\]]+)\\]\\((https?:\\/\\/[^\\)]+)\\)/g, '$1');\n\n// Удаляем одиночные URL\ncleanedArticle = cleanedArticle.replace(/https?:\\/\\/[^\\s)]+/g, '');\n\n// Удаляем \"хвосты\" типа (ru.wikipedia.org), (cameralabs.org) и т.п.\ncleanedArticle = cleanedArticle.replace(/\\([a-zA-Z0-9\\-.]+\\.[a-z]{2,}(\\/[^\\)]*)?\\)/g, '');\n\n// Удаляем лишние пробелы и пустые скобки\ncleanedArticle = cleanedArticle.replace(/\\(\\s*\\)/g, '').trim();\n\n// Заменяем в объекте\ndata.article = cleanedArticle;\n\n// Возвращаем очищенные данные\nreturn { json: data };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,-400],"id":"f18c2b37-84cb-4381-a249-bf3cbccf2560","name":"Parse OpenAI response"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $json.message.text || '';\nconst regex = /(https?:\\/\\/(?:www\\.)?(?:youtube\\.com|youtu\\.be)[^\\s]*)/gi;\n\nconst matches = [...input.matchAll(regex)];\n\nif (matches.length === 0) {\n  return {\n    json: {\n      text: input.trim(),\n      url: null,\n      type: 'unknown'\n    }\n  };\n}\n\nconst firstMatch = matches[0][0];\nlet type = '';\n\nif (/youtube\\.com|youtu\\.be/.test(firstMatch)) {\n  type = 'youtube';\n}\nelse {\n  type = 'unknown';\n}\n\nconst cleanedText = input.replace(firstMatch, '').trim();\n\nreturn {\n  json: {\n    text: cleanedText,\n    url: firstMatch,\n    type: type\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2220,600],"id":"b2c0f265-0466-4f30-8291-961403a750f4","name":"Check video links"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"de8a1c58-28ef-4ac0-8252-ac3b448088f9","leftValue":"={{ $('Check video links').item.json.type }}","rightValue":"unknown","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Simple text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Check video links').item.json.type }}","rightValue":"unknown","operator":{"type":"string","operation":"notEquals"},"id":"046f1411-cddb-453f-94b3-ca0ee7cafc92"}],"combinator":"and"},"renameOutput":true,"outputKey":"Internet video"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1800,440],"id":"ca6fd189-9788-402f-aa2c-82a4373bd24e","name":"Switch for links"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('Check video links').item.json.text }}\n\n{{ $('Transcribe video from google drive').item.json.text }}","type":"string"}]},"options":{}},"id":"2d887945-ddaf-4e7b-aac6-59af878c0fcc","name":"Set internet video text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-700,560]},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2820,-400],"id":"2648d251-5ec0-4cb7-97d3-c2211b6edd31","name":"Execute workflow trigger"},{"parameters":{"chatId":"={{ $('Set chat id for notification').item.json.tg_chat_id_for_notification }}","text":"=Идея успешно создана!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2120,-400],"id":"8be8fa05-5968-403f-86f8-2e262e282081","name":"Finish of creation idea notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-500,460],"id":"ee0ec975-b270-4f75-9fb8-4e9ffe9a3a59","name":"Merge text data"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('Execute workflow trigger').item.json.message.caption }}\n\n{{ $('Transcribe voice').item.json.text }}","type":"string"}]},"options":{}},"id":"22020057-9031-4c69-9c90-004080b2a020","name":"Set voice text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1020,-920]},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('Merge text data').item.json.text }}","type":"string"}]},"options":{}},"id":"7161809e-8ad5-4107-8ebc-fe035ddd67ed","name":"Set text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-260,460]},{"parameters":{"assignments":{"assignments":[{"id":"3c7c6617-0a6f-4f1e-bea6-a1c2d933ce96","name":"tg_chat_id_for_notification","value":"={{ $('Execute workflow trigger').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1180,-1420],"id":"5b0a9d7b-35b5-43c0-9a9f-a287718aad96","name":"Set chat id for notification"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1920,-400],"id":"d3b63100-eecb-4b1c-b7c6-f3b1008eb26d","name":"Merge for notification"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Get url for download').item.json.converted }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1160,560],"id":"e7d40240-2794-441f-96d9-3689d7c951f5","name":"Download video from google drive","credentials":{"googleDriveOAuth2Api":{"id":"0a0TfOy99ZkVHU3X","name":"Google Drive VM test account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"95ff2620-20fc-46ac-afeb-3a080da90d6b","name":"Transcribe video from google drive","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-920,560],"credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const url = $('Upload video to google drive').item.json.gdrive_link; // например: https://drive.google.com/open?id=1Jl6WcMRgbrE-U7PBR80eNki4_GaiCY5C\n\nconst match = url.match(/id=([a-zA-Z0-9_-]+)/);\nif (match) {\n  const id = match[1];\n  return {\n    json: {\n      original: url,\n      converted: `https://drive.google.com/file/d/${id}`\n    }\n  };\n} else {\n  return {\n    json: {\n      original: url,\n      converted: null\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1380,560],"id":"b73cea50-637f-4645-9842-9d1c301846c5","name":"Get url for download"},{"parameters":{"method":"POST","url":"http://127.0.0.1:8002/media_handler","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"operation_type\": \"CopyYouTubeVideo\",\n   \"context\": \"{{ $('Check video links').item.json.url }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1580,560],"id":"6f6385b5-83b8-4195-ba3a-bdbd626acf81","name":"Upload video to google drive"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1020,160],"id":"8cc2974c-1e4a-44a9-b337-2a5728f98718","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"QdCtqZa1wiyphkXS","name":"OpenAI_Finance"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"content_assistant_knowledge_base","toolDescription":"Используй эту базу знаний для хранения и поиска документов.","memoryKey":{"__rl":true,"value":"vector_store_key","mode":"list","cachedResultName":"vector_store_key"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-1020,20],"id":"06a1d21a-e51a-4a4f-ba29-bb8f2dd69f83","name":"Simple vector store"},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"mode":"list","value":"vector_store_key"},"clearStore":true},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-1560,20],"id":"a8d32243-e68e-490a-b8ed-ccdbb0f93fa5","name":"Simple vector store (insert)"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1620,180],"id":"cc1e5dae-8e71-48e1-8e82-8f733e21a0df","name":"Embeddings OpenAI (insert)","credentials":{"openAiApi":{"id":"QdCtqZa1wiyphkXS","name":"OpenAI_Finance"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-1460,180],"id":"23bace8d-848a-4957-a866-06538fe74a19","name":"Default data loader"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[-1460,320],"id":"e9ae17db-001f-4af9-886d-a491e2436ad4","name":"Token splitter"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1800,20],"id":"b1565f88-da39-4712-a56b-1955da9cd751","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"7e2cb6b4-d9ee-4248-9f1c-938065c2be3b","name":"origin_video_url","value":"={{ $('Check video links').item.json.url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-720,1020],"id":"ccfe8796-1a70-46a8-9943-39dc1da2870a","name":"Set origin video url"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[800,-220],"id":"9fd9d13c-d4a0-48f0-b44e-8ec71584b607","name":"Merge with origin data"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"24157ae1-e71a-802b-baf5-f6e41e608ee7","mode":"list","cachedResultName":"Идеи для постов","cachedResultUrl":"https://www.notion.so/24157ae1e71a802bbaf5f6e41e608ee7"},"propertiesUi":{"propertyValues":[{"key":"Тема|title","title":"={{ $('Parse OpenAI response').item.json.topic }}"},{"key":"Статус|status","statusValue":"Создан"},{"key":"Заголовок|rich_text","textContent":"={{ $('Parse OpenAI response').item.json.headline }}"},{"key":"Текст|rich_text","textContent":"={{ $('Parse OpenAI response').item.json.article }}"},{"key":"Доп. URL|rich_text","textContent":"={{ $('Parse OpenAI response').item.json.related_urls.join('\\n\\n') }}"},{"key":"Исходный текст|rich_text","textContent":"={{ $('Merge').item.json.text }}"},{"key":"Дата создания|date","date":"={{ $now.setZone('Europe/Moscow').format('yyyy-MM-dd HH:mm:ss') }}","timezone":"Europe/Moscow"},{"key":"Исходная ссылка на видео|rich_text","textContent":"={{ $('Set origin video url').item.json.origin_video_url }} "}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1320,-400],"id":"86e0f730-478a-4d58-aadf-f8fda98b6117","name":"Notion content plan with video link","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"24157ae1-e71a-802b-baf5-f6e41e608ee7","mode":"list","cachedResultName":"Идеи для постов","cachedResultUrl":"https://www.notion.so/24157ae1e71a802bbaf5f6e41e608ee7"},"propertiesUi":{"propertyValues":[{"key":"Тема|title","title":"={{ $('Parse OpenAI response').item.json.topic }}"},{"key":"Статус|status","statusValue":"Создан"},{"key":"Заголовок|rich_text","textContent":"={{ $('Parse OpenAI response').item.json.headline }}"},{"key":"Текст|rich_text","textContent":"={{ $('Parse OpenAI response').item.json.article }}"},{"key":"Доп. URL|rich_text","textContent":"={{ $('Parse OpenAI response').item.json.related_urls.join('\\n\\n') }}"},{"key":"Исходный текст|rich_text","textContent":"={{ $('Merge').item.json.text }}"},{"key":"Дата создания|date","date":"={{ $now.setZone('Europe/Moscow').format('yyyy-MM-dd HH:mm:ss') }}","timezone":"Europe/Moscow"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1320,-120],"id":"2daecb22-7d30-47e4-acd2-00f0bedde2f9","name":"Notion content plan","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"67ce23dc-d333-4d6f-975d-4e18eefdf1ff","leftValue":"={{ $('Merge with origin data').item.json.origin_video_url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1020,-220],"id":"1359798e-6a92-4630-bce6-631a3ccf4df0","name":"If"}],"connections":{"Switch":{"main":[[{"node":"Download audio","type":"main","index":0}],[{"node":"Download voice","type":"main","index":0}],[{"node":"Download video","type":"main","index":0}],[{"node":"Download photo","type":"main","index":0}],[{"node":"Download document","type":"main","index":0}],[{"node":"Check video links","type":"main","index":0}]]},"Download video":{"main":[[{"node":"Transcribe video","type":"main","index":0}]]},"Transcribe video":{"main":[[{"node":"Set video text","type":"main","index":0}]]},"Set video text":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Download photo":{"main":[[{"node":"Convert to image type","type":"main","index":0}]]},"Download document":{"main":[[{"node":"Upload document","type":"main","index":0},{"node":"Convert to File","type":"main","index":0}]]},"Transcribe photo":{"main":[[{"node":"Set photo text","type":"main","index":0}]]},"Set photo text":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Convert to image type":{"main":[[{"node":"Transcribe photo","type":"main","index":0}]]},"Upload document":{"main":[[{"node":"Create assistant","type":"main","index":0}]]},"Create assistant":{"main":[[{"node":"Transcribe document","type":"main","index":0}]]},"Delete assistant":{"main":[[{"node":"Delete document","type":"main","index":0}]]},"Delete document":{"main":[[{"node":"Set document text","type":"main","index":0}]]},"Set document text":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Merge":{"main":[[{"node":"OpenAI generate topic","type":"main","index":0}]]},"Transcribe document":{"main":[[{"node":"Delete assistant","type":"main","index":0}]]},"Download voice":{"main":[[{"node":"Transcribe voice","type":"main","index":0}]]},"Transcribe voice":{"main":[[{"node":"Set voice text","type":"main","index":0}]]},"Download audio":{"main":[[{"node":"Transcribe audio","type":"main","index":0}]]},"Transcribe audio":{"main":[[{"node":"Set audio text","type":"main","index":0}]]},"Set audio text":{"main":[[{"node":"Merge","type":"main","index":0}]]},"OpenAI generate topic":{"main":[[{"node":"Parse OpenAI response","type":"main","index":0}]]},"Parse OpenAI response":{"main":[[{"node":"Merge with origin data","type":"main","index":0}]]},"Check video links":{"main":[[{"node":"Switch for links","type":"main","index":0},{"node":"Set origin video url","type":"main","index":0}]]},"Switch for links":{"main":[[{"node":"Merge text data","type":"main","index":0}],[{"node":"Upload video to google drive","type":"main","index":0}]]},"Set internet video text":{"main":[[{"node":"Merge text data","type":"main","index":1}]]},"Execute workflow trigger":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"Set chat id for notification","type":"main","index":0}]]},"Merge text data":{"main":[[{"node":"Set text","type":"main","index":0}]]},"Set voice text":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Set text":{"main":[[{"node":"Merge","type":"main","index":5}]]},"Finish of creation idea notification":{"main":[[]]},"Merge for notification":{"main":[[{"node":"Finish of creation idea notification","type":"main","index":0}]]},"Set chat id for notification":{"main":[[{"node":"Merge for notification","type":"main","index":0}]]},"Download video from google drive":{"main":[[{"node":"Transcribe video from google drive","type":"main","index":0}]]},"Transcribe video from google drive":{"main":[[{"node":"Set internet video text","type":"main","index":0}]]},"Get url for download":{"main":[[{"node":"Download video from google drive","type":"main","index":0}]]},"Upload video to google drive":{"main":[[{"node":"Get url for download","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Simple vector store","type":"ai_embedding","index":0}]]},"Simple vector store":{"ai_tool":[[{"node":"Transcribe document","type":"ai_tool","index":0}]]},"Simple vector store (insert)":{"main":[[{"node":"Create assistant","type":"main","index":0}]]},"Embeddings OpenAI (insert)":{"ai_embedding":[[{"node":"Simple vector store (insert)","type":"ai_embedding","index":0}]]},"Default data loader":{"ai_document":[[{"node":"Simple vector store (insert)","type":"ai_document","index":0}]]},"Token splitter":{"ai_textSplitter":[[{"node":"Default data loader","type":"ai_textSplitter","index":0}]]},"Convert to File":{"main":[[{"node":"Simple vector store (insert)","type":"main","index":0}]]},"Set origin video url":{"main":[[{"node":"Merge with origin data","type":"main","index":1}]]},"Merge with origin data":{"main":[[{"node":"If","type":"main","index":0}]]},"Notion content plan with video link":{"main":[[{"node":"Merge for notification","type":"main","index":1}]]},"Notion content plan":{"main":[[{"node":"Merge for notification","type":"main","index":2}]]},"If":{"main":[[{"node":"Notion content plan with video link","type":"main","index":0}],[{"node":"Notion content plan","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"global":{"tg_chat_id":1908115440}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b48f5814-8f06-4b02-a4d4-2f4328ca785f","triggerCount":0,"tags":[{"createdAt":"2025-07-16T11:48:29.862Z","updatedAt":"2025-07-31T17:53:33.251Z","id":"gA8iWB5v23LRV9Nt","name":"vm_cp"}]}