VM_Контент_план_Постинг-72Bqg1PkNy0piVAy.json
{"createdAt":"2025-07-15T09:35:37.520Z","updatedAt":"2025-08-01T17:22:52.000Z","id":"72Bqg1PkNy0piVAy","name":"VM_Контент_план_Постинг","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1900,240],"id":"53070168-94dc-4cbe-bffe-4a8f0dbe78d4","name":"Schedule trigger"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7d11aa8-5ed1-482c-96d2-e9160e51ee0a","leftValue":"={{ $('Get notion posts').item.json.properties[\"Соц. сеть\"].status.name }}","rightValue":"Telegram","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Telegram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e1408c3-6c18-46d7-aa61-d55899c80142","leftValue":"={{ $('Get notion posts').item.json.properties[\"Соц. сеть\"].status.name }}","rightValue":"Instagram","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d2fde54-f0bc-4a09-bdd9-8730a5af645f","leftValue":"={{ $('Get notion posts').item.json.properties[\"Соц. сеть\"].status.name }}","rightValue":"YouTube","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"YouTube"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Get notion posts').item.json.properties[\"Соц. сеть\"].status.name }}","rightValue":"VK","operator":{"type":"string","operation":"equals"},"id":"6962763c-e58e-418c-8479-d6aec715a61e"}],"combinator":"and"},"renameOutput":true,"outputKey":"VK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"39f57590-436c-44dd-a660-d4edaef1ebde","leftValue":"={{ $('Get notion posts').item.json.properties[\"Соц. сеть\"].status.name }}","rightValue":"Linkedln","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Linkedln"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"550ba82b-662b-4391-9993-1575d574efdf","leftValue":"={{ $('Get notion posts').item.json.properties[\"Соц. сеть\"].status.name }}","rightValue":"X","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"X"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98265788-9732-490d-ba10-b1564c897d9a","leftValue":"={{ $('Get notion posts').item.json.properties[\"Соц. сеть\"].status.name }}","rightValue":"Facebook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Facebook"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f63f1a21-96bd-45c8-8502-c727f8b907e2","leftValue":"={{ $('Get notion posts').item.json.properties[\"Соц. сеть\"].status.name }}","rightValue":"MAX","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"MAX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-960,340],"id":"ec7f39c5-a3ba-4713-a015-44a7e1d9088c","name":"Switch social network type"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"24157ae1-e71a-8001-b772-f736e2214ec6","mode":"list","cachedResultName":"Посты","cachedResultUrl":"https://www.notion.so/24157ae1e71a8001b772f736e2214ec6"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Статус|status","condition":"equals","statusValue":"Готово к публикации"},{"key":"Дата публикации|date","condition":"on_or_after","date":"={{ $now.startOf('hour').setZone('Europe/Moscow') }}"},{"key":"Дата публикации|date","condition":"before","date":"={{ $now.minus(1, 'minutes').plus(1, 'hours').setZone('Europe/Moscow') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1560,460],"id":"ced090a1-fc20-4caf-9ef2-26fa2e6b49c0","name":"Get notion posts","retryOnFail":true,"alwaysOutputData":false,"credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"operation":"sendMediaGroup","chatId":"={{ $('Set chat id for posting').item.json.tg_chat_id_for_posting }}","media":{"media":[{"media":"={{ $('Get notion posts').item.json.properties[\"Изображение\"].files[0].external.url }}","additionalFields":{"caption":"={{ $('Get notion posts').item.json.properties[\"Заголовок\"].title[0].text.content }}\n\n{{ $('Get notion posts').item.json.properties[\"Текст\"].rich_text[0].text.content }}"}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[440,0],"id":"a93cda75-f7be-4c07-b9bd-8d1f4bb4c907","name":"Send Telegram post","webhookId":"d7ec3490-aece-490a-bf2e-68a05c9d8581","credentials":{"telegramApi":{"id":"QvLj73P2usDhUSBY","name":"VM_Постинг_ТГ_Ассистент"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Merge with origin page id').item.json.origin_page_id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Статус|status","statusValue":"Опубликовано"},{"key":"Дата публикации|date","date":"={{ $now.setZone('Europe/Moscow').format('yyyy-MM-dd HH:mm:ss') }}","timezone":"Europe/Moscow"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2540,480],"id":"30168015-ceaa-4b88-8240-8371493621f0","name":"Update YouTube notion origin page status","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"path":"a60f7d3a-aae3-48f9-8b72-f68a263725f6","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1900,460],"id":"758bcf4d-376f-4533-8fd3-528c576ed0f2","name":"Webhook trigger","webhookId":"a60f7d3a-aae3-48f9-8b72-f68a263725f6"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1880,680],"id":"f029d366-9704-48ab-8786-c7c6606b3d85","name":"Execute workflow trigger"},{"parameters":{"assignments":{"assignments":[{"id":"3c7c6617-0a6f-4f1e-bea6-a1c2d933ce96","name":"tg_chat_id_for_posting","value":"-1002826776089","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,20],"id":"eebd91ba-e965-4d52-82d6-47212c9b8ac7","name":"Set chat id for posting"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2940,500],"id":"79f85010-eec0-4273-8768-0a3b05edee34","name":"Merge for notification"},{"parameters":{"assignments":{"assignments":[{"id":"3c7c6617-0a6f-4f1e-bea6-a1c2d933ce96","name":"tg_chat_id_for_notification","value":"={{ $('Execute workflow trigger').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,1320],"id":"e750b45a-c055-4986-8861-a3db31b1a9b7","name":"Set chat id for notification"},{"parameters":{"chatId":"={{ $('Set chat id for notification').item.json.tg_chat_id_for_notification }}","text":"=Посты успешно опубликованы в социальных сетях!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3180,500],"id":"eb528e9a-49df-42f7-952f-087768e69305","name":"Finish of publication notification","webhookId":"375cfbd7-7c49-44cd-9aa7-3c70572e9b74","executeOnce":true,"credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1340,20],"id":"72a2fbf8-8e20-4096-93af-08a87901fa8a","name":"Merge for tg posts"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9a3faf57-9cc7-4cb2-ab86-7de412168215","leftValue":"={{ $('Get notion posts').item.json.properties['Видео'].files }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-440,20],"id":"e9b7ddc8-8ba6-43f6-b37f-2b19066e2be3","name":"If post hasn't video"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e26f24d8-5130-4b6e-af3d-1f5827b0a3f2","leftValue":"={{ $('Get notion posts').item.json.properties['Видео'].files[0].type }}","rightValue":"external","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-200,200],"id":"1062b195-525f-4d07-a611-b06178954765","name":"If video - it's not url"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1120,200],"id":"4031872d-51c9-411c-8be0-7bb09fa10646","name":"Merge for tg video posts"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Get url for download').item.json.converted }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[560,360],"id":"eee0d187-5721-4af4-a237-2ca6b6b17c0f","name":"Download video from google drive","credentials":{"googleDriveOAuth2Api":{"id":"0a0TfOy99ZkVHU3X","name":"Google Drive VM test account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const url = $('Upload video to google drive').item.json.gdrive_link; // например: https://drive.google.com/open?id=1Jl6WcMRgbrE-U7PBR80eNki4_GaiCY5C\n\nconst match = url.match(/id=([a-zA-Z0-9_-]+)/);\nif (match) {\n  const id = match[1];\n  return {\n    json: {\n      original: url,\n      converted: `https://drive.google.com/file/d/${id}`\n    }\n  };\n} else {\n  return {\n    json: {\n      original: url,\n      converted: null\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[280,360],"id":"8a731624-6381-487f-b19d-f397a15d4d29","name":"Get url for download"},{"parameters":{"method":"POST","url":"http://127.0.0.1:8002/media_handler","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"operation_type\": \"CopyYouTubeVideo\",\n   \"context\": \"{{ $('Get notion posts').item.json.properties['Видео'].files[0].external.url }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20,360],"id":"0df630da-551b-41e0-8a44-5fc9d4273051","name":"Upload video to google drive"},{"parameters":{"operation":"sendVideo","chatId":"={{ $('Set chat id for posting').item.json.tg_chat_id_for_posting }}","binaryData":true,"additionalFields":{"caption":"={{ $('Get notion posts').item.json.properties[\"Заголовок\"].title[0].text.content }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[840,360],"id":"e2c8c96b-09a8-4a7e-92e9-7fe73138d0b6","name":"Send Telegram video post (url)","webhookId":"f849b218-d7de-48d1-a504-ff7540b2177f","credentials":{"telegramApi":{"id":"QvLj73P2usDhUSBY","name":"VM_Постинг_ТГ_Ассистент"}}},{"parameters":{"assignments":{"assignments":[{"id":"3c7c6617-0a6f-4f1e-bea6-a1c2d933ce96","name":"origin_page_id","value":"={{ $('Get notion posts').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,-1020],"id":"1b9275d2-6108-4c88-ad5c-84338f6be264","name":"Set notion origin page id"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2280,480],"id":"eb16ac59-2c27-497c-9bb9-b7c8d5f7fd0d","name":"Merge with origin page id"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1780,500],"id":"325e0664-602c-47a7-9879-9920cbac4675","name":"Merge post results"},{"parameters":{"operation":"sendVideo","chatId":"={{ $('Set chat id for posting').item.json.tg_chat_id_for_posting }}","file":"={{ $('Get notion posts').item.json.properties['Видео'].files[0].file.url }}","additionalFields":{"caption":"={{ $('Get notion posts').item.json.properties[\"Заголовок\"].title[0].text.content }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[440,180],"id":"f0c77cde-81eb-4fd3-9541-7351cd18dcae","name":"Send Telegram video post","webhookId":"f849b218-d7de-48d1-a504-ff7540b2177f","credentials":{"telegramApi":{"id":"QvLj73P2usDhUSBY","name":"VM_Постинг_ТГ_Ассистент"}}}],"connections":{"Schedule trigger":{"main":[[{"node":"Get notion posts","type":"main","index":0}]]},"Switch social network type":{"main":[[{"node":"Set chat id for posting","type":"main","index":0}],[]]},"Get notion posts":{"main":[[{"node":"Set notion origin page id","type":"main","index":0},{"node":"Switch social network type","type":"main","index":0}]]},"Send Telegram post":{"main":[[{"node":"Merge for tg posts","type":"main","index":0}]]},"Webhook trigger":{"main":[[{"node":"Get notion posts","type":"main","index":0}]]},"Execute workflow trigger":{"main":[[{"node":"Get notion posts","type":"main","index":0},{"node":"Set chat id for notification","type":"main","index":0}]]},"Set chat id for posting":{"main":[[{"node":"If post hasn't video","type":"main","index":0}]]},"Update YouTube notion origin page status":{"main":[[{"node":"Merge for notification","type":"main","index":0}]]},"Set chat id for notification":{"main":[[{"node":"Merge for notification","type":"main","index":1}]]},"Merge for notification":{"main":[[{"node":"Finish of publication notification","type":"main","index":0}]]},"Merge for tg posts":{"main":[[{"node":"Merge post results","type":"main","index":0}]]},"If post hasn't video":{"main":[[{"node":"Send Telegram post","type":"main","index":0}],[{"node":"If video - it's not url","type":"main","index":0}]]},"If video - it's not url":{"main":[[{"node":"Send Telegram video post","type":"main","index":0}],[{"node":"Upload video to google drive","type":"main","index":0}]]},"Merge for tg video posts":{"main":[[{"node":"Merge for tg posts","type":"main","index":1}]]},"Get url for download":{"main":[[{"node":"Download video from google drive","type":"main","index":0}]]},"Upload video to google drive":{"main":[[{"node":"Get url for download","type":"main","index":0}]]},"Download video from google drive":{"main":[[{"node":"Send Telegram video post (url)","type":"main","index":0}]]},"Send Telegram video post (url)":{"main":[[{"node":"Merge for tg video posts","type":"main","index":1}]]},"Set notion origin page id":{"main":[[{"node":"Merge with origin page id","type":"main","index":0}]]},"Merge with origin page id":{"main":[[{"node":"Update YouTube notion origin page status","type":"main","index":0}]]},"Merge post results":{"main":[[{"node":"Merge with origin page id","type":"main","index":1}]]},"Send Telegram video post":{"main":[[{"node":"Merge for tg video posts","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"35860b54-533b-4cea-b441-b7d61a9958ed","triggerCount":2,"tags":[{"createdAt":"2025-07-16T11:48:29.862Z","updatedAt":"2025-07-31T17:53:33.251Z","id":"gA8iWB5v23LRV9Nt","name":"vm_cp"}]}