VV_content_plan_tg-sJ3eb5jp57Hv2Ecz.json
{"createdAt":"2025-07-03T18:05:53.720Z","updatedAt":"2025-07-15T07:33:54.000Z","id":"sJ3eb5jp57Hv2Ecz","name":"VV_content_plan_tg","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d5c7366-3dc9-44c5-8819-84debbf03345","leftValue":"={{ $json.message.audio.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"9b24beeb-491e-4995-992c-1d4139313e9c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8581103-04e9-47b5-8ad3-1c1cd6fd0f9f","leftValue":"={{ $json.message.video.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"373fcae4-c71d-4d91-949b-08e1ee7202d6","leftValue":"={{ $json.message.photo?.last().file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Photo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5983e977-eb55-4af1-9fd2-3e5894b22c75","leftValue":"={{ $json.message.document.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"File"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"dc429e42-531a-45a3-8930-4d16f35da61e","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-480,360]},{"parameters":{"resource":"file","fileId":"={{ $json.message.video.file_id }}"},"id":"f81c0064-fd03-4c37-8d04-1a90c350a1eb","name":"Download video","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,240],"webhookId":"d62534f5-2dbe-49a4-ad6b-1544f5918d9c","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"c87c57e3-0b03-48f7-af8d-a9a526b42c0f","name":"Transcribe video","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[300,240],"credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('Telegram trigger').item.json.message.caption }}.\n\nДополнительно:\n{{ $('Transcribe video').item.json.text }}.","type":"string"}]},"options":{}},"id":"aa42307d-fa62-4c04-94aa-80bc4919a368","name":"Set video text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,240]},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo.last().file_id }}"},"id":"4a210e10-caed-4175-97f6-5488b4400e53","name":"Download photo","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-180,440],"webhookId":"d62534f5-2dbe-49a4-ad6b-1544f5918d9c","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}"},"id":"4150730d-4397-4ad9-bb9a-03e3516d16ae","name":"Download document","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-300,640],"webhookId":"d62534f5-2dbe-49a4-ad6b-1544f5918d9c","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"=Ты — эксперт, который видит изображение и описывает его смысл очень кратко и специалист по клинической психологии, особенно в области взаимоотношений между партнёрами.\n\nПосмотри на это изображение и дай короткую, лаконичную тему, которая максимально точно отражает то, что на фото изображено.\n\nОтветь одним коротким предложением или фразой, без лишних подробностей и рассуждений.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[300,440],"id":"4edb81e6-07a7-4739-b5bd-b4110a2abc0f","name":"Transcribe photo","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('Telegram trigger').item.json.message.caption }}.\n\nДополнительно:\n{{ $('Transcribe photo').item.json.content }}","type":"string"}]},"options":{}},"id":"d5b86750-299b-4bdd-ab98-ea7a65e72216","name":"Set photo text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,440]},{"parameters":{"jsCode":"const item = $input.all()[0];\n\nif (item.binary && item.binary.data) {\n  item.binary.data.mimeType = 'image/jpeg';\n}\n\nreturn [item];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[40,440],"id":"1e7a647f-cd85-493b-a510-91d8ecd9da9d","name":"Convert to image type"},{"parameters":{"resource":"file","options":{"purpose":"assistants"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-120,640],"id":"6ff31258-5dee-4f76-9fbe-dd3e3fb99541","name":"Upload document","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"resource":"assistant","operation":"create","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"name":"content_assistant","instructions":"=Ты — эксперт, который читает документ и описывает его смысл очень кратко и специалист по клинической психологии, особенно в области взаимоотношений между партнёрами.\n\nПросмотри содержимое документа и дай короткую, лаконичную тему, которая максимально точно отражает его суть.\n\nОтветь одним коротким предложением или фразой, без лишних подробностей и рассуждений.","codeInterpreter":true,"knowledgeRetrieval":true,"file_ids":"={{ $('Upload document')?.item?.json?.id || \"default.pdf\"}}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[60,640],"id":"a3f6f1fb-1ffd-4810-a5ce-9d4d1ad54b04","name":"Create assistant","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"resource":"assistant","operation":"deleteAssistant","assistantId":{"__rl":true,"value":"={{ $('Create assistant').item.json.id }}","mode":"id"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[580,640],"id":"851ae5d9-fed3-4a48-aac7-05c695b7886a","name":"Delete assistant","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"resource":"file","operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Upload document').item.json.id }}","mode":"id"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[740,640],"id":"034a77db-92b6-40f7-9078-d3806d16ac27","name":"Delete document","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('Telegram trigger').item.json.message.caption }}.\n\nДополнительно:\n{{ $('Transcribe document').item.json.output }}","type":"string"}]},"options":{}},"id":"8ac106e0-7647-46d7-84f7-e7d99cceef0d","name":"Set document text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,640]},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1080,360],"id":"d76d215a-6ded-477d-8515-f1f53e4a8f7b","name":"Merge"},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"={{ $('Create assistant').item.json.id }}","mode":"id"},"prompt":"define","text":"=Кратко опиши тему файла, который тебе доступен (в тебя загружен единственный файл)","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[240,640],"id":"65ef2b50-1f3c-4c6d-a432-06ab75d3a084","name":"Transcribe document","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"id":"d817a79f-c0ce-46e9-9bd7-d664afc1bd02","name":"Download voice","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,80],"webhookId":"d62534f5-2dbe-49a4-ad6b-1544f5918d9c","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"768e848f-853d-45e6-9c4f-eee242f0835b","name":"Transcribe voice","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[580,80],"credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.audio.file_id }}"},"id":"6c379406-e3b0-4875-9cf3-5a566c4f6aae","name":"Download audio","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,-100],"webhookId":"d62534f5-2dbe-49a4-ad6b-1544f5918d9c","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"169b250c-4e5c-40fb-92af-a451db6f92b2","name":"Transcribe audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[300,-100],"credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('Telegram trigger').item.json.message.caption }}.\n\nДополнительно:\n{{ $('Transcribe audio').item.json.text }}.","type":"string"}]},"options":{}},"id":"407e3531-7bcf-4d83-8205-6ab2ecacd36e","name":"Set audio text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,-100]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-search-preview","mode":"list","cachedResultName":"GPT-4O-SEARCH-PREVIEW"},"messages":{"values":[{"content":"=Сырая идея:\n{{ $('Merge').item.json.text }}"},{"content":"=Ты — профессиональный копирайтер и специалист по клинической психологии, особенно в области отношений между партнёрами.\n\nЯ отправляю тебе сырую идею — это может быть неструктурированный текст, набросок, фраза или описание ситуации, ссылка на какой-то источник в интернете.\n\nТвоя задача:\n1. Проанализируй суть.\n2. Сформулируй чёткую, актуальную и максимально цепляющую тему поста на русском языке.\n3. Придумай очень цепляющий, провокационный, интригующий и эмоциональный кликбейт-заголовок в стиле желтой прессы — с максимальным вниманием к эмоциям, интриге, сенсационности. Заголовок должен вызывать шок, возмущение, интерес, или обещание раскрытия \"секрета\". Не бойся быть смелым.\n4. Напиши большую и развёрнутую статью объёмом от 1000 до 1100 символов, раскрывающую суть темы:\n   - ❗️Важно: статья должна быть научно обоснованной, с точными терминами и фактами.\n   - ❗️Важно: но при этом статья должна быть живой, эмоциональной, читаемой, как материал для широкой аудитории.\n   - ❗️Важно: Используй абзацы, подзаголовки, немного смайликов (выделяй ими подзаголовки), ритм, избегай канцелярита и академической скуки.\n   - ❗️Важно: не вставляй никакие ссылки в текст статьи. В тексте статьи не должно быть упоминаний URL, названий сайтов или ссылок на любые ресурсы в интернете. Если хочешь сослаться на источник — просто упомяни, что \"учёные утверждают\", \"по данным исследований\" и т.п. без конкретизации. \n   - ❗️Важно: объем текста обязательно не больше 1100 символов - иначе система не сможет его обработать.\n5. Найди и укажи от 3 до 5 реальных ссылок на статьи или материалы в интернете, которые соответствуют теме статьи:\n   - ❗️❗️❗️ОЧЕНЬ ВАЖНО: ссылки помести в поле related_urls, в тексте статьи не используй их вообще.\n   - ❗️Важно: ссылки обязательно должны вести на реальные материалы, текст которых написан на русском языке.\n   - ❗️Важно: ссылки обязательно должны быть на реальные материалы, не должно быть ссылок на несуществующие страницы - проверяй их перед использованием.\n   - ❗️Важно: ссылки могут быть на публикации в научных журналах, на популярные порталы психологии, Wikipedia, СМИ или блоги — но только реальные рабочие URL.\n\n❗️❗️❗️ОЧЕНЬ ВАЖНО:\n❗️Ответ должен быть строго в формате JSON. Никаких пояснений, комментариев, Markdown-блоков, кавычек в начале и конце, префиксов вида json\\n и прочего.\n\n❗️Ответ — это только чистый JSON-объект. Например:\n{\n  \"topic\": \"Почему мы влюбляемся в недоступных партнёров?\",\n  \"headline\": \"Недоступный? Значит, влюбишься: что психология говорит о наших привязанностях\",\n  \"article\": \"Многие из нас испытывают притяжение к тем, кто эмоционально или физически недоступен. Это может быть связано с детскими сценариями, травмами привязанности или просто потребностью в подтверждении собственной значимости. В статье мы разберём, почему такие отношения кажутся такими притягательными и как перестать наступать на те же грабли.\",\n  \"related_urls\": [\n    \"https://eksmo.ru/articles/kak-raspoznat-abyuz-v-otnosheniyakh-11-22-ID15615966/\",\n    \"https://urgaps.ru/blog/abyuz-formy-priznaki-i-posledstviya\",\n    \"https://ru.wikipedia.org/wiki/Созависимость\"\n  ]\n}","role":"system"}]},"options":{"maxTokens":1100}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1260,420],"id":"94b545f9-351f-42f8-b716-d96b52a2543f","name":"OpenAI generate topic","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"22457ae1-e71a-81a4-bf5b-c48571c73d7b","mode":"list","cachedResultName":"Контент ","cachedResultUrl":"https://www.notion.so/22457ae1e71a81a4bf5bc48571c73d7b"},"propertiesUi":{"propertyValues":[{"key":"Тема|title","title":"={{ $('Parse OpenAI response').item.json.topic }}"},{"key":"Статус|status","statusValue":"Создан"},{"key":"Заголовок|rich_text","textContent":"={{ $('Parse OpenAI response').item.json.headline }}"},{"key":"Текст|rich_text","textContent":"={{ $('Parse OpenAI response').item.json.article }}"},{"key":"Доп. URL|rich_text","textContent":"={{ $('Parse OpenAI response').item.json.related_urls.join('\\n\\n') }}"},{"key":"Статус поста|status","statusValue":"=Создана идея"},{"key":"Тип контента|status","statusValue":"=Идея"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1840,420],"id":"3ea82298-5cc6-4558-9892-8b31627fc153","name":"Notion content plan","credentials":{"notionApi":{"id":"09WDFf4vp7iD93dG","name":"Notion account VM "}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-680,420],"id":"dd0282d4-2c62-4835-b6cb-723d9141dc5b","name":"Telegram trigger","webhookId":"75ad8315-4f0f-4828-bbce-de150e4ade6c","credentials":{"telegramApi":{"id":"CaPcuZpn2WokK4Nb","name":"VM_Постинг"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Получаем текст\nlet inputText = $json.message?.content;\n\n// Удаляем Markdown-блоки и лишние кавычки, если есть\ninputText = inputText.trim();\nif (inputText.startsWith(\"```json\")) inputText = inputText.slice(7).trim();\nif (inputText.startsWith(\"```\")) inputText = inputText.slice(3).trim();\nif (inputText.endsWith(\"```\")) inputText = inputText.slice(0, -3).trim();\n\n// Парсинг JSON-ответа от OpenAI\nlet data;\ndata = JSON.parse(inputText);\n\n// Очищаем статью\nlet cleanedArticle = data.article;\n\n// Удаляем Markdown-ссылки: [текст](url)\ncleanedArticle = cleanedArticle.replace(/\\[([^\\]]+)\\]\\((https?:\\/\\/[^\\)]+)\\)/g, '$1');\n\n// Удаляем одиночные URL\ncleanedArticle = cleanedArticle.replace(/https?:\\/\\/[^\\s)]+/g, '');\n\n// Удаляем \"хвосты\" типа (ru.wikipedia.org), (cameralabs.org) и т.п.\ncleanedArticle = cleanedArticle.replace(/\\([a-zA-Z0-9\\-.]+\\.[a-z]{2,}(\\/[^\\)]*)?\\)/g, '');\n\n// Удаляем лишние пробелы и пустые скобки\ncleanedArticle = cleanedArticle.replace(/\\(\\s*\\)/g, '').trim();\n\n// Заменяем в объекте\ndata.article = cleanedArticle;\n\n// Возвращаем очищенные данные\nreturn { json: data };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,420],"id":"47b552c1-b3c8-4fba-aea7-53709de3de2d","name":"Parse OpenAI response"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $json.message.text || '';\nconst regex = /(https?:\\/\\/(?:www\\.)?(?:youtube\\.com|youtu\\.be|instagram\\.com|instagr\\.am)[^\\s]*)/gi;\n\nconst matches = [...input.matchAll(regex)];\n\nif (matches.length === 0) {\n  return {\n    json: {\n      text: input.trim(),\n      url: null,\n      type: 'unknown'\n    }\n  };\n}\n\nconst firstMatch = matches[0][0];\nlet type = '';\n\nif (/youtube\\.com|youtu\\.be/.test(firstMatch)) {\n  type = 'youtube';\n} else if (/instagram\\.com|instagr\\.am/.test(firstMatch)) {\n  type = 'instagram';\n} else {\n  type = 'unknown';\n}\n\nconst cleanedText = input.replace(firstMatch, '').trim();\n\nreturn {\n  json: {\n    text: cleanedText,\n    url: firstMatch,\n    type: type\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-340,920],"id":"591b51cd-20d8-4bc3-bb4c-e484fa7f6ef3","name":"Check video links"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"de8a1c58-28ef-4ac0-8252-ac3b448088f9","leftValue":"={{ $json.type }}","rightValue":"unknown","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Simple text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"unknown","operator":{"type":"string","operation":"notEquals"},"id":"046f1411-cddb-453f-94b3-ca0ee7cafc92"}],"combinator":"and"},"renameOutput":true,"outputKey":"Internet video"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-60,920],"id":"d8527e2e-53dd-4af6-ad57-45d6d5a75982","name":"Switch for links"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[920,920],"id":"348d80ca-d79d-4ae1-b157-bb1fb978dd1c","name":"Merge for links"},{"parameters":{"operation":"executeTool","toolName":"={{ $fromAI(\"tool\",\"firecrowl tool\") }}","toolParameters":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1780,1060],"id":"da707935-fe9f-48f0-9bab-a9bac2ac2314","name":"MCP tool","credentials":{"mcpClientApi":{"id":"NUvQ5NXH8GJGzh31","name":"MCH_MCP_account firecrawl"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ Math.floor(Date.now() / 1000 / 120) }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[460,800],"id":"fd58bc47-6973-442f-8439-9f1a9af61112","name":"Transcribe document memory"},{"parameters":{"promptType":"define","text":"={{ $('Check video links').item.json.url }}","options":{"systemMessage":"=Ты — ИИ-агент, который помогает анализировать содержимое видео по ссылке, используя возможности MCP-сервера.\n\nНа вход ты получаешь два поля:\n  - url — ссылка на видео (например, YouTube Shorts, Instagram Reels и т.п.)\n  - caption — дополнительный текст от пользователя (если есть). Это может быть его вопрос, описание или запрос к видео.\n\nТвоя задача:\n1. Сохрани ссылку и caption без изменений.\n2. Сначала вызови узел  «‎MCP Get list‎», чтобы получить список доступных инструментов (например, транскрипция, анализ ролика и пр.).\n3. Не выводи список инструментов — он используется только для выбора подходящего инструмента.\n4. Выбери наиболее подходящий инструмент из списка, в зависимости от контекста ссылки url и текста caption.\n5. Вызови выбранный инструмент, передав ссылку на видео и подходящий вопрос (формируется либо на основе caption, либо устанавливается каким-то дефолтным, например - «Получи текст данного видеоролика») в узел «‎MCP tool‎».\n6. Получи результат, проанализируй его и сформулируй понятный и краткий ответ, раскрывающий смысл или содержание видео, с учётом возможного пользовательского запроса caption.\n\nЕсли инструмент дал неполный или непонятный результат — сообщи об этом и предложи возможные шаги (например, повторить позже, уточнить запрос и т.п.).\n\n❗️❗️❗️ОЧЕНЬ ВАЖНО:\n  - Никогда не показывай список инструментов пользователю.\n  - Окончательный ответ должен быть основан только на результате вызова выбранного инструмента.\n  - caption может отсутствовать — учитывай это.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1460,820],"id":"ae397450-dc2a-4b6d-87e3-e8da60df42ef","name":"Transcribe internet video"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ Math.floor(Date.now() / 1000 / 120) }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1440,1060],"id":"be8e0523-642f-4606-923e-a2691b15cdfd","name":"Transcribe internet video memory"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1320,1060],"id":"4a8cb580-a37c-4001-a52b-8049a050777c","name":"Transcribe internet video OpenAI chat model","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1640,1060],"id":"a017a136-af2b-4db3-9fee-71d17b5b8889","name":"MCP get list","credentials":{"mcpClientApi":{"id":"NUvQ5NXH8GJGzh31","name":"MCH_MCP_account firecrawl"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('Check video links').item.json.text }}\n\nДополнительно:\n{{ $('Transcribe internet video').item.json.text }}","type":"string"}]},"options":{}},"id":"78eb4d4e-1de5-46af-a186-fb83ecadbdf8","name":"Set internet video text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,1040]},{"parameters":{"command":"=echo \"\nimport sys\nimport subprocess\n\nurl = sys.argv[1]\noutput_path = sys.argv[2]\n\ntry:\n    import yt_dlp\nexcept ImportError:\n    print('yt-dlp не установлен. Устанавливаю...')\n    subprocess.check_call([sys.executable, '-m', 'pip', 'install', 'yt-dlp'])\n    import yt_dlp\n\ntry:\n    ydl_opts = {\n        'outtmpl': output_path + '/%(title)s.%(ext)s'\n    }\n    with yt_dlp.YoutubeDL(ydl_opts) as ydl:\n        ydl.download([url])\nexcept Exception as e:\n    print('Ошибка при скачивании:', e)\n\" | python3 - '{{ $('Check video links').item.json.url }}' 'D:/'\n\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[320,1040],"id":"b0db29b9-ad3f-4e38-b595-47c087d276ad","name":"Execute Command"}],"connections":{"Switch":{"main":[[{"node":"Download audio","type":"main","index":0}],[{"node":"Download voice","type":"main","index":0}],[{"node":"Download video","type":"main","index":0}],[{"node":"Download photo","type":"main","index":0}],[{"node":"Download document","type":"main","index":0}],[{"node":"Check video links","type":"main","index":0}]]},"Download video":{"main":[[{"node":"Transcribe video","type":"main","index":0}]]},"Transcribe video":{"main":[[{"node":"Set video text","type":"main","index":0}]]},"Set video text":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Download photo":{"main":[[{"node":"Convert to image type","type":"main","index":0}]]},"Download document":{"main":[[{"node":"Upload document","type":"main","index":0}]]},"Transcribe photo":{"main":[[{"node":"Set photo text","type":"main","index":0}]]},"Set photo text":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Convert to image type":{"main":[[{"node":"Transcribe photo","type":"main","index":0}]]},"Upload document":{"main":[[{"node":"Create assistant","type":"main","index":0}]]},"Create assistant":{"main":[[{"node":"Transcribe document","type":"main","index":0}]]},"Delete assistant":{"main":[[{"node":"Delete document","type":"main","index":0}]]},"Delete document":{"main":[[{"node":"Set document text","type":"main","index":0}]]},"Set document text":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Merge":{"main":[[{"node":"OpenAI generate topic","type":"main","index":0}]]},"Transcribe document":{"main":[[{"node":"Delete assistant","type":"main","index":0}]]},"Download voice":{"main":[[{"node":"Transcribe voice","type":"main","index":0}]]},"Transcribe voice":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Download audio":{"main":[[{"node":"Transcribe audio","type":"main","index":0}]]},"Transcribe audio":{"main":[[{"node":"Set audio text","type":"main","index":0}]]},"Set audio text":{"main":[[{"node":"Merge","type":"main","index":0}]]},"OpenAI generate topic":{"main":[[{"node":"Parse OpenAI response","type":"main","index":0}]]},"Telegram trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Parse OpenAI response":{"main":[[{"node":"Notion content plan","type":"main","index":0}]]},"Check video links":{"main":[[{"node":"Switch for links","type":"main","index":0}]]},"Switch for links":{"main":[[{"node":"Merge for links","type":"main","index":0}],[{"node":"Execute Command","type":"main","index":0}]]},"Merge for links":{"main":[[{"node":"Merge","type":"main","index":5}]]},"MCP tool":{"ai_tool":[[{"node":"Transcribe internet video","type":"ai_tool","index":0}]]},"Transcribe document memory":{"ai_memory":[[{"node":"Transcribe document","type":"ai_memory","index":0}]]},"Transcribe internet video":{"main":[[]]},"Transcribe internet video memory":{"ai_memory":[[{"node":"Transcribe internet video","type":"ai_memory","index":0}]]},"Transcribe internet video OpenAI chat model":{"ai_languageModel":[[{"node":"Transcribe internet video","type":"ai_languageModel","index":0}]]},"MCP get list":{"ai_tool":[[{"node":"Transcribe internet video","type":"ai_tool","index":0}]]},"Set internet video text":{"main":[[{"node":"Merge for links","type":"main","index":1}]]},"Execute Command":{"main":[[{"node":"Set internet video text","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1faa5aa6-eb6c-4278-81b7-3f5f0181be76","triggerCount":1,"tags":[{"createdAt":"2025-06-23T18:48:16.608Z","updatedAt":"2025-06-23T18:48:16.608Z","id":"1PNbFa1QA8lLmZ0v","name":"vv"}]}