vv_fin_Bot-AuBXS40GktVMEvaL.json
{"createdAt":"2025-06-12T01:45:51.002Z","updatedAt":"2025-06-12T02:25:51.000Z","id":"AuBXS40GktVMEvaL","name":"vv_fin_Bot","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"1243582c-71eb-4fcc-9551-f9f5a56bb182","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[-320,-140],"webhookId":"7e83ad56-b248-4fd4-8ba4-91f2f5324fa5","credentials":{"telegramApi":{"id":"AKC2gRnDJQuXAjbG","name":"FinanceBotTelegramAP"}}},{"parameters":{"functionCode":"const m = $json.message;\nif (m?.text) return [{json:{kind:'text',text:m.text,chat_id:m.chat.id,user_id:m.from.id}}];\nif (m?.photo){const fid=m.photo[m.photo.length-1].file_id;return [{json:{kind:'photo',file_id:fid,chat_id:m.chat.id,user_id:m.from.id}}];}\nreturn [];"},"id":"d4102298-2b0c-433a-b86f-6e47136a42d0","name":"Process Message","type":"n8n-nodes-base.function","typeVersion":1,"position":[-120,-140]},{"parameters":{"operation":"executeQuery","query":"SELECT json_agg(json_build_object('name',name,'type',type)) AS cat_list FROM categories;","additionalFields":{}},"id":"aae9d33e-3d1c-4db6-a5a9-17a7b1ee4e61","name":"Fetch Categories","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[80,-240],"credentials":{"postgres":{"id":"BOCMsvSqhzt39dMW","name":"Postgres_Finance"}}},{"parameters":{"mode":"mergeByIndex"},"id":"4c95f0ce-bbc6-49bd-9d1d-ec9adfaf4c4a","name":"Merge Data","type":"n8n-nodes-base.merge","typeVersion":1,"position":[360,-120]},{"parameters":{"functionCode":"const msg=items[0].json;const catList=items[1].json.cat_list||[];const cats=catList.map(c=>`${c.name} (${c.type})`).join(', ');\nconst content=msg.kind==='text'?msg.text:'[image]';\nconst prompt=`Проанализируй сообщение: \"${content}\"\\nОпредели:\\n1) type (income/expense)\\n2) amount (number)\\n3) description\\n4) category из списка: ${cats}\\nЕсли не подходит — предложи новую.\\nОтвет ТОЛЬКО JSON:\\n{\\n \\\"type\\\":\\\"income|expense\\\",\\n \\\"amount\\\":123.45,\\n \\\"description\\\":\\\"...\\\",\\n \\\"category\\\":\\\"...\\\"\\n}`;\nreturn [{json:{prompt,chat_id:msg.chat_id,user_id:msg.user_id,kind:msg.kind}}];"},"id":"fe8a824f-4fa4-43ba-a346-eaaf6d2921b0","name":"Prepare Prompt","type":"n8n-nodes-base.function","typeVersion":1,"position":[600,-320]},{"parameters":{},"id":"005f08e7-3fd2-40fb-9003-ce1458cce753","name":"OpenAI Classify","type":"n8n-nodes-base.openAiChat","typeVersion":1,"position":[920,160],"credentials":{}},{"parameters":{"functionCode":"const raw=items[0].json.choices[0].message.content.trim();let data;try{data=JSON.parse(raw);}catch(e){throw new Error('AI JSON error:'+raw);}return [{json:{...data,chat_id:$node['Prepare Prompt'].json.chat_id,user_id:$node['Prepare Prompt'].json.user_id,source:$node['Prepare Prompt'].json.kind}}];"},"id":"fadc56bc-af3e-4323-99c2-dde5de4906da","name":"Parse AI Response","type":"n8n-nodes-base.function","typeVersion":1,"position":[680,-140]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO categories (name,type) VALUES ('={{$json[\"category\"]}}','={{$json[\"type\"]}}') ON CONFLICT (name) DO UPDATE SET type=EXCLUDED.type RETURNING id;","additionalFields":{}},"id":"083c7a04-aeff-41e9-b8ff-efbf39f14eac","name":"Upsert Category","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[880,-140],"credentials":{"postgres":{"id":"BOCMsvSqhzt39dMW","name":"Postgres_Finance"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO transactions (user_id,type,amount,description,category_id,source) VALUES (={{$json[\"user_id\"]}},'={{$json[\"type\"]}}',{{=$json[\"amount\"]}},'={{$json[\"description\"]}}',{{=$node[\"Upsert Category\"].json[\"id\"]}},'={{$json[\"source\"]}}');","additionalFields":{}},"id":"3c78761d-8eb0-4ffc-9972-8093f43f96e1","name":"Insert Transaction","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[1080,-140],"credentials":{"postgres":{"id":"BOCMsvSqhzt39dMW","name":"Postgres_Finance"}}},{"parameters":{"chatId":"={{$json[\"chat_id\"]}}","text":"Транзакция сохранена: {{$json[\"type\"]}} {{$json[\"amount\"]}} ₽ ({{$json[\"category\"]}})","additionalFields":{}},"id":"0e42f4fe-99a3-4971-a97d-cb799bc084f9","name":"Send Confirmation","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1280,-140],"webhookId":"7c178638-e871-4ffe-85fe-62891edf18b6","credentials":{"telegramApi":{"id":"AKC2gRnDJQuXAjbG","name":"FinanceBotTelegramAP"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Process Message","type":"main","index":0}]]},"Process Message":{"main":[[{"node":"Fetch Categories","type":"main","index":0},{"node":"Merge Data","type":"main","index":0}]]},"Fetch Categories":{"main":[[{"node":"Merge Data","type":"main","index":1}]]},"Merge Data":{"main":[[{"node":"Prepare Prompt","type":"main","index":0}]]},"Parse AI Response":{"main":[[{"node":"Upsert Category","type":"main","index":0}]]},"Upsert Category":{"main":[[{"node":"Insert Transaction","type":"main","index":0}]]},"Insert Transaction":{"main":[[{"node":"Send Confirmation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Fetch Categories":[{"json":{"name":"First item","code":1}},{"json":{"name":"Second item","code":2}}],"Send Confirmation":[{"json":{"name":"First item","code":1}},{"json":{"name":"Second item","code":2}}]},"versionId":"a78698c2-4a1b-4920-8db9-b0029cd62555","triggerCount":0,"tags":[]}