vv_FinBot-tgsCw2QiYaW5uYZa.json
{"createdAt":"2025-06-12T02:27:43.370Z","updatedAt":"2025-06-12T02:31:19.000Z","id":"tgsCw2QiYaW5uYZa","name":"vv_FinBot","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-2860,-60],"id":"6dc535a0-e453-4f4e-82f6-c11b36300575","name":"Telegram Trigger","webhookId":"79408097-d284-4034-a6d7-65bb07b242ba","credentials":{"telegramApi":{"id":"AKC2gRnDJQuXAjbG","name":"FinanceBotTelegramAP"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1200,-100],"id":"7d1b0124-0f67-489e-8540-72773f981629","name":"AI Agent"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-780,-100],"id":"3d7ec9e4-9947-4879-ad20-41fb3cd658aa","name":"Telegram","webhookId":"ce2887d2-0cab-4166-b901-c37edbab8a0a"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1260,140],"id":"03b09ebd-8894-482f-b92c-d7f1db31567e","name":"OpenAI Chat Model"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"dd8451ae-fc03-49d0-a19e-2678a5f4ff64"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc42e6d3-ad50-4188-a168-9c5696e74252","leftValue":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2260,-80],"id":"0e0f996a-ef8b-45e1-b66c-07a1dd7f9b1b","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2040,80],"id":"999f1719-beb0-4e22-99db-7cecd76bb86b","name":"Telegram1","webhookId":"0142b70e-e116-4fe0-bce6-bfc0fb8db9db"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1800,80],"id":"e44a7764-18c5-42ed-981d-adb432ba9235","name":"OpenAI"},{"parameters":{"assignments":{"assignments":[{"id":"dc04da2b-b648-42a4-9a04-bdf8a8d23508","name":"message.text","value":"={{ $('Telegram Trigger').item.json.message.text }}{{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1460,-100],"id":"b3993bb9-c2d7-4620-a4c5-b1dd918ab27d","name":"Edit Fields"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2440,-80],"id":"22f031d8-1c13-446f-9fc4-c39cd7327e30","name":"Telegram2","webhookId":"4f3b9b1a-924b-40e6-a2fa-d7b3055a9e3b"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1120,140],"id":"4977af8c-630a-46ca-9cea-8a07dda2cf41","name":"Simple Memory"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a9e919bb-8d22-4855-a7b6-a9e5a9f39778","leftValue":"={{ $json.message.from.username }}","rightValue":"igorzuevich","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2660,-60],"id":"c62b0c7d-abde-48e3-a28f-385634bdec7d","name":"If"},{"parameters":{"content":"## Проверка бота (обычно для AI Ассистентов используют)","height":100,"width":400},"type":"n8n-nodes-base.stickyNote","position":[-2860,100],"typeVersion":1,"id":"dc124f1d-2642-41a0-a6be-a4065033cb9f","name":"Sticky Note"}],"connections":{"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"If":{"main":[[{"node":"Telegram2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e4306248-6d07-4dd0-9a19-1f43d04987a8","triggerCount":0,"tags":[]}