vv_test_WF-1Ix37BNdiCuEuG59.json
{"createdAt":"2025-06-12T02:36:11.548Z","updatedAt":"2025-06-12T03:23:16.000Z","id":"1Ix37BNdiCuEuG59","name":"vv_test_WF","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-500,-140],"id":"5eb716ad-7381-4289-a042-16ecae426882","name":"Telegram Trigger","webhookId":"913266a7-102a-4308-ace8-ac9a586efb4b","credentials":{"telegramApi":{"id":"AKC2gRnDJQuXAjbG","name":"FinanceBotTelegramAP"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","hasOutputParser":true,"options":{"systemMessage":"Ты помогаешь мне тестировать чат-бот. Важно понять, тебе передана команда или данные"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-280,-140],"id":"2a541ffa-78f9-4c8a-b9fd-c41f04a8a448","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-340,80],"id":"6c3d2b73-9930-436c-ad40-e84feee9264d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"QdCtqZa1wiyphkXS","name":"OpenAI_Finance"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[80,-140],"id":"2cb476e4-2474-4151-8232-8d3a32d28dbc","name":"Telegram","webhookId":"121eb70e-07d3-4d49-920d-2675e665af6d","credentials":{"telegramApi":{"id":"AKC2gRnDJQuXAjbG","name":"FinanceBotTelegramAP"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a7728a48-9264-4a87-8695-1826cf6e3339","triggerCount":0,"tags":[]}