vvAgentAssistantMail-ecy9Q0ksTzaQ8L1c.json
{"createdAt":"2025-06-23T18:50:38.782Z","updatedAt":"2025-06-23T18:50:42.000Z","id":"ecy9Q0ksTzaQ8L1c","name":"vvAgentAssistantMail","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"c60216e1-1963-4a12-80dd-a030d7dd2fbc","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1060,420]},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"a461be7a-491a-4299-abaa-ac0afc729873","name":"Try Again","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,180]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"={{$json.output}}","type":"string"}]},"options":{}},"id":"bbf4cfb7-9541-43db-9727-50d17a2eca17","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0]},{"parameters":{"sendTo":"={{ $fromAI(\"emailAddress\") }}","subject":"={{ $fromAI(\"subject\") }}","message":"={{ $fromAI(\"emailBody\") }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-920,440],"id":"1a97a7e1-5b19-46e4-81f6-4385f348a5f4","name":"Send Email","webhookId":"19ac42cb-5476-406f-9450-2f5be3424fe8"},{"parameters":{"operation":"getAll","limit":"={{ $fromAI(\"limit\",\"how many emails the user wants\") }}","simple":false,"filters":{"sender":"={{ $fromAI(\"sender\",\"who the emails are from\") }}"},"options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-280,540],"id":"91bef1bc-fc6f-4c40-8450-394651e38d1e","name":"Get Emails","webhookId":"44643128-d898-45d7-a881-8307c3090105"},{"parameters":{"resource":"draft","subject":"={{ $fromAI(\"subject\") }}","emailType":"html","message":"={{ $fromAI(\"emailBody\") }}","options":{"sendTo":"={{ $fromAI(\"emailAddress\") }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-440,560],"id":"c864154a-8243-4c3b-bee7-ba62d5449d6e","name":"Create Draft","webhookId":"19a48083-5d0b-4f1e-8988-7703d203a29b"},{"parameters":{"operation":"reply","messageId":"={{ $fromAI(\"ID\",\"the message ID\") }}","message":"={{ $fromAI(\"emailBody\") }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-760,500],"id":"e1bd7a9e-8a50-41ae-bc18-83d2e097a64f","name":"Email Reply","webhookId":"4dd4c4e7-a5bc-4cf6-b29c-6a23682bd74b"},{"parameters":{"resource":"label","returnAll":true},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-160,480],"id":"b00f21a3-63f3-45ef-9b9b-d518433f6e68","name":"Get Labels","webhookId":"0b1c55bc-c474-43e0-b77c-29cf2a749b46"},{"parameters":{"operation":"addLabels","messageId":"={{ $fromAI(\"ID\",\"the ID of the message\") }}","labelIds":"={{ $fromAI(\"labelID\") }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-600,540],"id":"fe3bc828-ff6a-4d67-85c4-77b2686901b0","name":"Label Emails","webhookId":"b8677bcf-0cae-49f5-ba81-0a0f667bbd36"},{"parameters":{"operation":"markAsUnread","messageId":"={{ $fromAI(\"messageID\") }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-20,420],"id":"4279b214-e8a2-4a0d-84e8-154b37deebac","name":"Mark Unread","webhookId":"e3a9230f-5fba-42c8-a20b-907d768b396d"},{"parameters":{},"id":"8b7c3b72-279f-4166-9b01-f05ce14816c4","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-820,80]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are an email management assistant. All emails must be formatted professionally in HTML and signed off as \"Vladimir. Send emails in Russian.\" \n\n**Email Management Tools**   \n   - Use \"Send Email\" to send emails.  \n   - Use \"Create Draft\" if the user asks for a draft.  \n   - Use \"Get Emails\" to retrieve emails when requested.\n   - Use \"Get Labels\" to retrieve labels.\n   - Use \"Mark Unread\" to mark an email as unread. You must use \"Get Emails\" first so you have the message ID of the email to flag.\n   - Use \"Label Email\" to flag an email. You must use \"Get Emails\" first so you have the message ID of the email to flag. Then you must use \"Get Labels\" so you have the label ID.\n   - Use \"Email Reply\" to reply to an email. You must use \"Get Emails\" first so you have the message ID of the email to reply to.\n\n## Final Notes\n- Here is the current date/time: {{ $now }}"}},"id":"5c87ea2e-1c63-4681-acd3-e86aa7cef8e4","name":"Email agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-600,80],"onError":"continueErrorOutput"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Email agent","type":"ai_languageModel","index":0}]]},"Send Email":{"ai_tool":[[{"node":"Email agent","type":"ai_tool","index":0}]]},"Email Reply":{"ai_tool":[[{"node":"Email agent","type":"ai_tool","index":0}]]},"Get Emails":{"ai_tool":[[{"node":"Email agent","type":"ai_tool","index":0}]]},"Create Draft":{"ai_tool":[[{"node":"Email agent","type":"ai_tool","index":0}]]},"Get Labels":{"ai_tool":[[{"node":"Email agent","type":"ai_tool","index":0}]]},"Label Emails":{"ai_tool":[[{"node":"Email agent","type":"ai_tool","index":0}]]},"Mark Unread":{"ai_tool":[[{"node":"Email agent","type":"ai_tool","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Email agent","type":"main","index":0}]]},"Email agent":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"814f52e8-84e9-408c-b4dd-2b5469a021ab","triggerCount":0,"tags":[{"createdAt":"2025-06-23T18:48:16.608Z","updatedAt":"2025-06-23T18:48:16.608Z","id":"1PNbFa1QA8lLmZ0v","name":"vv"}]}