vvAgentAssistentCalender-MX5kDrI5Avi0jwFa.json
{"createdAt":"2025-06-23T18:51:52.584Z","updatedAt":"2025-06-23T18:51:52.584Z","id":"MX5kDrI5Avi0jwFa","name":"vvAgentAssistentCalender","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"49adb534-4a68-41cb-bdfc-10568525be74","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-760,340]},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"8eb24e17-ffb0-4682-ab9e-f1b7e7182dcf","name":"Try Again","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,180]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"={{$json.output}}","type":"string"}]},"options":{}},"id":"08f4ae26-e4e0-4b3a-b2b8-08a628daed7f","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"vladimir.chernikin.kz@gmail.com","mode":"list","cachedResultName":"vladimir.chernikin.kz@gmail.com"},"options":{"timeMin":"={{ $fromAI(\"dayBefore\", \"the day before the date the user requested\") }}","timeMax":"={{ $fromAI(\"dayAfter\", \"the day after the date the user requested\") }}"}},"id":"14256bab-4461-41b0-949b-738980c00a6c","name":"Get Events","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[-640,520]},{"parameters":{"calendar":{"__rl":true,"value":"vladimir.chernikin.kz@gmail.com","mode":"list","cachedResultName":"vladimir.chernikin.kz@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"summary":"={{ $fromAI(\"eventTitle\") }}"}},"id":"50727816-9ad8-4e42-b820-c2710372e640","name":"Create Event","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[-480,520]},{"parameters":{"calendar":{"__rl":true,"value":"vladimir.chernikin.kz@gmail.com","mode":"list","cachedResultName":"vladimir.chernikin.kz@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":["={{ $fromAI(\"eventAttendeeEmail\") }}"],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"id":"0c6cd658-900a-40a3-b32f-930db5541ab2","name":"Create Event with Attendee","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[-320,520]},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"vladimir.chernikin.kz@gmail.com","mode":"list","cachedResultName":"vladimir.chernikin.kz@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","updateFields":{"end":"={{ $fromAI(\"endTime\") }}","start":"={{ $fromAI(\"startTime\") }}"}},"id":"dcfe830a-eb26-4e60-a9c2-a7cb5dca02f9","name":"Update Event","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[-140,520]},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"vladimir.chernikin.kz@gmail.com","mode":"list","cachedResultName":"vladimir.chernikin.kz@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","options":{}},"id":"28e72aed-e50e-4204-ba1b-f2cf56da6368","name":"Delete Event","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[20,520]},{"parameters":{},"id":"1db9b877-93f1-4d6f-9bae-3725c316e4f2","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-820,100]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\n**Calendar Management Tools**\n   - Use \"Create Event\" for solo events. \n   - Use \"Create Event with Attendee\" when an event includes a participant. If email is not specified, then use \"Create Event\".\n   - Use \"Get Events\" to fetch calendar schedules when requested.\n   - Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n   - Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn't specified, assume it will be one hour."}},"id":"b77319b5-bbca-47e2-8920-5cc1ef703054","name":"Calendar agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-600,100],"onError":"continueErrorOutput"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Calendar agent","type":"ai_languageModel","index":0}]]},"Get Events":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Create Event":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Create Event with Attendee":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Update Event":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Delete Event":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Calendar agent","type":"main","index":0}]]},"Calendar agent":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0e7bc94d-caf1-4fc4-9e28-08676c7adf1f","triggerCount":0,"tags":[{"createdAt":"2025-06-23T18:48:16.608Z","updatedAt":"2025-06-23T18:48:16.608Z","id":"1PNbFa1QA8lLmZ0v","name":"vv"}]}