vvAgentAssistantTask-AcHpoJrphLjEJAkM.json
{"createdAt":"2025-04-13T16:02:48.178Z","updatedAt":"2025-04-19T15:39:54.603Z","id":"AcHpoJrphLjEJAkM","name":"vvAgentAssistantTask","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1020,340],"id":"53b4b6c5-2236-4ba2-9e48-44ebd5ada5f7","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1020,500],"id":"cc51ae67-a0a4-4d25-8c9e-09ed243714e9","name":"Try Again"},{"parameters":{"options":{}},"id":"47b16b96-5fc5-42fe-ba25-956aaaaf7b6d","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[300,680],"credentials":{"openAiApi":{"id":"PeTtyI7eZUxZ6b8n","name":"vvAgentAssistant"}}},{"parameters":{},"id":"9fb795bd-0341-4ae8-9b41-c3055eddbd84","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[140,400]},{"parameters":{"documentId":{"__rl":true,"value":"=https://docs.google.com/spreadsheets/d/1njTLviLQeJECg_d0eI1i2gpSESvtCa0BkXAFyEDrJ04/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":248825998,"mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1njTLviLQeJECg_d0eI1i2gpSESvtCa0BkXAFyEDrJ04/edit#gid=248825998"},"options":{}},"id":"71ac1764-8544-4c3f-b076-d43c57782c3d","name":"Get Task","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[540,680],"credentials":{"googleSheetsOAuth2Api":{"id":"mnii8qvbNQ5CkhDD","name":"Assistent-vv-GoogleSheets "}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"=https://docs.google.com/spreadsheets/d/1njTLviLQeJECg_d0eI1i2gpSESvtCa0BkXAFyEDrJ04/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":248825998,"mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1njTLviLQeJECg_d0eI1i2gpSESvtCa0BkXAFyEDrJ04/edit#gid=248825998"},"columns":{"mappingMode":"defineBelow","value":{"Описание":"={{ $fromAI(\"description\") }}","Статус":"={{ $fromAI(\"status\") }}","Ответственный":"={{ $fromAI(\"responsible\") }}","Дата дедлайна":"={{ $fromAI(\"deadlineDate\") }}","Комментарии к задаче":"={{ $fromAI(\"comments\") }}","Дата последнего изменения статуса":"={{ $fromAI(\"dateOfLastUpdateStatus\") }}","Ссылка на связанную задачу":"={{ $fromAI(\"linkToRelatedTask\") }}","Номер":"={{ $fromAI(\"number\") }}"},"matchingColumns":["Номер"],"schema":[{"id":"Номер","displayName":"Номер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Описание","displayName":"Описание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ответственный","displayName":"Ответственный","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Дата последнего изменения статуса","displayName":"Дата последнего изменения статуса","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Дата дедлайна","displayName":"Дата дедлайна","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Комментарии к задаче","displayName":"Комментарии к задаче","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ссылка на связанную задачу","displayName":"Ссылка на связанную задачу","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"23befaa4-ea4c-49ec-bf31-cb244546bb18","name":"Add or Update Task","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[720,680],"credentials":{"googleSheetsOAuth2Api":{"id":"mnii8qvbNQ5CkhDD","name":"Assistent-vv-GoogleSheets "}}},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a task management assistant. Your responsibilities include getting tasks, adding new tasks, or updating existing ones.\n\n**Task Management**  \n   - Use \"Get Tasks\" to get information about tasks.  \n   - Use \"Add or Update Task\" to store new tasks or update existing ones.\n\n## Rules\n- If a new task is inserted, then you must first get all tasks through the node \"Get Tasks\", select the maximum number and assign the new row a number - the maximum + 1. If the list of received tasks is empty - then new number is 0.\n- Every task must include task description and task number. These fields are mandatory and must always be provided.\n- Task number is unique. It is the primary identifier used to find a task.\n- Task description is unique. It is the primary identifier used to find or update a task.\n- When a status is filled in for the first time or updated, the last status update date field is filled in with the value - {{ $now.format('dd.MM.yyyy') }}\n- The status can only take values ​​from the list: `\"Поступила\"`, `\"Назначена\"`, `\"Принята в работу\"`, `\"Выполнена\"`, `\"Завершена\"`\n\n- Default values:\n  - If task status is not provided, default as follows:\n    - If the task has no assignee, set status to `\"Поступила\"`\n    - If the task has an assignee, set status to `\"Назначена\"`\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[400,400],"id":"ca98cc76-3a91-46e6-aa14-aa03ae520c6a","name":"Task agent","onError":"continueErrorOutput"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Task agent","type":"ai_languageModel","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Task agent","type":"main","index":0}]]},"Get Task":{"ai_tool":[[{"node":"Task agent","type":"ai_tool","index":0}]]},"Add or Update Task":{"ai_tool":[[{"node":"Task agent","type":"ai_tool","index":0}]]},"Task agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1aa61caf-c7a0-492e-9126-9c4409dd0f34","triggerCount":0,"tags":[{"createdAt":"2025-04-08T08:03:46.944Z","updatedAt":"2025-04-08T08:03:46.944Z","id":"9GK9TGGZgfmsCFnI","name":"vv"}]}