vvAgentAssistentContact-J2QCArnWq3LmziJW.json
{"createdAt":"2025-06-23T18:52:25.554Z","updatedAt":"2025-06-23T18:52:25.554Z","id":"J2QCArnWq3LmziJW","name":"vvAgentAssistentContact","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"900d08a6-7006-4359-99ff-b786fb3b11e2","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,180],"id":"6c36cba2-7692-442b-a268-50ed333ac150","name":"Try Again"},{"parameters":{"options":{}},"id":"8627eda3-77db-4558-ae29-2a0d7497aa94","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-660,300]},{"parameters":{},"id":"24ca4e2e-f1ed-418f-8f8b-0ada03ea6ff2","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-800,40]},{"parameters":{"url":"https://people.googleapis.com/v1/people/me/connections","authentication":"predefinedCredentialType","nodeCredentialType":"googleContactsOAuth2Api","sendQuery":true,"parametersQuery":{"values":[{"name":"personFields","valueProvider":"fieldValue","value":"names,emailAddresses,phoneNumbers,birthdays,organizations"}]}},"id":"f03a4e04-87e7-4af6-ac67-813d9d6ca91c","name":"Get All Contacts","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-260,300]},{"parameters":{"sessionIdType":"customKey","sessionKey":"{{ Math.floor(Date.now() / 1000 / 120) }}"},"id":"a40a8b62-2967-4ceb-a443-83962ba05ccc","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[-440,300]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a contact management assistant. Your responsibilities include finding contacts, adding new contacts, or updating contact information.\n\n**Manage Contacts**\n- Use \"Get All Contacts\" to get a complete list of all saved contacts.\n- Use \"Find Contact\" to find a contact by a specific name. Returns matching contacts and their resourceName and etag. Use \"Find All Contacts\" first and then find all matching contacts by their full name.\n- Use \"Add Contact\" to save a new contact. You can include names, emails, phone numbers, birthdays, organizations, and other optional fields.\n- Use \"Update Contact\" to update an existing contact with resourceName (ID). Only the fields provided will be updated - the rest will remain unchanged. Before updating, you must first find the specified contact using \"Find Contact\" to get the resourceName and etag from it."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-480,40],"id":"89f9886d-0ad1-4301-b00b-22ebb02ecfac","name":"Contact agent","onError":"continueErrorOutput"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Contact agent","type":"ai_languageModel","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Contact agent","type":"main","index":0}]]},"Get All Contacts":{"ai_tool":[[{"node":"Contact agent","type":"ai_tool","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Contact agent","type":"ai_memory","index":0}]]},"Contact agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5279168e-a97c-47f8-a234-c5e3dc699fa6","triggerCount":0,"tags":[{"createdAt":"2025-06-23T18:48:16.608Z","updatedAt":"2025-06-23T18:48:16.608Z","id":"1PNbFa1QA8lLmZ0v","name":"vv"}]}