vvAgentAssistantTask-KfSoY3cn2kgdTx19.json
{"createdAt":"2025-06-23T18:51:12.592Z","updatedAt":"2025-06-23T18:51:12.592Z","id":"KfSoY3cn2kgdTx19","name":"vvAgentAssistantTask","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"3f613d93-9f81-4225-b93a-89cc340c778f","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,160],"id":"baf6e7d7-eb70-4a01-85ac-0e0d13f50184","name":"Try Again"},{"parameters":{"options":{}},"id":"42a4a094-e156-4e9a-bd65-15d1f22cd791","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-720,340]},{"parameters":{},"id":"b7858943-0c10-4590-9273-633ce4f364c0","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-880,60]},{"parameters":{"documentId":{"__rl":true,"value":"=https://docs.google.com/spreadsheets/d/1njTLviLQeJECg_d0eI1i2gpSESvtCa0BkXAFyEDrJ04/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":248825998,"mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1njTLviLQeJECg_d0eI1i2gpSESvtCa0BkXAFyEDrJ04/edit#gid=248825998"},"options":{}},"id":"07b88e73-cd1c-46e7-8d28-75a793b715cc","name":"Get Task","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-480,340]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"=https://docs.google.com/spreadsheets/d/1njTLviLQeJECg_d0eI1i2gpSESvtCa0BkXAFyEDrJ04/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":248825998,"mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1njTLviLQeJECg_d0eI1i2gpSESvtCa0BkXAFyEDrJ04/edit#gid=248825998"},"columns":{"mappingMode":"defineBelow","value":{"Описание":"={{ $fromAI(\"description\") }}","Статус":"={{ $fromAI(\"status\") }}","Ответственный":"={{ $fromAI(\"responsible\") }}","Дата дедлайна":"={{ $fromAI(\"deadlineDate\") }}","Комментарии к задаче":"={{ $fromAI(\"comments\") }}","Дата последнего изменения статуса":"={{ $fromAI(\"dateOfLastUpdateStatus\") }}","Ссылка на связанную задачу":"={{ $fromAI(\"linkToRelatedTask\") }}","Номер":"={{ $fromAI(\"number\") }}"},"matchingColumns":["Номер"],"schema":[{"id":"Номер","displayName":"Номер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Описание","displayName":"Описание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ответственный","displayName":"Ответственный","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Дата последнего изменения статуса","displayName":"Дата последнего изменения статуса","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Дата дедлайна","displayName":"Дата дедлайна","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Комментарии к задаче","displayName":"Комментарии к задаче","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ссылка на связанную задачу","displayName":"Ссылка на связанную задачу","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"790a7347-86c0-4204-97c3-a4511a9b8af5","name":"Add or Update Task","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-300,340]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a task management assistant. Your responsibilities include getting tasks, adding new tasks, or updating existing ones.\n\n**Task Management**  \n   - Use \"Get Tasks\" to get information about tasks.  \n   - Use \"Add or Update Task\" to store new tasks or update existing ones.\n\n## Rules\n- If a new task is inserted, then you must first get all tasks through the node \"Get Tasks\", select the maximum number and assign the new row a number - the maximum + 1. If the list of received tasks is empty - then new number is 0.\n- Every task must include task description and task number. These fields are mandatory and must always be provided.\n- Task number is unique. It is the primary identifier used to find a task.\n- Task description is unique. It is the primary identifier used to find or update a task.\n- When a status is filled in for the first time or updated, the last status update date field is filled in with the value - {{ $now.format('dd.MM.yyyy') }}\n- The status can only take values ​​from the list: `\"Поступила\"`, `\"Назначена\"`, `\"Принята в работу\"`, `\"Выполнена\"`, `\"Завершена\"`\n\n- Default values:\n  - If task status is not provided, default as follows:\n    - If the task has no assignee, set status to `\"Поступила\"`\n    - If the task has an assignee, set status to `\"Назначена\"`\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-620,60],"id":"60596b15-7570-46df-832c-1ab8d5bdfea0","name":"Task agent","onError":"continueErrorOutput"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Task agent","type":"ai_languageModel","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Task agent","type":"main","index":0}]]},"Get Task":{"ai_tool":[[{"node":"Task agent","type":"ai_tool","index":0}]]},"Add or Update Task":{"ai_tool":[[{"node":"Task agent","type":"ai_tool","index":0}]]},"Task agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"77ea224f-c5fd-47b0-aa32-71aad03efcd4","triggerCount":0,"tags":[{"createdAt":"2025-06-23T18:48:16.608Z","updatedAt":"2025-06-23T18:48:16.608Z","id":"1PNbFa1QA8lLmZ0v","name":"vv"}]}