vvFinBotNika-PQRo6K0YLb7f7m6a.json
{"createdAt":"2025-07-24T20:00:32.626Z","updatedAt":"2025-07-25T19:56:00.000Z","id":"PQRo6K0YLb7f7m6a","name":"vvFinBotNika","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"aef89f80-2365-4f5c-b5bb-c9d43042e9fd","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-440,360],"id":"1ca79f1d-a686-4a06-aa42-37b3de2b96bc","name":"Edit Fields"},{"parameters":{"mode":"combine","fieldsToMatchString":"text","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[120,340],"id":"ec2dce7a-c28d-4b36-9110-3b5b7d541ec9","name":"Merge"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-440,160],"id":"bf790d60-57da-4bc2-bfa4-bff493b46999","name":"Telegram","webhookId":"1cca6c99-440e-4850-bc5c-32f1402d7848","credentials":{"telegramApi":{"id":"AKC2gRnDJQuXAjbG","name":"FinanceBotTelegramAP"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-280,160],"id":"730bc07e-5cd1-4695-94dd-1c2d72e8a51d","name":"OpenAI","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"assignments":{"assignments":[{"id":"d188f22f-bee5-41af-8697-6355c606bfb9","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-120,160],"id":"191af1d8-f204-47a7-8daa-ec7b6a2b5c17","name":"Edit Fields1"},{"parameters":{"promptType":"define","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[320,340],"id":"e3681b8f-13cc-4de5-b4c9-a0aefb59f9ab","name":"AI Agent","disabled":true},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-880,260],"id":"0bf4f095-d8c2-42ab-ae7d-5b3147ec6fda","name":"Telegram Trigger1","webhookId":"09ebcb5e-4478-4ada-8d81-ce653b6adb36","credentials":{"telegramApi":{"id":"AKC2gRnDJQuXAjbG","name":"FinanceBotTelegramAP"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"3de59270-dbb0-461e-868b-9c1d28f171a4"}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"63baee7b-3b17-4bd5-ad3b-7cc81ec297e6","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-660,260],"id":"b827a541-302b-473f-ba95-7804dc8ac215","name":"Switch1"}],"connections":{"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Telegram Trigger1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5d820ae8-d7ac-46e3-be9d-9ee9f8038e8e","triggerCount":0,"tags":[]}