vvGemini_n8n-OnnoWqSbU0Gv9pNW.json
{"createdAt":"2025-07-07T02:14:08.941Z","updatedAt":"2025-07-28T06:32:14.000Z","id":"OnnoWqSbU0Gv9pNW","name":"vvGemini_n8n","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-320,-140],"id":"ccb29bd9-47ea-4ad8-9906-7015381bed7c","name":"When chat message received","webhookId":"4b53aaf7-6c6e-420f-8d9b-63732a33edd9"},{"parameters":{"method":"POST","url":"http://localhost:8001/run_gemini","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.chatInput }}"},{"name":"model","value":"gemini-2.5-pro"},{"name":"temperature","value":"0.7"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-40,-140],"id":"b169b70d-800a-411f-b173-d76fcc4260da","name":"HTTP Request"},{"parameters":{"jsCode":"// Получаем вопрос из первого входящего item (chat trigger)\nconst question = $('When chat message received').first().json.chatInput|| \"хх\";\n\n// Получаем ответ из текущего item (HTTP Request)\nconst answer = $json[\"response\"] || \"\";\n\n// Формируем результат\nconst output = `${question}\\n\\n${answer}`;\n\nreturn [{ json: { result: output } }];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,-140],"id":"7e5b8d9a-76c9-46de-9b33-762aaee96563","name":"Code"}],"connections":{"When chat message received":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f4787a77-f795-48f7-8188-b732b33d4774","triggerCount":0,"tags":[]}