Генерация-скаченного-фото-в-тг-(не-рабочая)-KxXRQs7JeeUnaRYc.json
{"createdAt":"2025-06-23T18:53:49.330Z","updatedAt":"2025-08-05T09:48:31.000Z","id":"KxXRQs7JeeUnaRYc","name":"Генерация-скаченного-фото-в-тг-(не-рабочая)","active":false,"isArchived":true,"nodes":[{"parameters":{"method":"POST","url":"https://api.gogpt.ru/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer Yk-QWaYDtvVdeFVJPLBBcCK9XPJnrcSZAM9sSC3x2mwg9uTtdX"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n        \"role\": \"user\",\n        \"content\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"Придумай смешное описание к этой фотографии\"\n          },\n          {\n            \"type\": \"image_url\", \n            \"image_url\": \n            {\n              \"url\": \"data:image/png;base64,{{ $json.base64_image }}\"         \n            }\n          }\n        ]\n    }\n  ]\n}","options":{}},"id":"e74d6d6c-ef91-4bbb-9591-5886133f6714","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,0]},{"parameters":{"operation":"sendPhoto","chatId":"1908115440","binaryData":true,"binaryPropertyName":"=bin_image","additionalFields":{"caption":"={{ $('Merge').item.json.choices[0].message.content }}"}},"id":"78ce419b-b79b-4b18-93a6-ca717ceb76e8","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[740,120],"webhookId":"98643e8d-9cae-43ac-8dde-e90efca57e5f"},{"parameters":{"rule":{"interval":[{"field":"hours","triggerAtMinute":1}]}},"id":"9d7bdfa5-2f32-4419-a095-d4fd97a3d008","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-480,140]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1ZdWqLxgiGN8sjGLJq2XhZ0hB1x2fCGDY","mode":"list","cachedResultName":"photo_2025-02-18_19-57-26.png","cachedResultUrl":"https://drive.google.com/file/d/1ZdWqLxgiGN8sjGLJq2XhZ0hB1x2fCGDY/view?usp=drivesdk"},"options":{"binaryPropertyName":"bin_image","googleFileConversion":{"conversion":{"drawingsToFormat":"image/png"}}}},"id":"46f7ad7a-4693-4217-8d3e-5b21ed0be98c","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-240,140]},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"bin_image","destinationKey":"base64_image","options":{}},"id":"568d5159-9554-463b-a73d-2fceaaa636f1","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[0,0]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"id":"9489981e-4731-4cf6-8f02-2a19bb53bd9c","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[560,120]}],"connections":{"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Extract from File":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ece04b86-6587-45a7-8038-07637901af5a","triggerCount":0,"tags":[]}