Генерация-фото-в-тг-L5DUduM3uTPtEPRn.json
{"createdAt":"2025-06-23T18:54:38.188Z","updatedAt":"2025-06-23T18:54:38.188Z","id":"L5DUduM3uTPtEPRn","name":"Генерация-фото-в-тг","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"sendPhoto","chatId":"1908115440","file":"={{ $('Generate image').item.json.data[0].url }}","additionalFields":{"caption":"={{ $json.choices[0].message.content }}"}},"id":"80ce688c-695b-4b87-ac0f-6896059981ab","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[900,0],"webhookId":"252d6e07-9f67-4086-8057-dd94d1a1803e"},{"parameters":{"rule":{"interval":[{"field":"hours","triggerAtMinute":1}]}},"id":"e5ae0e93-8df3-4690-aaeb-a791d9827569","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"method":"POST","url":"https://api.gogpt.ru/v1/images/generations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer Yk-QWaYDtvVdeFVJPLBBcCK9XPJnrcSZAM9sSC3x2mwg9uTtdX"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"dall-e-3\",\n  \"prompt\": \"Generate a gondolier\",\n   \"n\": 1,\n   \"size\": \"1024x1024\"\n}","options":{}},"id":"b5c26323-6a10-4225-b6a8-fdafdaca87a1","name":"Generate image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,0]},{"parameters":{"method":"POST","url":"https://api.gogpt.ru/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer Yk-QWaYDtvVdeFVJPLBBcCK9XPJnrcSZAM9sSC3x2mwg9uTtdX"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n        \"role\": \"user\",\n        \"content\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"Придумай смешное описание к этой фотографии\"\n          },\n          {\n            \"type\": \"image_url\", \n            \"image_url\": \n            {\n              \"url\": \"{{ $json.data[0].url }}\"         \n            }\n          }\n        ]\n    }\n  ]\n}","options":{}},"id":"fc92d959-842a-4523-95f0-f7ca431c17d3","name":"Describe image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,0]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Generate image","type":"main","index":0}]]},"Generate image":{"main":[[{"node":"Describe image","type":"main","index":0}]]},"Describe image":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a6252402-8e5b-4e33-a062-25cd28748b1c","triggerCount":0,"tags":[]}