Генерация-скаченного-фото-в-тг-(не-рабочая)-rssr6AfsftIXpcCs.json
{"createdAt":"2025-02-18T16:00:00.226Z","updatedAt":"2025-04-18T06:42:53.369Z","id":"rssr6AfsftIXpcCs","name":"Генерация скаченного фото в тг (не рабочая)","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.gogpt.ru/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer Yk-QWaYDtvVdeFVJPLBBcCK9XPJnrcSZAM9sSC3x2mwg9uTtdX"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n        \"role\": \"user\",\n        \"content\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"Придумай смешное описание к этой фотографии\"\n          },\n          {\n            \"type\": \"image_url\", \n            \"image_url\": \n            {\n              \"url\": \"data:image/png;base64,{{ $json.base64_image }}\"         \n            }\n          }\n        ]\n    }\n  ]\n}","options":{}},"id":"cb2a68b4-9a0e-4e57-93e4-2a3c3ea3a419","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,220]},{"parameters":{"operation":"sendPhoto","chatId":"1908115440","binaryData":true,"binaryPropertyName":"=bin_image","additionalFields":{"caption":"={{ $('Merge').item.json.choices[0].message.content }}"}},"id":"8c25df23-b8c8-4d79-aa0d-4eb3ef6d80bb","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[800,340],"credentials":{"telegramApi":{"id":"Oh102Z2XUHLo8NIY","name":"Telegram шутки"}}},{"parameters":{"rule":{"interval":[{"field":"hours","triggerAtMinute":1}]}},"id":"94fb81bd-9208-49ad-a389-4227cbcc650d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-420,360]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1ZdWqLxgiGN8sjGLJq2XhZ0hB1x2fCGDY","mode":"list","cachedResultName":"photo_2025-02-18_19-57-26.png","cachedResultUrl":"https://drive.google.com/file/d/1ZdWqLxgiGN8sjGLJq2XhZ0hB1x2fCGDY/view?usp=drivesdk"},"options":{"binaryPropertyName":"bin_image","googleFileConversion":{"conversion":{"drawingsToFormat":"image/png"}}}},"id":"fabdc512-5674-4142-940f-252adc434240","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-180,360],"credentials":{"googleDriveOAuth2Api":{"id":"XfIoMk4DQEkZRaBL","name":"Google Drive account"}}},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"bin_image","destinationKey":"base64_image","options":{}},"id":"dfde008e-a9c3-4800-a6be-05a0ebe63c99","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[60,220]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"id":"3872d08f-02f2-4293-8cf1-2e39bda6463e","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[620,340]}],"connections":{"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Extract from File":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4fb80a8c-a0ef-4e42-9a20-5205be103699","triggerCount":0,"tags":[]}