Задача_с_рецептами-uAlZU4hglEGhSMNk.json
{"createdAt":"2025-06-23T18:55:50.853Z","updatedAt":"2025-06-23T18:56:22.000Z","id":"uAlZU4hglEGhSMNk","name":"Задача_с_рецептами","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":5}]}},"id":"63cd1ec4-bcd1-41f9-9e81-65b282749b0d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"url":"https://api.spoonacular.com/recipes/random","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"number","value":"1"},{"name":"include-tags","value":"dessert"}]},"options":{}},"id":"bbcce514-c842-4e76-8e31-7467f7bf26c3","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0]},{"parameters":{"operation":"sendPhoto","chatId":"1908115440","file":"={{ $json.recipes[0].analyzedInstructions[0].steps[1].equipment[2].image }}","replyMarkup":"=None","forceReply":{},"replyKeyboardOptions":{},"replyKeyboardRemove":{},"additionalFields":{"caption":"={{ $json.recipes[0].analyzedInstructions[0].steps[1].equipment[2].name }}\n{{ $json.recipes[0].spoonacularSourceUrl }}"}},"id":"c25483a6-4768-4288-b4c8-01ef910fdad0","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[440,0],"webhookId":"d1e88110-cb28-4605-918e-883630f72a48"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d1f16c2e-dd2f-4d59-b39f-02432402a1b3","triggerCount":0,"tags":[]}