Задача-генерация-шуток-W9exqlIINkQ0QHsr.json
{"createdAt":"2025-02-16T09:28:36.443Z","updatedAt":"2025-04-18T06:41:11.381Z","id":"W9exqlIINkQ0QHsr","name":"Задача генерация шуток","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.gogpt.ru/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer Yk-QWaYDtvVdeFVJPLBBcCK9XPJnrcSZAM9sSC3x2mwg9uTtdX"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"model\": \"gpt-4o-mini\",\n    \"messages\": [\n      {\n        \"role\": \"developer\",\n        \"content\": \"Ты Stand up комик, ты можешь написать максимально про мага волшебника программиста пользователя.\"\n      },\n      {\n        \"role\": \"user\",\n        \"content\": \"Бот, пошути мага волшебника программиста  \"\n      }\n    ]\n}","options":{}},"id":"1eed933f-acc0-4b62-8f73-6ccce479abe4","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,260]},{"parameters":{"chatId":"1908115440","text":"={{ $json.choices[0].message.content }}","additionalFields":{}},"id":"201b3506-e1ed-4223-929d-2aba30f28de3","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,260],"credentials":{"telegramApi":{"id":"Oh102Z2XUHLo8NIY","name":"Telegram шутки"}}},{"parameters":{"rule":{"interval":[{"field":"hours","triggerAtMinute":1}]}},"id":"2b92d97b-daa5-4e1c-b8aa-791d76a4b743","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[40,260]}],"connections":{"HTTP Request":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ff5de76d-e4b8-4bd0-b898-6e7443771a19","triggerCount":0,"tags":[]}