Задача-по-генерации-фото-в-тг-(не-совсем-рабочая)-G0Ttui6tJyFGKTpW.json
{"createdAt":"2025-02-24T18:32:34.793Z","updatedAt":"2025-04-18T06:44:08.144Z","id":"G0Ttui6tJyFGKTpW","name":"Задача по генерации фото в тг (не совсем рабочая)","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.gogpt.ru/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer Yk-QWaYDtvVdeFVJPLBBcCK9XPJnrcSZAM9sSC3x2mwg9uTtdX"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n        \"role\": \"user\",\n        \"content\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"Придумай смешное описание к этой фотографии\"\n          },\n          {\n            \"type\": \"image_url\", \n            \"image_url\": \n            {\n              \"url\": \"data:image/png;base64,{{ $json.base64_image }}\"         \n            }\n          }\n        ]\n    }\n  ]\n}","options":{}},"id":"7c53e16c-a381-4528-b840-cb7923a8d1ef","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1220,180]},{"parameters":{"operation":"sendPhoto","chatId":"1908115440","binaryData":true,"binaryPropertyName":"=bin_image","additionalFields":{"caption":"={{ $('Merge').item.json.choices[0].message.content }}"}},"id":"2988fc3e-3c46-460f-9ad0-f9f9cdc2d078","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1840,320],"credentials":{"telegramApi":{"id":"Oh102Z2XUHLo8NIY","name":"Telegram шутки"}}},{"parameters":{"rule":{"interval":[{"field":"hours","triggerAtMinute":1}]}},"id":"711baeff-94b9-46aa-a840-5dce6f470d1a","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[120,340]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1ZdWqLxgiGN8sjGLJq2XhZ0hB1x2fCGDY","mode":"list","cachedResultName":"photo_2025-02-18_19-57-26.png","cachedResultUrl":"https://drive.google.com/file/d/1ZdWqLxgiGN8sjGLJq2XhZ0hB1x2fCGDY/view?usp=drivesdk"},"options":{"binaryPropertyName":"bin_image","googleFileConversion":{"conversion":{"drawingsToFormat":"image/png"}}}},"id":"fc60e57c-0335-4432-9035-244983b97d17","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[480,340],"credentials":{"googleDriveOAuth2Api":{"id":"XfIoMk4DQEkZRaBL","name":"Google Drive account"}}},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"bin_image","destinationKey":"base64_image","options":{}},"id":"cbce9721-2800-4222-bf7d-538c4dcacb18","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[900,180]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"id":"21368775-4c46-40c1-82b1-4521a898b0d6","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1580,320]}],"connections":{"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Extract from File":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0d27d751-f3e6-4493-bea7-c487c321e22e","triggerCount":0,"tags":[]}