Тест_видео-sxPPMHQMAfH0wUdG.json
{"createdAt":"2025-07-28T11:09:28.592Z","updatedAt":"2025-07-28T11:17:33.000Z","id":"sxPPMHQMAfH0wUdG","name":"Тест_видео","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-380,-40],"id":"7bd9ed95-275b-4f30-8bba-48e7cb6bb7ef","name":"When chat message received","webhookId":"48f5b782-a086-4543-9c44-c4573a7f302d"},{"parameters":{"method":"POST","url":"http://127.0.0.1:8002/media_handler","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"operation_type\": \"CopyYouTubeVideo\",\n   \"context\": \"{{ $json.youtube_link }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[100,-40],"id":"93140812-3356-4143-bc3a-31b3ac410fa9","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"758d38de-c4fe-45ae-9d46-b7250164cc0a","name":"youtube_link","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,-40],"id":"d43c3cb2-2b79-40c3-bda4-21bf10a34bdc","name":"Edit Fields"}],"connections":{"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f8fa112a-9f8e-4610-8861-a797c57c97ab","triggerCount":0,"tags":[]}