Тест-бот-f3JFYtJQlxrtXrYC.json
{"createdAt":"2025-07-24T12:56:44.116Z","updatedAt":"2025-07-25T20:05:39.000Z","id":"f3JFYtJQlxrtXrYC","name":"Тест бот","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"3de59270-dbb0-461e-868b-9c1d28f171a4"}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"63baee7b-3b17-4bd5-ad3b-7cc81ec297e6","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-460,-20],"id":"cabeaf23-da7f-463f-94d4-7b9110b58815","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram trigger').item.json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-260,-260],"id":"23ca5ec4-a7e4-4524-b48c-2fd7a0d2d1db","name":"Telegram","webhookId":"27174ae4-b85c-4e5a-9df8-8ad897131a56","credentials":{"telegramApi":{"id":"E5qHu8HNdHIomTbB","name":"Finance"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-680,-20],"id":"311c5b38-cc97-427c-a46d-d8d6ce22d20b","name":"Telegram trigger","webhookId":"09ebcb5e-4478-4ada-8d81-ce653b6adb36","credentials":{"telegramApi":{"id":"E5qHu8HNdHIomTbB","name":"Finance"}}},{"parameters":{"assignments":{"assignments":[{"id":"02a0eb2e-8c87-4965-b5fa-42c3ade84f95","name":"text","value":"={{ $('Telegram trigger').item.json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-20,0],"id":"fe9bf304-2b51-4e13-86e6-773f397aef21","name":"set text"},{"parameters":{"mode":"combine","fieldsToMatchString":"text","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[440,-20],"id":"eb604f09-c845-47da-8326-7806f8126831","name":"Merge"},{"parameters":{"promptType":"define","text":"={{ $('Merge').item.json.text }}","hasOutputParser":true,"options":{"systemMessage":"=System:\nВы — AI‑агент FinancialTracker. Ваша задача:\n1. Получить JSON‑объект с массивом транзакций. Каждая транзакция — объект с полями:\n   - date (строка в формате YYYY-MM-DD)\n   - type (строка: \"income\" или \"expense\")\n   - amount (число)\n   - comment (опционально, строка)\n2. Сгруппировать транзакции по календарным месяцам (например, \"2025-07\").\n3. Для каждого месяца вычислить:\n   • total_income = сумма amount для type == \"income\"  \n   • total_expense = сумма amount для type == \"expense\"\n4. Проанализировать структуру ваших доходов за этот месяц:\n   - Есть ли колебания по источникам?  \n   - Сколько процентов дохода даёт основной заработок и сколько — фриланс/дополнительные подработки?\n   - Увеличился ли доход по сравнению с предыдущим месяцем?\n5. Сформировать для этого месяца в колонку «дополнительный комментарий» рекомендации по увеличению доходов:\n   - Предложить диверсифицировать источники (например, освоить новую платформу фриланса)\n   - Порекомендовать повысить ставки/цены, если загруженность близка к 100%\n   - Подсказать, где можно оптимизировать время (перенести часть задач на аутсорс)\n   - Предложить новые виды деятельности на основе вашего профиля (если есть данные)\n6. Подключиться к Notion API (токен из переменной окружения NOTION_TOKEN, база — из DATABASE_ID) и для каждого месяца выполнить upsert:\n   - Найти страницу по свойству «Месяц» == `YYYY-MM-01`.  \n   - Если найдена — обновить, иначе — создать новую.\n   - Заполнить свойства:\n     • «Месяц» (Date) — `YYYY-MM-01`  \n     • «Доходы» (Number) — total_income  \n     • «расходы» (Number) — total_expense  \n     • «дополнительный комментарий» (Text) — сформированный совет по увеличению доходов\n7. При ошибках API — логировать и продолжать со следующим месяцем.\n\nИспользуйте:\n- POST https://api.notion.com/v1/pages для создания  \n- PATCH https://api.notion.com/v1/pages/{page_id} для обновления  \n\nПеременные окружения:\nNOTION_TOKEN = `<NOTION_TOKEN>`  \nDATABASE_ID = `<DATABASE_ID>`\n\nUser:\n```json\n{\n  \"transactions\": [\n    {\"date\": \"2025-07-05\", \"type\": \"income\", \"amount\": 5000, \"comment\": \"зарплата\"},\n    {\"date\": \"2025-07-12\", \"type\": \"expense\", \"amount\": 1500, \"comment\": \"аренда\"},\n    {\"date\": \"2025-08-01\", \"type\": \"income\", \"amount\": 4800, \"comment\": \"фриланс\"},\n    {\"date\": \"2025-08-03\", \"type\": \"expense\", \"amount\": 2000, \"comment\": \"поездка\"}\n    // … ваши транзакции …\n  ]\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[680,-20],"id":"c3d372b6-cb18-4666-8cfc-16804d1a9273","name":"AI Agent","retryOnFail":false},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[360,240],"id":"97412b57-15d0-4e45-8191-23625f45ac8d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=123","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[600,240],"id":"8f4886c3-5b89-40db-9ddb-854ff7a4a9ae","name":"Simple Memory"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-20,-260],"id":"c069fe0e-3380-4093-a305-80fa4d0834e2","name":"OpenAI","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"assignments":{"assignments":[{"id":"22e1d109-30ac-45d4-92f6-e8f8459cc49e","name":"text","value":"={{ $('Transcribe voice').item.json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[180,-260],"id":"d00cf621-84f8-4bb9-bb49-3702000288ca","name":"Edit Fields"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"23a57ae1-e71a-80b3-923b-ea300255e97f","mode":"list","cachedResultName":"месячный расчёт","cachedResultUrl":"https://www.notion.so/23a57ae1e71a80b3923bea300255e97f"},"title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","simple":false,"propertiesUi":{"propertyValues":[{"key":"месяц|title","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues0_Title', ``, 'string') }}"},{"key":"Доходы|rich_text","textContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues1_Text', ``, 'string') }}"},{"key":"расходы|rich_text","textContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues2_Text', ``, 'string') }}"},{"key":"дополнительный комментарий|rich_text","textContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues3_Text', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[780,240],"id":"bfa8c263-b817-4d97-91a5-d0dcdac96e37","name":"Create notion page","credentials":{"notionApi":{"id":"LVAd48XNAY0Np4vj","name":"Notion vm"}}},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json.message.chat.id }}","text":"={{ $('AI Agent').item.json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1040,-20],"id":"f06022f7-2287-4768-9592-6dccb0859563","name":"Telegram1","webhookId":"c9b1b7b1-f29e-47b5-ad49-eedfd8a741b8","credentials":{"telegramApi":{"id":"E5qHu8HNdHIomTbB","name":"Finance"}}},{"parameters":{"assignments":{"assignments":[{"id":"d188f22f-bee5-41af-8697-6355c606bfb9","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,440],"id":"e2000965-e545-4662-93b2-58ad9a0c4d3e","name":"Edit Fields1"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-660,540],"id":"b8bac141-6b40-474c-8bc9-17fa425ff466","name":"Telegram Trigger1","webhookId":"09ebcb5e-4478-4ada-8d81-ce653b6adb36","credentials":{"telegramApi":{"id":"E5qHu8HNdHIomTbB","name":"Finance"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"3de59270-dbb0-461e-868b-9c1d28f171a4"}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"63baee7b-3b17-4bd5-ad3b-7cc81ec297e6","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-440,540],"id":"5ab9c1c2-0af5-4862-bd44-e15d655bbd94","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"aef89f80-2365-4f5c-b5bb-c9d43042e9fd","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-220,640],"id":"c91f8403-7151-4c90-88d3-a69fc1d87505","name":"Edit Fields2"},{"parameters":{"mode":"combine","fieldsToMatchString":"text","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[340,620],"id":"4e533a45-2737-4ac8-9ae0-958ffd32b7b3","name":"Merge1"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-220,440],"id":"c7ea805f-179e-4546-9d2d-e2207f25cd26","name":"Telegram2","webhookId":"1cca6c99-440e-4850-bc5c-32f1402d7848","credentials":{"telegramApi":{"id":"E5qHu8HNdHIomTbB","name":"Finance"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-60,440],"id":"7ee21d38-6a05-451b-bf09-997a9acf2623","name":"OpenAI1","credentials":{"openAiApi":{"id":"GNF43Sew2wDttbmY","name":"OpenAi VV"}}},{"parameters":{"promptType":"define","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[980,380],"id":"c302ea04-8b18-42f4-8073-82f75d948f04","name":"AI Agent1","disabled":true}],"connections":{"Switch":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"set text","type":"main","index":0}]]},"Telegram trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"set text":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Create notion page":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Telegram Trigger1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Telegram2","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[]]},"Telegram2":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2c138657-427a-4ee9-a918-fb4106c8c67a","triggerCount":0,"tags":[]}